{% extends "base.html" %}
{% load staticfiles %}
{% load sass_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/institution_details.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}
    <div class="discover-uni-container">
        <div class="institution-details">
            <div class="institution-details__lead">
                <img class="institution-details__icon" src="{% static 'images/institution_icon.svg' %}" alt="">

                <h1 class="institution-details__name">
                    {{institution.english_title}} University of Kent
                </h1>

                <div class="institution-details__overview">
                    <div class="institution-details__overview-item">
                        <p class="institution-details__overview-item-heading">Address</p>
                        <p class="institution-details__overview-item-value">{{ course.length.code }}</p>
                    </div>

                    <div class="institution-details__overview-item">
                        <p class="institution-details__overview-item-heading">Website</p>
                        <p class="institution-details__overview-item-value">{{ course.mode.label }}</p>
                    </div>

                    <div class="institution-details__overview-item">
                        <p class="institution-details__overview-item-heading">Telephone</p>
                        <p class="institution-details__overview-item-value">{{ course.distance_learning.label }}</p>
                    </div>

                    <div class="institution-details__overview-item">
                        <p class="institution-details__overview-item-heading">Student Unions</p>
                        <p class="institution-details__overview-item-value">{{ course.sandwich_year.label }}</p>
                    </div>
                </div>
            </div>

            <div class="institution-details__qa">
                <h2 class="institution-details__qa-heading">
                    {{page.qa_heading}}
                </h2>

                <div class="institution-details__qa-body">
                    {{page.qa_body | safe}}
                </div>

                <a class="institution-details__qa-report-link" href="/dummy-link">
                    {{page.qa_report_link}}
                </a>

                <div class="explanation">
                    <div class="explanation__link">
                        <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                        <p class="information-link">{{page.qa_explanation_link}}</p>
                    </div>
                </div>
            </div>

            <div class="institution-details__apr">
                <h2 class="institution-details__apr-heading">
                    {{page.apr_heading}} {{institution.apr_result}}
                </h2>

                <div class="institution-details__apr-body">
                    {{page.apr_body | safe}}
                </div>

                <div class="explanation">
                    <div class="explanation__link">
                        <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                        <p class="information-link">{{page.apr_explanation_link}}</p>
                    </div>
                </div>
            </div>

            <div class="institution-details__tef">
                <h2 class="institution-details__tef-heading">
                    {{page.tef_heading}}
                </h2>

                <a class="institution-details__tef-report-link" href="/dummy-link">
                    {{page.tef_report_link}}
                </a>

                <div class="explanation">
                    <div class="explanation__link">
                        <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                        <p class="information-link">{{page.tef_explanation_link}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
