{% extends "search.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-whattostudy{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="searchtool-section what-to-study">
  <div class="searchtool-header">
    {{ page.header|richtext }}
  </div>
  <div class="inputs">
    <input type="text" placeholder="{{page.placeholder}}" />
    <button role="button">{{page.button}}</button>
  </div>
  <button role="button" class="dont-know">{{page.button_two}}</button>
  <div class="help-decide">
    <button role="button">
      {{ page.help_decide}}
    </button>
  </div>
</div>

{% endblock content %}
