{% extends "search.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-wheretostudy{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="searchtool-section where-to-study">
  <div class="searchtool-header">
    {{ page.header|richtext }}
  </div>
  <div class="options">
    {% for block in page.options %}
      <button type="button">
        {% include_block block %}
      </button>
    {% endfor %}
  </div>
  <div class="help-decide">
    <button role="button">
      {{ page.help_decide}}
    </button>
  </div>
</div>

{% endblock content %}
