{% extends "base.html" %}
{% load staticfiles wagtailcore_tags discover_uni_tags sass_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link href="{% sass_src 'scss/search_landing.scss' %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="search-landing-page">
        <div class="discover-uni-container">
            <h1 class="search-landing-page__heading">
                {{ page.heading }}
            </h1>

            <div class="search-landing-page__nav-cards">
                <div class="search-landing-page__nav-card">

                    <p class="search-landing-page__nav-card-label">
                        {{ page.search_heading }}
                    </p>

                    <form class="search-landing-page__search" action="{{search_url}}" method="get" autocomplete="off">
                        <div class="search-landing-page__search-fields">
                            <div class="search-landing-page__search-input">
                                <input name="subject_query" type="text" id="course" aria-label="{% get_translation key='course_name' language=page.get_language %}"
                                       placeholder="{% get_translation key='course_name' language=page.get_language %}" autocomplete="off">
                            </div>

                            <div class="search-landing-page__search-input">
                                {% get_translation key='uni_and_college' language=page.get_language as placeholder %}
                                {% include 'partials/search-dropdown.html' with placeholder=placeholder field_name='institution_query' options=institutions_list %}
                            </div>
                        </div>

                        <button class="search-landing-page__nav-card-button"
                             aria-label="{{card.value.search_button_description}}">
                            {% get_translation key='search' language=page.get_language %}
                        </button>

                    </form>
                </div>

                <a href='{{course_finder_url}}' class="search-landing-page__nav-card">
                    <p class="search-landing-page__nav-card-label">
                        {{ page.course_finder_heading }}
                    </p>

                    <img class="search-landing-page__nav-card-icon" src="{% static 'images/clipboard2_icon.svg' %}" alt="clipboard">
                </a>
            </div>

            {% if disclaimer %}
                <div class="search-landing-page__disclaimer">
                    {{ disclaimer }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
