{% extends "base.html" %}
{% load static wagtailcore_tags sass_tags discover_uni_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/content.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="content-page content-landing-page">
        <div class="content-landing-page__content discover-uni-container">
            {% include 'partials/breadcrumbs.html' %}

            <h1 class="content-page__header">
                {{ page.title }}
            </h1>


            <div class="content-page__intro">
                {% if page.intro %}
                    {{ page.intro | richtext }}
                {% endif %}
            </div>

            <div class="content-landing-page__links">
                {% for link in page.options %}
                    <div class="content-landing-page__link">
                        {{ link }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
