{% extends "base.html" %}
{% load static wagtailcore_tags sass_tags discover_uni_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/content.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="flat-content-page content-page">
        <div class="discover-uni-container">
            {% include 'partials/breadcrumbs.html' %}
            
            <div class="flat-content-page__body">
                {{ page.content_body | richtext }}

                 {% if 'survey' in page.title|lower %}
                    <script id="ss-embed-968180">
                        (function(d,w){var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=767222&c=968180';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);})(document,window);
                    </script>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}
