{% extends "base.html" %}
{% load static wagtailcore_tags sass_tags discover_uni_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/content.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="flat-content-page content-page">
        <div class="discover-uni-container">
            {% include 'partials/breadcrumbs.html' %}
            
            <div class="flat-content-page__body">
                {{ page.content_body | richtext }}
            </div>
        </div>
    </div>
{% endblock content %}
