{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="section-page">
  <div class="content-header">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="back">
    <button type="button" name="button"><a href="{% pageurl page.get_parent %}"><svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.34339 11L6 10.3251L1.31364 5.50038L6 0.676626L5.34339 -0.000191689L0.000418186 5.50038L5.34339 11Z" fill="#8F8F8F"/></svg> Back</a></button>
  </div>
  <div class="subsections-container">
    {% for block in page.subsections %}
    <div tabindex="0" role="button" aria-label="Show content"  class="subsection">
      {{block}}
      <div class="down-arrow">
        <svg width="31" height="18" viewBox="0 0 31 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6599 16.5546L30.3515 2.85548C31.0048 2.2019 31.0045 1.14336 30.3509 0.490172C29.6973 -0.163014 28.6388 -0.162767 27.9856 0.490817L15.4712 13.012L2.85049 0.493069C2.19527 -0.156896 1.1351 -0.153346 0.485179 0.501882C0.161831 0.828673 0.000210088 1.25507 0.000325867 1.67977C0.000442981 2.10937 0.165546 2.5406 0.495608 2.86719L14.2993 16.5588C14.9529 17.2088 16.0081 17.2069 16.6597 16.5549L16.6599 16.5546Z" fill="#4C4D6C"/></svg>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="related-links">
    <h2>{{ page.related_links_title }}</h2>
    {% for block in page.related_links %}
      <div class="link">
        <h3>{{block}}</h3>
      </div>
    {% endfor %}
  </div>
  <div class="lateral-links">
    <h2>{{ page.lateral_link_title }}</h2>
    {% for block in page.lateral_links %}
      <div class="link">
        <h3>{{block}}</h3>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
