{% extends "base.html" %}
{% load static wagtailcore_tags sass_tags discover_uni_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/content.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
    <link href="{% sass_src 'scss/partials/popup.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{% get_static_prefix %}js/popup.js?{% code_version %}"></script>
{% endblock %}

{% block content %}
    {% if page.title == "About our data" or page.title == "Manylion y cwrs" %}
        {% include 'partials/pop-up-about-data.html' %}
    {% endif %}
    <div class="content-page section-page">
        <div class="discover-uni-container">
            {% include 'partials/breadcrumbs.html' %}

            <h1 class="content-page__header">
                {{ page.title }}
            </h1>

            <div class="content-page__intro">
                {% if page.intro %}
                    {{ page.intro | richtext }}
                {% endif %}
            </div>

            {% if page.related_links_title or page.related_links  %}
                <div class="additional-links">
                    {% if page.related_links_title  %}
                        <h2 class="additional-links__header">{{ page.related_links_title }}</h2>
                    {% endif %}

                    <div class="additional-links__link-list">
                        {% for block in page.related_links %}
                            <div class="additional-links__link-wrapper">
                                {{block}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="section-page__accordions">
                {% for block in page.subsections %}
                    <div id="{% title_to_id block.value.subsection_title %}" class="section-page__accordion">
                        <div id="section-page__accordion-header-{{forloop.counter}}"
                             tabindex="0" role="button" class="section-page__accordion-header"
                             aria-controls="section-page__accordion-body-{{forloop.counter}}"
                             aria-label="Show {{ block.value.subsection_title }} content" aria-expanded="false">
                            <h2 class="section-page__accordion-title">{{ block.value.subsection_title }}</h2>

                            <div class="expand">
                                <img class="nav-card__icon" src="{% static 'images/plus_icon.svg' %}" alt="expand">
                            </div>

                            <div class="collapse">
                                <img class="nav-card__icon" src="{% static 'images/minus_icon.svg' %}" alt="collapse">
                            </div>
                        </div>

                        <div id="section-page__accordion-body-{{forloop.counter}}" class="section-page__accordion-body"
                                aria-labelledby="section-page__accordion-header-{{forloop.counter}}">
                            <div class="section-page__accordion-body-content">
                                {{block.value.subsection_content}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>



            {% if page.lateral_links_title or page.lateral_links  %}
                <div class="additional-links">
                    <h2 class="additional-links__header">{{ page.lateral_link_title }}</h2>

                    <div class="additional-links__link-list">
                        {% for block in page.lateral_links %}
                            <div class="additional-links__link-wrapper">
                                <div class="additional-links__link">{{block}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
