{% load staticfiles %}
{% load discover_uni_tags %}


<nav role="navigation" aria-label="Pagination" class="pagination">
    <ul class="pagination__item-list">
        <li class="pagination__previous">
            {% if search.show_previous_icon != 0 %}
                <a class="pagination__link" aria-label="{% get_translation key='previous_page' language=page.get_language %}" href="#"
                        data-page="{{search.previous_page}}" data-count="{{search.count }}">
                    <img src="{% static 'images/chevrons/black_left_chevron.svg' %}" alt="{% get_translation key='previous_page' language=page.get_language %}" class="black">
                    <img src="{% static 'images/chevrons/green_left_chevron.svg' %}" alt="{% get_translation key='previous_page' language=page.get_language %}" class="green">
                </a>
            {% else %}
                <p class="pagination__link--disabled" aria-label="{% get_translation key='previous_page' language=page.get_language %}">
                    <img src="{% static 'images/chevrons/black_left_chevron.svg' %}" alt="{% get_translation key='previous_page' language=page.get_language %}" class="black">
                    <img src="{% static 'images/chevrons/green_left_chevron.svg' %}" alt="{% get_translation key='previous_page' language=page.get_language %}" class="green">
                </p>
            {% endif %}
        </li>

        {% if search.show_ellipsis_on_left %}
            <li class="pagination__ellipsis" aria-label="{% get_translation key='more_pages_before' language=page.get_language %}">
                …
            </li>
        {% endif %}


        {% for option in search.pages_to_left %}
            <li class="pagination__item">
                <a class="pagination__item-link" href="#" data-page="{{option}}" data-count="{{search.count }}"
                   aria-label="Page {{ option }}">
                    {{ option }}
                </a>
            </li>
        {% endfor %}

        <li class="pagination__item--active">
            {{ search.page }}
        </li>

        {% for option in search.pages_to_right %}
            <li class="pagination__item">
                <a class="pagination__item-link" href="#" data-page="{{option}}" data-count="{{search.count }}"
                   aria-label="Page {{ option }}">
                    {{ option }}
                </a>
            </li>
        {% endfor %}

        {% if search.show_ellipsis_on_right %}
            <li class="pagination__ellipsis" aria-label="{% get_translation key='more_pages_after' language=page.get_language %}">
                …
            </li>
        {% endif %}

        <li class="pagination__next">
            {% if search.show_next_icon %}
                <a class="pagination__link" aria-label="{% get_translation key='next_page' language=page.get_language %}" href="#"
                        data-page="{{search.next_page}}" data-count="{{search.count }}">
                    <img src="{% static 'images/chevrons/black_right_chevron.svg' %}" alt="{% get_translation key='next_page' language=page.get_language %}" class="black">
                    <img src="{% static 'images/chevrons/green_right_chevron.svg' %}" alt="{% get_translation key='next_page' language=page.get_language %}" class="green">
                </a>
            {% else %}
                <p class="pagination__link--disabled" aria-label="{% get_translation key='next_page' language=page.get_language %}">
                    <img src="{% static 'images/chevrons/black_right_chevron.svg' %}" alt="{% get_translation key='next_page' language=page.get_language %}" class="black">
                    <img src="{% static 'images/chevrons/green_right_chevron.svg' %}" alt="{% get_translation key='next_page' language=page.get_language %}" class="green">
                </p>
            {% endif %}
        </li>
    </ul>
</nav>
