{% load static wagtailuserbar discover_uni_tags sass_tags %}

<!DOCTYPE html>
<html class="no-js" lang="{{page.get_language}}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with page.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="currentversion" content="{% current_version %}">
        <meta name="pagelanguage" content="{{page.get_language}}">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:regular,bold&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="{% sass_src 'scss/global.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script type="text/javascript" src="{% get_static_prefix %}js/main.js?{% code_version %}"></script>
         <script type="text/javascript" src="{% get_static_prefix %}js/load-error-popup.js?{% code_version %}"></script>
         <!--<script type="text/javascript" src="{% static 'js/cookie-banner.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/subject_chooser.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/bookmark-nav.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/search-dropdown.js' %}"></script>-->
         <!--<script type="text/javascript" src="{% static 'js/feedback-form.js' %}"></script>-->
         {% block extra_js %}
             {# Override this in templates to add extra javascript #}
         {% endblock %}

         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147556197-1"></script>
         <!--<script type="text/javascript" src="{% static 'js/google-analytics-tracking.js' %}"></script>-->
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include 'partials/nav.html' %}

        {% wagtailuserbar %}

        <main>
            <div id="main-content" tabindex="-1">
                {% block content %}{% endblock %}

                <a class="scroll-to-top" href="#">
                    <div class="scroll-to-top__bkg">
                        Back<br />to top
                    </div>
                </a>
            </div>

            {% include 'partials/feedback-form.html' %}

            {% if not cookies_accepted and not load_error %}
                {% include 'partials/cookie-banner.html' %}
            {% endif %}

            {% if load_error %}
                {% include 'partials/load-error-popup-bar.html' with error_type=error_type %}
            {% endif %}
        </main>

        {% include 'partials/footer.html' %}
    </body>

</html>
