{% extends "base.html" %}
{% load static wagtailcore_tags discover_uni_tags sass_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link href="{% sass_src 'scss/home.scss' %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="home">
        <div class="discover-uni-container">
            <h1 style="color:#595959;">
                <strong>
                    The Discover Uni website has now launched at <a href="https://discoveruni.org.uk">discoveruni.org.uk</a>
                </strong>
            </h1>

            <div class="intro-text">
                <p>Discover Uni is designed to be simple. It can help you:</p>
                <ul>
                    <li>Decide if uni is right for you</li>

                    <li>Choose what and where to study</li>

                    <li>Find and compare courses</li>
                </ul>
            </div>

            <p>
                It will migrate to this web address soon.
            </p>

            <p>
                Discover Uni is a new website from the Department for the Economy in NI, the Higher Education Funding Council for Wales, the Office for Students in England, and the Scottish Funding Council.
            </p>
        </div>
    </div>
{% endblock content %}
