{% extends "base.html" %}
{% load static wagtailcore_tags discover_uni_tags sass_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link href="{% sass_src 'scss/home.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home-page.js' %}?{% code_version %}"></script>
{% endblock %}

{% block content %}
            <div class="leo-banner">
            <p class="px-4">
                <span class="leo-banner__bold">{% get_translation key='please_note' language=page.get_language %}</span>
                {% get_translation key='leo_banner_technical_issues' language=page.get_language %}
            </p>
        </div>
            {% include 'partials/home_page_content.html' %}
{% endblock content %}
