{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="home">
  <div class="header">
    <div class="header-content">
      {{ page.header|richtext }}
    </div>
    <div class="blue-block">
    </div>
    <div class="slope">
    </div>
  </div>
  <div class="links-container grid-1">
    {% for block in page.page_links %}
      <a href={{ block.value.page.url }}>
        <div class="link">
          <h2>{{ block.value.title }}</h2>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="search-form grid-2">
    {{page.search_header|richtext}}
    <form action="{% url 'results' %}" method="get">
        <label>{{page.course_field_label}} </label><br>
        <input id="courseName" type="text" name="courseQuery" {% if course_query %} value="{{ course_query }}"{% endif %} placeholder="Course Name" required><br>
        <label>{{page.institution_field_label}}</label>
        <div>
          <select id="uni" name="institutionQuery">
            <option disabled selected>Institution</option>
            <option value="">Show all</option>
          </select>
          <span><img class="dropdown-arrow" src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
        </div>
        <input type="submit" value="Search" class="button">
    </form>
  </div>
</div>

{% endblock content %}
