# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
local.py
db.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jetbrains stuff
.idea

# Compiled SASS files
**/*.css*

# Media files
static/**

# Custom
.DS_Store
*.vscode
.vscode/
.env
data/
docker-compose.yml
docker-compose.*.yml
!docker-compose.ci.yml
