# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
local.py
db.sqlite3

# Env stuff
.env
env.sh

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jetbrains stuff
.idea

# Compiled SASS files
**/*.css*

# Media files
media/*

static/**

# Dev env stuff
*.dev.*
