version: '3'

services:
  web:
    environment:
      # Postgres
      DBHOST:                       "${DBHOST}"
      DBNAME:                       "${DBNAME}"
      DBUSER:                       "${DBUSER}"
      DBPASSWORD:                   "${DBPASSWORD}"
      DBPORT:                       "${DBPORT}"
      # Search
      SEARCHAPIHOST:                "${SEARCHAPIHOST}"
      # Widget
      WIDGETAPIHOST:                "${WIDGETAPIHOST}"
      WIDGETAPIKEY:                 "${WIDGETAPIKEY}"
      # CosmosDB
      DATASETAPIHOST:               "${DATASETAPIHOST}"
      DATASETAPIKEY:                "${DATASETAPIKEY}"
      FEEDBACK_API_HOST:            "${FEEDBACK_API_HOST}"
      JSONFILES_STORAGE_CONTAINER:  "${JSONFILES_STORAGE_CONTAINER}"
      # Azure storage (institutions.xx.json, subjects.json, versions,json, etc...)
      STORAGE_ACCOUNT_NAME:         "${STORAGE_ACCOUNT_NAME}"
      STORAGEKEY:                   "${STORAGEKEY}"
      # Azure
      AZURE_ACCOUNT_NAME:           "${AZURE_ACCOUNT_NAME}"
      AZURE_ACCOUNT_KEY:            "${AZURE_ACCOUNT_KEY}"
      AZURE_CONTAINER:              "${AZURE_CONTAINER}"
      # Send Grid
      SENDGRID_API_KEY:             "${SENDGRID_API_KEY}"
      SECRET_KEY:                   "${SECRET_KEY}"
      SENDGRID_FROM_EMAIL:          "${SENDGRID_FROM_EMAIL}"
      # Custom
      ROOT_DOMAIN:                  "${ROOT_DOMAIN}"
      READ_ONLY:                    "${READ_ONLY}"
      LOCAL:                        "${LOCAL}"
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
#    command: bash -c "sh ./deploy_files/docker-entrypoint.sh"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
