version: '3'

services:
  web:
    environment:
      # Postgres
      DBHOST:                       "${DBHOST}"
      DBNAME:                       "${DBNAME}"
      DBUSER:                       "${DBUSER}"
      DBPASSWORD:                   "${DBPASSWORD}"
      DBPORT:                       "${DBPORT}"
      # Search
      SEARCHAPIHOST:                "${SEARCHAPIHOST}"
      # Widget
      WIDGETAPIHOST:                "${WIDGETAPIHOST}"
      WIDGETAPIKEY:                 "${WIDGETAPIKEY}"
      # CosmosDB (via requests library)
      # (used by the application to get courses and institutions)
      # (these can be found on the App Service under "Configuration")
      # (in absence of values the local MongoDB will be used)
      DATASETAPIHOST:               "${DATASETAPIHOST}"
      DATASETAPIKEY:                "${DATASETAPIKEY}"
      # CosmosDB (via azure.cosmos library)
      # (used to extract data from CosmosDB and populate fixtures)
      # (these can be found on the CosmosDB instance under "Keys")
      AZURECOSMOSDBURI:             ""
      AZURECOSMOSDBKEY:             ""
      # MongoDB (used for local development and testing)
      MONGODB_HOST:                 "mongo"
      MONGODB_USERNAME:             "mongodb"
      MONGODB_PASSWORD:             "mongodb"
      # Azure storage (institutions.xx.json, subjects.json, versions,json, etc...)
      STORAGE_ACCOUNT_NAME:         "${STORAGE_ACCOUNT_NAME}"
      STORAGEKEY:                   "${STORAGEKEY}"
      # Azure
      AZURE_ACCOUNT_NAME:           "${AZURE_ACCOUNT_NAME}"
      AZURE_ACCOUNT_KEY:            "${AZURE_ACCOUNT_KEY}"
      AZURE_CONTAINER:              "${AZURE_CONTAINER}"
      # Send Grid
      SENDGRID_API_KEY:             "${SENDGRID_API_KEY}"
      SECRET_KEY:                   "${SECRET_KEY}"
      SENDGRID_FROM_EMAIL:          "${SENDGRID_FROM_EMAIL}"
      # Other
      FEEDBACK_API_HOST:            "${FEEDBACK_API_HOST}"
      JSONFILES_STORAGE_CONTAINER:  "${JSONFILES_STORAGE_CONTAINER}"
      # Custom
      ROOT_DOMAIN:                  "${ROOT_DOMAIN}"
      READ_ONLY:                    "${READ_ONLY}"
      LOCAL:                        "${LOCAL}"
    build: .
    volumes:
      - .:/code
    ports:
      - "8000:8000"

  db:
    image: postgres:9.6
    restart: always
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: django

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: "mongodb"
      MONGO_INITDB_ROOT_PASSWORD: "mongodb"
