annotated-types==0.8.0
anyascii==0.3.3
asgiref==3.12.1
azure-communication-email==1.1.0
azure-core==1.41.0
azure-mgmt-core==1.6.0
azure-mgmt-storage==25.1.0
azure-storage-blob==12.30.1
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
cfgv==3.5.0
charset-normalizer==3.5.1
cryptography==50.0.1
defusedxml==0.7.1
distlib==0.4.3
Django==6.1.1
django-appconf==1.2.0
django-axes==8.3.1
django-cors-headers==4.9.0
django-debug-toolbar==8.0.0
django-filter==26.1
django-modelcluster==6.5
django-ninja==1.7.0
django-permissionedforms==0.1
django-sass-processor==1.4.2
django-storages==1.14.6
django-stubs-ext==6.1.0
django-taggit==6.1.0
django-tasks==0.12.0
django-treebeard==5.3.1
django_compressor==4.6.0
djangorestframework==3.18.0
draftjs_exporter==7.1.0
et_xmlfile==2.0.0
filelock==3.32.5
filetype==1.2.0
gunicorn==26.2.0
identify==2.6.19
idna==3.19
isodate==0.7.2
laces==0.1.2
libsass==0.23.0
modelsearch==1.3.2
nodeenv==1.10.0
openpyxl==3.1.5
pillow==12.3.0
pillow_heif==1.6.0
platformdirs==4.11.7
pre_commit==4.6.2
psycopg2-binary==2.9.12
pyClamd==0.4.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-decouple==3.8
python-discovery==1.6.0
PyYAML==6.0.3
rcssmin==1.2.2
requests==2.34.2
rjsmin==1.2.5
soupsieve==2.9.2
sqlparse==0.6.0
swapper==1.5.0
telepath==0.3.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
virtualenv==21.7.8
wagtail==8.0
whitenoise==6.12.0
Willow==1.12.0
