Django>=2.2.2
wagtail>=2.5
psycopg2-binary
flake8==3.7.7
coverage==4.5.1
requests==2.21.0
gunicorn==19.6.0
whitenoise==3.2.2
django-sass-processor==0.7.3
django-compressor==2.2
libsass==0.18.0
django-storages==1.6.5
azure==1.0.0
django-cors-headers
django-axes==4.3.1
pyClamd
