<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet">
<script src="https://kit.fontawesome.com/12c4da3821.js" crossorigin="anonymous"></script>

<div id="search-app-mount"></div>
<script type="module" crossorigin src="/static/search_app/homepage_search/index-EY_TqEBR.js"></script>
<link rel="stylesheet" crossorigin href="/static/search_app/homepage_search/index-B2eiof5A.css"/>