{% load static %}
{% load discover_uni_tags %}

{% if percent != "None" %}
    <a href="#{{ link }}" class="box-link cd-link" data-lin="#{{ link }}">
        <div class="box student-satisfaction">
            <p class="box-title">{% get_translation key=title language=page.get_language %}</p>
            {% include 'courses/new_course_details//partials/custom_donut.html' with percent=percent %}
            <p class="box-subtitle">{% get_translation key=description language=page.get_language %}</p>
            <p class="box-small">
                {% include 'courses/new_course_details/partials/summary_boxes/summary_source_grad.html' with subject=subject_label %}

            </p>
        </div>
    </a>
{% else %}
    {% include 'courses/new_course_details/partials/summary_boxes/course_data_summary_no_data_box.html' %}
{% endif %}
