{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}
<div id="courseSearchContainer" class="course-search-container" style="clear: both;">
    <div class="no_courses_saved">
        {% get_translation key='no_courses_saved' language=page.get_language %}
    </div>
    <div class="course_comparison-search bg-white pb-5">
        <div class="row course_compare_search flex-row justify-content-center text-center">
            {% include 'coursefinder/partials/coursesearch/searchbox.html' %}

{#            {% include 'coursefinder/partials/coursesearch/coursewizard.html' %}#}
        </div>
    </div>
</div>