{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}


{% block body_class %}template-course-finder-summary{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'js/finder-summary.js' %}"></script>
{% endblock page_js %}


{% block question %}
    <h1 class="course-finder-content__heading">{{page.header}}</h1>

    <div class="course-finder-content__summary">
        <h2 class="course-finder-content__summary-heading">{{page.country_section_title}}</h2>

        <p id="countries" class="course-finder-content__summary-value"></p>

        <h2 class="course-finder-content__summary-heading">{{page.mode_of_study_section_title}}</h2>

        <p id="modes" class="course-finder-content__summary-value"></p>

        <h2 class="course-finder-content__summary-heading">{{page.subjects_section_title}}</h2>

        <p id="subjects" class="course-finder-content__summary-value"></p>

        <h2 class="course-finder-content__summary-heading">{{page.narrow_by_section_title}}</h2>

        <p id="narrow" class="course-finder-content__summary-value"></p>
    </div>
{% endblock %}


{% block next_nav %}
    {% include 'coursefinder/partials/course_finder_results_form.html' with button_value_key='next' button_class='course-finder-content__next-button' icon_class='course-finder-content__next-icon' %}
{% endblock %}
