{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-course-finder-choose-subject{% endblock %}

{% block question %}
<h3>{{page.question}}</h3>
<form>
  <div>
    <input id="subjectArea" type="text" name="" value="" placeholder="Subject area" size="20">
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
  <div>
    <input id="subject" type="text" name="" value="" placeholder="Subject">
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
  <div>
    <input id="showall" type="text" name="" value="" placeholder="Show all">
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
</form>
<div class="helper-text">
  {{ page.helper_text|richtext }}
</div>
{% endblock %}
