{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}


{% block question %}
    <h3>{{page.question}}</h3>

    <form action="javascript:;" onsubmit="handleCountrySelection(this)">
        <div  class="checkbox">
            <input id="england" type="checkbox" name="country" value="England">

            <label for="england">{% get_translation key='england' language=page.get_language %}</label>
        </div>
        <div  class="checkbox">
            <input id="northernireland" type="checkbox" name="country" value="Northern Ireland">
            <label for="northernireland">{% get_translation key='northern_ireland' language=page.get_language %}</label>
        </div>
        <div  class="checkbox">
            <input id="scotland" type="checkbox" name="country" value="Scotland">
            <label for="scotland">{% get_translation key='scotland' language=page.get_language %}</label>
        </div>
        <div  class="checkbox">
            <input id="wales" type="checkbox" name="country" value="Wales">
            <label for="wales">{% get_translation key='wales' language=page.get_language %}</label>
        </div>
    </form>
{% endblock %}

{% block next_nav %}
    <a href={% pageurl page.next_page %}>
        <input type="submit" value="{% get_translation key='next' language=page.get_language %}" class="button" onclick="handleFormSubmit()">
    </a>
{% endblock %}
