{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load discover_uni_tags %}

{% block body_class %}template-course-finder-landing-page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/coursefinder.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="course-finder-landing-page grid-1">
        <div class="header">
            <img class="course-detail__icon" src="{% static 'images/course_finder_icon.svg' %}" alt="">

            <h1>{{ page.header }}</h1>

            <p class="subheader">
                {{ page.subheader }}
            </p>
        </div>
    </div>

    <div class="start grid-1">
        {% if page.has_country_finder_page %}
            <a href={% pageurl page.country_finder_page %}>
                <input type="submit" value="{% get_translation key='start' language=page.get_language %}" class="button">
            </a>
        {% endif %}
    </div>
{% endblock content %}
