{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}
{% block body_class %}template-course-finder-uni{% endblock %}

{% block question %}
    <h3>
        {{page.question}}
    </h3>

    <form action="javascript:;" onsubmit="handleUniSelection(this)">
        <div>
            <div class="search-dropdown">
                <input id="trust" class='selection-field' type="text" name="trust" value="{{form.trust}}">

                <div class='search-field{% if form.trust_error %} error{% endif %}'>
                    <input type="text" class="search-field-input" name="trust_name" placeholder="Search for an institution">
                </div>

                <div class="options-list">
                    <p class="placeholder options-list--placeholder">Please enter at least 3 characters to search</p>
                </div>
            </div>

            <span><img class="dropdown-arrow" src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
        </div>
    </form>
{% endblock %}

{% block next_nav %}
    <a href={% pageurl page.next_page %}>
        <input type="submit" value="{% get_translation key='next' language=page.get_language %}" class="button" onclick="handleFormSubmit()">
    </a>
{% endblock %}
