{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-course-finder-uni{% endblock %}

{% block question %}
    <h3>
        {{page.question}}
    </h3>

    <form action="javascript:;" onsubmit="handleUniSelection(this)">
        <div>
            <select id="uni" name="uni">
                <option selected>{% get_translation key='show_all' language=page.get_language %}</option>
            </select>

            <span><img class="dropdown-arrow" src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
        </div>
    </form>
{% endblock %}

{% block next_nav %}
    <a href={% pageurl page.next_page %}>
        <input type="submit" value="{% get_translation key='next' language=page.get_language %}" class="button" onclick="handleFormSubmit()">
    </a>
{% endblock %}
