{% extends "coursefinder/course_finder_base.html" %}
{% load static wagtailcore_tags discover_uni_tags %}

{% block body_class %}template-course-finder-narrow-search{% endblock %}

{% block content_class %}narrow-search{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'js/narrow-search.js' %}"></script>
{% endblock page_js %}

{% block question %}
    <form action="{% url 'narrow_search' %}" method="post" class="course-finder-content__question-form">
        {% csrf_token %}

        <fieldset>
            <legend><h1 class="course-finder-content__question">{{page.question}}</h1></legend>

            <label class="course-finder-content__question-option radio" for="uni">
                <span class="course-finder-content__question-label">
                    {% get_translation key='specific_uni' language=page.get_language %}?
                </span>

                <input class="course-finder-content__question-input"
                       id="uni" type="radio" name="radioGroup" value="uni">

                <span class="radiobox"></span>
            </label>

            <label class="course-finder-content__question-option radio" for="home">
                <span class="course-finder-content__question-label">
                    {% get_translation key='near_your_home' language=page.get_language %}?
                </span>

                <input class="course-finder-content__question-input"
                       id="home" type="radio" name="radioGroup" value="home">

                <span class="radiobox"></span>
            </label>

            <label class="course-finder-content__question-option radio" for="all">
                <span class="course-finder-content__question-label">
                    {% get_translation key='dont_narrow' language=page.get_language %}
                </span>

                <input class="course-finder-content__question-input"
                       id="all" type="radio" name="radioGroup" value="all">

                <span class="radiobox"></span>
            </label>
        </fieldset>

        <div class="course-finder-content__question-previous-selections">
            <input type="text" name="countries_query" value="">

            <input type="text" name="mode_query" value="">

            <input type="text" name="subject_query" value="">
        </div>
    </form>
{% endblock %}

{% block next_nav %}
    <button class="course-finder-content__next-button">
        {% get_translation key='next' language=page.get_language %}

        <img class="course-finder-content__next-icon white" src="{% static 'images/chevrons/white_right_chevron.svg' %}" alt="">
        <img class="course-finder-content__next-icon green" src="{% static 'images/chevrons/green_right_chevron.svg' %}" alt="">
    </button>
{% endblock %}
