{% extends "coursefinder/course_finder_base.html" %}

{% load static wagtailcore_tags discover_uni_tags %}

{% block body_class %}template-course-finder-choose-subject{% endblock %}
{% block content_class %}subject-chooser{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'js/finder-subject-picker.js' %}"></script>
{% endblock page_js %}


{% block question %}
    <h1 class="course-finder-content__question">{{page.question}}</h1>

    <form action="javascript:;" onsubmit="handleSubjectSubmit(this)" class="course-finder-content__question-form">
        {% include 'partials/subject_selector.html' %}
    </form>

    <div class="course-finder-content__question-helper">
        {{ page.helper_text|richtext }}
    </div>
{% endblock %}

{% block next_nav %}
    <a href={% pageurl page.next_page %} class="course-finder-content__next-link">
        <button class="course-finder-content__next-button">
            {% get_translation key='next' language=page.get_language %}

            <img class="course-finder-content__next-icon white" src="{% static 'images/chevrons/white_right_chevron.svg' %}" alt="">
            <img class="course-finder-content__next-icon green" src="{% static 'images/chevrons/green_right_chevron.svg' %}" alt="">
        </button>
    </a>
{% endblock %}
