{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/coursefinder.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="course-finder-base">
        <div class="header">
            <h2>Course Finder</h2>
        </div>

        <ul class="navigation">
            {% if page.back_page %}
                <a href={% pageurl page.back_page %}><li class="helper-text back">Back</li></a>
            {% endif %}

            <a href={% pageurl page.get_parent %} onclick="handleStartAgain()"><li class="helper-text start-again">Start again</li></a>

            {% if page.use_skip_form %}
                {% include 'coursefinder/partials/course_finder_results_form.html' with button_value='Skip' button_class='skip' %}
            {% else %}
                <a href={% pageurl page.next_page %}><li class="helper-text skip">Skip</li></a>
            {% endif %}
        </ul>

        <div class="course-finder-content grid-2">
            <div class="question">
                {% block question %}{% endblock %}
            </div>

            <div class="next">
                {% block next_nav %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
