{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}


{% block question %}
<h3>{{page.question}}</h3>
<form>
  <div  class="checkbox">
    <input id="england" type="checkbox" name="" value="england"> <label for="england">England</label><br>
  </div>
  <div  class="checkbox">
    <input id="northernireland" type="checkbox" name="" value="northernireland"> <label for="northernireland">Northern Ireland</label><br>
  </div>
  <div  class="checkbox">
    <input id="scotland" type="checkbox" name="" value="scotland"> <label for="scotland">Scotland</label><br>
  </div>
  <div  class="checkbox">
    <input id="wales" type="checkbox" name="" value="wales"><label for="wales">Wales</label><br>
  </div>
</form>
{% endblock %}
