{% extends "base.html" %}
{% load static wagtailcore_tags discover_uni_tags sass_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/course_finder.scss' %}" rel="stylesheet" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="course-finder-base">
        <div class="discover-uni-container">
            <ul class="course-finder-base__nav">
                {% if page.back_page %}
                    <li class="course-finder-base__nav-control-back">
                        <a href={% pageurl page.back_page %} class="course-finder-base__nav-control">
                        
                            <img class="course-finder-base__nav-control-icon" src="{% static 'images/chevrons/green_left_chevron.svg' %}" alt="">
                            {% get_translation key='back' language=page.get_language %}
                        </a>
                    </li>
                {% endif %}

                {% if page.use_skip_form %}
                    {% include 'coursefinder/partials/course_finder_results_form.html' with button_value_key='skip' button_class='course-finder-base__nav-control' icon_class='course-finder-base__nav-control-icon' %}
                {% else %}
                    <li class="course-finder-base__nav-control-skip">
                        <a href={% pageurl page.next_page %} class="course-finder-base__nav-control">
                        
                            {% get_translation key='skip' language=page.get_language %}

                            <img class="course-finder-base__nav-control-icon" src="{% static 'images/chevrons/green_right_chevron.svg' %}" alt="">
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="course-finder-content {% block content_class %}{% endblock %}">
                <div class="course-finder-content__question-block">
                    {% block question %}{% endblock %}
                </div>

                <div class="course-finder-content__next">
                    {% block next_nav %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
