{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}


{% block body_class %}template-course-finder-narrow-search{% endblock %}

{% block question %}
    <h3>{{page.question}}</h3>
    <form action="{% url 'narrow_search' %}" method="post" onsubmit="handleResultsRequest()">
        {% csrf_token %}
        <div class="radio">
            <input id="uni" type="radio" name="radioGroup" value="uni">

            <label for="uni">{% get_translation key='specific_uni' language=page.get_language %}?</label>
        </div>

        <div class="radio">
            <input id="home" type="radio" name="radioGroup" value="home">

            <label for="home">{% get_translation key='near_your_home' language=page.get_language %}?</label>
        </div>

        <div class="radio">
            <input id="all" type="radio" name="radioGroup" value="all">

            <label for="all">{% get_translation key='show_all' language=page.get_language %}</label>
        </div>

        <input type="text" name="countries_query" value="">

        <input type="text" name="mode_query" value="">

        <input type="text" name="subject_query" value="">
    </form>
{% endblock %}

{% block next_nav %}
    <input type="submit" value="{% get_translation key='next' language=page.get_language %}" class="button" onclick="handleFormSubmit()">
{% endblock %}
