{% extends "coursefinder/course_finder_base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-course-finder-choose-subject{% endblock %}

{% block question %}
<h3>{{page.question}}</h3>
<form action="javascript:;" onsubmit="handleSubjectSubmit(this)">
  <div>
    <select id="subjectArea" name="subjectArea" onchange="handleSubjectAreaSelect(this.value)">
      <option value="disabled" disabled selected>Subject area</option>
    </select>
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
  <div>
    <select id="subject" name="subject" onchange="handleSubjectSelect(this.value)">
      <option value="disabled" disabled selected>Subject</option>
    </select>
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
  <div>
    <select id="subjectCode" name="subjectCode">
      <option selected>Show all</option>
    </select>
    <span><img src="{% static 'assets/down-arrow.svg' %}" alt=""></span>
  </div>
</form>
<div class="helper-text">
  {{ page.helper_text|richtext }}
</div>
{% endblock %}
