@import '../variables';
@import '../fonts';


.compare-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;



    background-color: $divider-grey;

    &__wrapper {
        @include mobile-body-font-mixin();

        padding: 29px 31px;
        position: relative;
        text-align: center;

        p {
            margin: 5px;
        }
    }

    &__close {
        position: absolute;
        top: 7px;
        right: 7px;

        img {
            width: 9px;
            height: 9px;
        }
    }

    &__count {
        .count {
            color: $gradient-light-green;
        }
    }

    &__add, &__remove, &__not-enough, &__enough {
        display: none;
    }
}
