.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    background-color: $header-blue;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 35px 30px;
    }

    &__message {
        @include desktop-body-font-mixin();

        color: $white;
    }

    &__find-out-more {
        @include mobile-body-font--bold-mixin();

        padding: 18px 0px;
        width: 100%;
        margin-bottom: 15px;

        border-radius: 5px;
        border: 2px solid $gradient-light-green;
        background-color: transparent;
        color: $white;
        cursor: pointer;
    }

    &__ok {
        @include mobile-body-font--bold-mixin();
        @include green-gradient-background-mixin();

        padding: 18px 0px;
        width: 100%;

        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}

@media only screen and (min-width: 770px) {
    .cookie-banner {
        &__wrapper {
            flex-direction: row;
            padding: 21px 0px;
        }

        &__message {
            @include mobile-body-font-mixin();

            width: 50%;

            color: $white;
        }

        &__find-out-more {
            margin-bottom: 0px;
            margin-right: 12.5px;
            width: 25%;
        }

        &__ok {
            margin-left: 12.5px;
            width: 25%;
        }
    }
}
