.custom-donut {
  font-family: "Plus Jakarta Sans", Sans-Serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circular-progress {
      position: relative;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background: conic-gradient(#FCD833 3.6deg, #ededed 0deg);
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: white;
        border-radius: 50%;
      }

      .progress-value {
        position: relative;
        font-size: 2rem;
        font-weight: 600;
        color: black;
      }
    }


  }

}

@media only screen and (min-width: 770px) {
  .custom-donut {
    .container {
      .circular-progress {
        height: 100px;
        width: 100px;

        &::before {
          height: 80px;
          width: 80px;
        }
      }
    }
  }
  .student-satisfaction__title-box .custom-donut .container .circular-progress {
    height: 150px;
    width: 150px;

    &::before {
      height: 100px;
      width: 100px;
    }
  }
}