.modal {
    &-body {
        padding: 0 15px !important;
        background-color: $white
    }
    &-dialog {
        max-width: 100% !important;
        margin: 0 !important;
        height: 100%;
    }

    &-content {
        height: 100%;
    }
        
    &-header {
        border-bottom: 0 !important;
        padding: 20px 15px !important;

        .close {
            color: black;
            opacity: 1;
            padding: 0 !important;
            margin: 0 !important;
            align-self: center;
            font-size: 1.125rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: right;

            span {
                padding-left: .5rem;

                img {
                    vertical-align: baseline;
                }        
            }        
        }
    }
}

.no-courses{
    height: 28px;
    padding-left: 15px;
    margin: 15px 6.5px 70px 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

.hidden{
    display: none;
}

.filters-block {
    position: relative;

    &__heading {
        padding-left: 15px;
    }

    &__form {
        display: none;
    }

    &__cancel-button {
        display: none;
        position: absolute;
        top: 15px;
        right: 33px;
        margin: 0;
        text-align: right;

        color: $gradient-light-green;

        &-icon {
            font-weight: bold;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        &-title {
            font-size: 1.125rem;
            font-weight: bold;
        }
    }

    &__filter {
        &-accordion {
            margin-bottom: 5px;

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 9px 14px 9px 10px;
                border-radius: 2px;
                background-color: $duck-egg-blue;
            }

            &-title {
                font-size: 1rem;
                font-weight: bold;
            }

            &-body {
                padding: 10px;
            }
        }

        &-active-filter{
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
        }

        &-postcode-div{
            display: none; 
            flex-direction: column;

            &-textfield{
                height: 35px;
                border: 1px solid #595959;
                border-radius: 2px;
                padding-left: 5px;
            }

            &-question{
                @include m-heading--bold-mixin();
                margin-top: 0;
                margin-bottom: 35px;
                width: 80%;

                line-height: 1.5;
                color: $ux-grey-3;
            }

            &-dropdown{
                border: 1px solid #595959;
                border-radius: 2px;
                height: 35px;
                position: relative;
                cursor: pointer;

                &-text{
                    display: inline-block;
                    line-height: 1.5;
                    vertical-align: middle;
                    padding-left: 5px;
                }

                &-body {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    background-color: white;
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 4px 0;

                }

                &-item {
                    padding-left: 5px;
                }

                &-item:hover {
                    background-color: #ced4da;
                }
            }
        }

        &-search {
            width: 95%;
            height: 35px;
            padding: 7px 93px 6px 10px;
            margin: 12px;
            font-family: "Nunito Sans", sans-serif;
            font-size: 1rem;
            border-radius: .25rem;
            border: 1px solid #ced4da;
        }

        &-search:focus {
            outline: none;
            border: 3px solid #c1dfff;
        }

        &-pill {
            display: flex;
            height: 31px;
            margin: 0 8px 10px 0;
            padding: 5px 10px 4px;
            background-color: #ced4d9
        }

        &-remove-pill {
            display: flex;
            height: 31px;
            margin: 0 8px 10px 0;
            padding: 5px 10px 4px;
                background-color: white;
                cursor: pointer;
            }

            &-text {
                height: 22px;
                margin: 0 20px 0 0;
                font-family: "Nunito Sans", sans-serif;
                font-size: 1rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: var(--black);
            }

            &-iconclose {
                width: 14px;
                height: 14px;
                margin: 4px 0 4px;
                object-fit: contain;
                cursor: pointer;
            }

        &-disabled {
            padding: 10px;
            background-color: $pale;
            font-family: "Nunito Sans", sans-serif;
            font-size: 1rem;
        }

        &-years-group {
            margin: 0px -33px;
        }

        &-year {
            padding: 50px 33px;

            &:nth-child(even) {
                background-color: $divider-grey;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        &-heading {
            @include xs-heading--bold-mixin();

            margin-top: 0;
            margin-bottom: 20px;
        }

        &-options {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            &-title {
                margin: 10px 28px 9px 0;
                font-size: 1rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $black;
            }
            hr {
                width: 100%;
                margin: 10px 0 10px;
                background-color: $light-blue-grey;
              }

            &-institution{
                max-height: 385px;
                overflow-y: scroll;
                margin-top: 19px;
            }
        }

        &-option {
            width: 100%;

            &-location{
                margin-bottom: 14px;
                margin-left: 3px
            }

            &-country{
                width: 200px;
                height: 40px;
                padding: 9px 15px 9px 0;

            }

            &--two-col {
                width: 50%;

                &:nth-child(odd) {
                    .filters-block__filter-checkbox-label {
                        margin-right: 7.5px;
                    }
                }

                &:nth-child(even) {
                    .filters-block__filter-checkbox-label {
                        margin-left: 7.5px;
                    }
                }
            }

            &--three-col {
                width: 33%;

                .filters-block__filter-checkbox-label {
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 31px 24px;
                }

                &:first-child {
                    .filters-block__filter-checkbox-label {
                        margin-right: 0;
                    }
                }

                &:last-child {
                    .filters-block__filter-checkbox-label {
                        margin-left: 0;
                    }
                }
            }
        }

        &-fields {
            display: flex;
        }

        &-field {
            flex: 1 1 0;
            width: 50%;
            padding: 24px;
        }

        &-checkbox, &-radio {
            &-input {
                width: 20px;
                border-radius: 2px;
                border: solid 1px $greyish-brown;
                background-color: $white;
            }

            &-label {
                font-size: 1rem;

                &-bold {
                    font-weight: bold;
                }
            }
        }

        &-textfield{
            height: 35px;
            border-radius: 2px;
            border: 1px solid red;
        }

        &-radio {

            &-label{
                width: 191px;
                height: 22px;
                font-family: "Nunito Sans", sans-serif;
            }
        }

        &-postcode {
            &-heading-label {
                @include mobile-body-font--bold-mixin();

                display: block;
                margin-top: 0;
                margin-bottom: 15px;
            }

            &-label {
                @include mobile-body-font-mixin();
            }

            &.textbox {
                @include mobile-body-font-mixin();

                padding: 20px 20px;
                width: 100%;

                background-color: $white;
            }

            &.radio {
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                height: 21px;

                .radiobox {
                    top: 0;
                    height: 17px;
                    width: 17px;

                    &:after {
                        top: 6px;
                        left: 6px;
                        width: 9px;
                        height: 9px;
                    }
                }

                input:checked ~ .radiobox {
                    height: 21px;
                    width: 21px;
                }
            }
        }

        &-qualification {
            margin-top: 15px;

            &-label {
                @include small-font--bold-mixin();

                line-height: 28px;
            }

            span.checkmark {
                height: 28px;
                width: 28px;

                &:after {
                    left: 10px;
                    top: 4px;
                    width: 5px;
                    height: 12px;
                }
            }
        }

        &-uni {
            margin-top: 15px;

            &-controls {
                display: flex;
                justify-content: space-between;
                align-items: baseline;

                &-select, &-clear, &-count {
                    margin-top: 10px;
                    margin-bottom: 0;
                }

                &-select, &-clear {
                    @include small-font-mixin();

                    color: $gradient-light-green;
                    text-decoration: underline;
                    cursor: pointer;
                }

                &-count {
                    @include mobile-body-font-mixin();

                    color: $ux-grey-3;

                    .selected, .total {
                        font-weight: bold;
                        color: $black;
                    }
                }
            }

            &-list {
                margin-top: 26px;
                padding-bottom: 80px;
            }

            &-item {
                display: none;

                &-label {
                    @include small-font--bold-mixin();

                    line-height: 28px;

                    color: $ux-grey-2;
                }

                span.checkmark {
                    height: 28px;
                    width: 28px;

                    &:after {
                        left: 10px;
                        top: 4px;
                        width: 5px;
                        height: 12px;
                    }
                }
            }

            &-alphabet {
                display: flex;
                flex-wrap: wrap;
                margin-left: -7px;

                &-letter {
                    margin-left: 7px;
                }

                &-input {
                    display: none;

                    &:checked ~ label {
                        @include green-gradient-background-mixin();
                    }
                }

                &-label{
                    @include small-font--bold-mixin();

                    display: block;
                    text-align: center;
                    padding: 8px 0;
                    margin-top: 15px;
                    width: 28px;

                    color: $ux-grey-3;
                    background: $white;
                    border: 1px solid $ux-grey-1;
                    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
                    border-radius: 5px;
                }
            }
        }
    }

    &__submit {
        &-block {
            position: -webkit-fixed;
            position: fixed;
            width: 100%;
            text-align: center;
            bottom: 0;
            padding-right: 30px;
        }

        &-btn {
            font-size: 1.125rem;
            text-align: center;
            border: none;
            margin-top: 12px;
            margin-bottom: 21px;
            padding: 7px 47px 9px;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 $bruise;
            background-color: $bruise;
            font-weight: bold;
            color: $white;
            width: 100%;
        }
    }
    &__show {
        &-block {
            margin: 0 15px 32px;
        }

        &-btn {
            border: none;
            display: block;
            width: -webkit-fill-available;
            padding: 8px 0;
            border-radius: 3px;
            background-color: $very-light-blue;
        }
    }

    .course-finder-content__question-selector {
        width: 100%;

        .select-selected {
            background-color: $white;
        }
    }
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;

    &-dropbtn {
        width: 100%;
        background-color: white;
        color: grey;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: normal;
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    &-dropbtn:hover, &-dropbtn:focus {
      background-color: whitesmoke;
    }

    &-chevron {
        position: absolute;
        display: inline;
        top: 45%;
        right: 10px;
        border: 8px solid;
        border-color: #6E6E6E transparent transparent transparent;
        cursor: pointer;
        z-index: 10;
    }

    &-content {
        display: none;
        max-height: 40vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        background-color: white;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
        z-index: 11;
        margin-top: 3px;

        &-institution-check {
            font-family: "Nunito Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: normal;
            margin-left: 25px;
            padding-bottom: 5px;

            &-institution-label {
                margin: 5px;
            }
        }

        &-select-all-check {
            font-family: "Nunito Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: normal;
            margin-left: 25px;
            padding-bottom: 5px;

            &-institution-label {
                margin: 5px;
            }
        }
    }
}

@media only screen and (min-width: 376px) {
    .modal {
        &-body {
            padding: 0 33px !important;
        }
        &-header {
            padding: 20px 33px !important;
        }
    }

    .filters-block {
        &__heading {
           padding-left: 32px;
        }
        &-institutions-heading {
            padding-left: 15px;
        }
        &__show-block {
            margin: 0 33px 32px;
        }
        &__submit {
            &-block {
                padding-right: 66px;
            }
        }
    }
}

@media only screen and (min-width: 577px) {
    .filters-wrapper {
        font-family: "Nunito Sans", sans-serif;
        margin: 0;
        padding: 0;
        width: 255px;
        background-color: $white;
        overflow: visible;
        flex: 1 0 270px;
    }

    .course-finder-flex{
        display: flex;
        flex-direction: row;
    }

    .no-courses{
        width: auto;
        padding-left: 0;
    }

    .filters-block {
        &__heading {
            padding-left: 0;
            margin-bottom: 20px;
        }

        &__cancel-button {
            display: none;
        }

        form {
            position: relative;
            display: block;
        }

        &__submit {
            &-block {
                position: -webkit-sticky;
                position: sticky;
                left: 0;
                bottom: 0;
                padding-right: 0;
            }
        }

        &__show {
            &-block {
                display: none;
                position: relative;
                left: 0;
                bottom: 0;

            }
        }

        &__filter {
            &-option {
                &--two-col, &--three-col {
                    .filters-block__filter-checkbox-label {
                        margin: 0 7.5px;
                    }

                    &:first-child {
                        .filters-block__filter-checkbox-label {
                            margin-left: 0;
                        }
                    }

                    &:last-child(even) {
                        .filters-block__filter-checkbox-label {
                            margin-right: 0;
                        }
                    }
                }
            }

            &-disabled {
                width: 255px;
                transform: translate(-10px)
            }

            &-years-group {
                display: flex;
                justify-content: space-between;
                margin: 0px -81px;
            }

            &-year {
                padding: 0 34px;

                &:nth-child(even) {
                    background-color: transparent;
                }

                &:first-child {
                    padding-left: 81px;
                }

                &:last-child {
                    padding-right: 81px;
                }

                .filters-block__filter-options {
                    display: flex;
                    flex-direction: column;

                    .filters-block__filter-radio-label {
                        width: 215px;
                    }
                }

                .filters-block__filter-heading {
                    text-align: center;
                    height: 2rem;
                    width: 239px;
                    max-width: 239px;
                }
            }

            &-field {
                padding: 0;
                flex: 0 1 auto;

                &:first-child {
                    width: 25%;
                }

                &:last-child {
                    width: 75%;
                    padding: 0 90px;
                }

                &-radios {
                    display: flex;
                }
            }

            &-postcode {
                &-label {
                    @include desktop-body-font--bold-mixin();

                    margin-right: 55px;
                }

                &.textbox {
                    @include desktop-body-font-mixin();

                    padding: 6px 20px;
                    width: 100%;
                }
            }

            &-uni {
                &-alphabet {
                    margin-left: -3px;

                    &-letter {
                        margin-left: 3px;
                    }
                }

                &-controls {

                    &-select, &-clear {
                        @include mobile-body-font-mixin();

                        color: $gradient-light-green;
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    &-count {
                        @include desktop-body-font-mixin();

                        color: $ux-grey-3;

                        .selected, .total {
                            font-weight: bold;
                            color: $black;
                        }
                    }
                }

                &-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-bottom: 3px;
                }

                &-item {
                    width: 30%;
                }
            }
        }
    }
}