@import '../variables';
@import '../fonts';

.footer {

    background-color: $ux-grey-1;

    &__section-1-parent{
        background-color: #FFFFFF;
    }
    &__section-2-parent{
        background-color: #f4f8f8;
    }

    &__items {
        display: flex;
    }

    &__group {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-family: "Nunito Sans", sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1b2537;
        margin-bottom: 30px;
    }
    &__link:hover {
        text-decoration: underline;
        color: #2a8384;
    }
    &__link:active {
        text-decoration: underline;
        color: #2a8384;
    }


    &__copyright {
        font-family: "Nunito Sans", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #666666;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo{
        width: 50%;
        margin-bottom:2rem;
    }

    &__logo img {
        width: 75%;
    }

    &__logo.footer__logo-ofs img {
        width: 50%;
    }

    &__logo.footer__logo-dfeni img {
        width: 55%;
    }


    &__brand-logo {
        display: block;
        height: 60px;
        margin: auto;
        margin-bottom: 30px;
        padding: 0px 10px 8px;
    }

    &__social-media {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            display:inline-block;
        }
    }

    &__connect-text {
        font-family: Nunito Sans;
        display: flex;
        color: #000000;
        justify-content: center;
        padding: 0px 15% 8px;
        border-bottom: 1px solid black;
        margin: auto;
    }

    &__connect-text-cy {
        font-family: Nunito Sans;
        display: flex;
        color: #000000;
        justify-content: center;
        padding: 0px 15% 8px;
        border-bottom: 1px solid black;
        margin: auto;
    }

    &__social-container{
        display: flex;
        justify-content: center;
        height: 90px;
    }

    &__twitter-logo {
        color:#1f283a;
        font-size:1.5rem;
    }

    &__instagram-logo {
        color:#1f283a;
        font-size:1.5rem;
    }

    &__facebook-logo {
        color:#1f283a;
        font-size:1.5rem;
    }

}

@media only screen and (min-width: 770px) {
    .footer {

        &__items {
            flex-direction: column;
        }

        &__group {
            width: 100%;
            flex-direction: row;
        }

        &__link {
            font-family: "Nunito Sans", sans-serif;
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #1b2537;
            margin-bottom:15px;
        }

        &__copyright {
            font-family: "Nunito Sans", sans-serif;
            font-size: 0.9rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #666666;
        }
        
        &__logo-container {
            display: inline-block;
            justify-content: center;
            min-width: 350px;
        }

        &__brand-logo {
            display: inline-block;
            height: 55px;
            margin-bottom: 25px;
            padding: 0px 5px 5px 10px;
        }

        &__logo {
            width: 25%;
        }

        &__logo img {
            width: 75%;
        }

        &__logo.footer__logo-ofs img {
            width: 50%;
        }

        &__logo.footer__logo-dfeni img {
            width: 55%;
        }


        &__social-media {
            display: block;
        }

        &__connect-text {
            display: inline-block;
            vertical-align: top;
            overflow-wrap: break-word;
            width: 110px;
            font-size: 19px;
            padding: 14px 10px 8px 8px;
            border-right: 1px solid black;
            border-bottom: none;

        }

        &__connect-text-cy {
            display: inline-block;
            vertical-align: top;
            font-size: 19px;
            padding: 23px 45px 21px 54px;
            border-right: 1px solid black;
            border-bottom: none;
        }

        &__social-container{
            display: inline-block;
        }


        &__twitter-logo {
            color:#1f283a;
            font-size:1.5rem;
        }

        &__instagram-logo {
            color:#1f283a;
            font-size:1.5rem;
        }

        &__facebook-logo {
            color:#1f283a;
            font-size:1.5rem;
        }
    }
}

@media only screen and (max-width: 575px){
    .footer__section-1, .footer__section-2{
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 766px){
    .footer__section-1, .footer__section-2{
        width: 540px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    .footer__section-1, .footer__section-2{
        width: 720px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .footer__section-1, .footer__section-2{
        width: 960px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 1200px){
    .footer__section-1, .footer__section-2{
        width: 1140px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
