@import '../variables';
@import '../fonts';

.footer {
    padding: 50px 31px 39px;

    background-color: $ux-grey-1;

    &__items {
        display: flex;
    }

    &__group {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__link {
        @include mobile-body-font--bold-mixin();

        margin-bottom: 30px;
    }

    &__copyright {
        @include mobile-body-font--bold-mixin();

        margin-top: 24px;

        color: $helper-grey;
    }

    &__brand-logo {
        height: 42px;
        margin-bottom: 35px;
    }

    &__ofs-logo {
        height: 42px;
        margin-bottom: 40px;
        margin-left: 4px;
    }

    &__hefcw-logo {
        height: 40px;
        margin-bottom: 40px;
        margin-left: 4px;
    }

    &__dfeni-logo {
        height: 42px;
        margin-bottom: 49px;
        margin-left: 4px;
    }

    &__sfc-logo {
        height: 48px;
        margin-bottom: 54px;
        margin-left: 4px;
    }
}

@media only screen and (min-width: 770px) {
    .footer {
        padding: 75px 0px 65px;

        &__items {
            flex-direction: column;
        }

        &__group {
            width: 100%;
            flex-direction: row;
        }

        &__link {
            @include desktop-body-font-mixin();

            width: 25%;
            margin-bottom: 46px;
        }

        &__copyright {
            @include desktop-body-font--bold-mixin();

            margin-top: 9px;

            color: $helper-grey;
        }

        &__brand-logo {
            height: 57px;
            margin-bottom: 45px;
            padding-right: 5px;
            border-right-width: 1px;
            border-right-style: solid;
        }

        &__ofs-logo {
            height: 48px;
            margin-bottom: 56px;
            margin-left: 7px;
        }

        &__hefcw-logo {
            height: 48px;
            margin-bottom: 49px;
            margin-left: 7px;
        }

        &__dfeni-logo {
            height: 48px;
            margin-bottom: 49px;
            margin-left: 7px;
        }

        &__sfc-logo {
            height: 55px;
            margin-bottom: 48px;
            margin-left: 7px;
        }
    }
}
