@import '../variables';
@import '../fonts';

@mixin top-level-mobile-item() {
    @include desktop-body-font--bold-mixin();

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 27px 24px 20px;

    &:hover {
        @include green-gradient-background-mixin();
    }
}

@mixin top-level-desktop-item() {
    @include mobile-body-font-mixin();

    display: flex;
    align-items: center;

    a {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

        color: $white;
        text-decoration: none;
    }

    &:hover :not(#language_select):not(.nav-bookmark__count){
        @include green-gradient-background-mixin();
    }
    #language_select:hover{
        @include green-gradient-background-mixin();
    }

}


.discover-uni-nav {
    width: 100%;

    background-color: $header-blue;
    color: $white;

    &__container {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
    }

    &__home-link {
        text-decoration: none;
        align-self: center;

        background: none;
        border: none;
    }

    &__brand-logo {
        height: 40px;
    }

    &__burger-menu {
        text-align: right;
        padding-right: 12px;
        font-size: 28px;
    }

    &__close-menu {
        align-self: center;
        text-align: right;
        padding-right: 15px;
        font-size: 28px;
        display: none;
    }

    &__mobile {
        &-nav {
            display: flex;
            align-items: center;
        }

        &-links {
            display: none;
            min-height: 402px;
            position: absolute;
            z-index: 100;
            width: 100%;
            background-color: inherit;
        }

        &-accordion {
            border-bottom: 1px solid $white;

            &:first-child {
                border-top: 1px solid $white;
            }

            &-header {
                @include top-level-mobile-item();

                .collapse {
                    display: none;
                }
            }

            &-title {
                margin: 0;
                margin-right: 9px;

                color: $white;
            }

            &-body {
                text-align: right;
                padding-bottom: 20px;

                &-link {
                    @include small-font--bold-mixin();

                    display: block;
                    padding: 10px 24px 10px;

                    color: $white;
                    text-decoration: none;

                    &:first-child {
                        margin-top: 10px;
                    }

                    &:hover {
                        @include green-gradient-background-mixin();
                    }
                }
            }
        }

        &-link {
            @include top-level-mobile-item();

            color: $white;
            text-decoration: none;
            border-bottom: 1px solid $white;
        }

        &-language-toggles {
            display: flex;
            border-top: 1px solid $white;

            .discover-uni-nav__mobile-link {
                width: 50%;
                justify-content: center;

                &.active {
                    @include green-gradient-background-mixin();
                }
            }
        }
    }

    &__desktop-links {
        display: none;
    }

    &__link-icon {
        margin-left: 7px;
    }

    &__bookmark-icon {
        height: 22px;
        margin-right: 20px;

        cursor: pointer;
    }

    .nav-section__icon {
        margin-left: 7px;
    }

    #language_select.nav-bookmark{
        border-style: solid;
        border-color: #FFFFFF;
        border-width:1.5px;
        border-radius: 15px;
        margin-top:auto;
        margin-bottom:auto;
        height:30px;
    }

    .nav-bookmark {
        position: relative;

        &__count {
            position: absolute;
            padding: 2px 4.5px;
            right: 10px;
            top: 2px;

            background-color: $delete-red;
            border-radius: 20px;
            font-size: 9px;
            font-weight: bold;
            color: $white;
        }
    }
}

@media only screen and (min-width: 770px) {
    .discover-uni-nav {
        &__container {
            padding: 20px 0px;
        }

        &__mobile-nav {
            display: none;
        }


        &__brand-logo {
            height: 57px;
        }

        &__desktop {
            &-links {
                display: flex;
                margin: -20px 0px -20px;

                list-style: none;
                padding-left: 0px;
            }

            &-dropdown {
                height: 100%;

                border: none;
                background-color: transparent;
                text-decoration: none;

                &:hover, &:focus {
                    .discover-uni-nav__desktop-dropdown-body {
                        display: block;
                    }
                }

                &-toggle {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin: 0px;

                    color: $white;
                    text-decoration: none;

                    &:hover {
                        @include green-gradient-background-mixin();
                    }
                }

                &-body {
                    display: none;
                    position: absolute;
                    z-index: 100;
                    padding-left: 0px;

                    background-color: $header-blue;
                    list-style: none;
                }

                &-link {
                    @include mobile-body-font-mixin();

                    display: block;
                    padding: 25px 15px;
                    min-width: 179px;
                    line-height: 19px;

                    color: $white;
                    text-decoration: none;

                    &:hover {
                        @include green-gradient-background-mixin();
                    }
                }
            }

            &-link {
                @include top-level-desktop-item();
            }
        }

        &__link-icon {
            margin-left: 7px;
        }

        &__bookmark-icon {
            margin-right: 0px;
        }

        .nav-bookmark {

            &__count {
                padding: 0px 5.3px;
                right: 5px;
                top: 38px;

                border-radius: 20px;
            }
        }
    }
}
