@import '../variables';
@import '../fonts';

@mixin top-level-mobile-item() {
    @include desktop-body-font--bold-mixin();

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 27px 24px 20px;
}


.discover-uni-nav {
    width: 100%;

    &__container {
        padding: 22px 20px 22px 18px;
        display: flex;
        justify-content: space-between;
    }

    background-color: $header-blue;
    color: $white;

    &__home-link {
        text-decoration: none;
        align-self: center;

        background: none;
        border: none;
    }

    &__brand {
        margin: 0;

        font-family: Montserrat;
        font-size: 19px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: $white;

        &-icon {
            height: 1em;
            margin-left: 10px;
        }
    }

    &__burger-menu {
        text-align: right;
        padding-right: 12px;
        font-size: 28px;
    }

    &__close-menu {
        align-self: center;
        text-align: right;
        padding-right: 15px;
        font-size: 28px;
        display: none;
    }

    &__mobile {
        &-links {
            display: none;
            min-height: 402px;
            position: absolute;
            z-index: 100;
            width: 100%;
            background-color: inherit;
        }

        &-accordion {
            border-bottom: 1px solid $white;
            padding-bottom: 10px;

            &:first-child {
                border-top: 1px solid $white;
            }

            &-header {
                @include top-level-mobile-item();

                &:hover {
                    @include green-gradient-background-mixin();
                }

                .collapse {
                    display: none;
                }
            }

            &-title {
                margin: 0;
                margin-right: 9px;

                color: $white;
            }

            &-body {
                text-align: right;
                padding: 20px 24px;

                &-link {
                    @include small-font--bold-mixin();

                    padding-top: 20px;

                    color: $white;
                    text-decoration: none;
                }
            }
        }

        &-link {
            @include top-level-mobile-item();

            color: $white;
            text-decoration: none;

            img {
                margin-left: 7px;
            }
        }
    }
}

@media only screen and (min-width: 770px) {

    .discover-uni-nav-container {
        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
        height: 90px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .mobile-nav {
        display: none
    }

    .burger-menu {
        display: none;
    }
}

.footer {
    height: 220px;

    background-color: $ux-grey-1;
    color: $black;
}
