@import '../variables';
@import '../fonts';

@mixin top-level-mobile-item() {
  @include desktop-body-font--bold-mixin();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 27px 24px 20px;
  &:hover {
    @include green-gradient-background-mixin();
  }
}


nav {
  width: 100%;
  background-color: $header-blue;
  color: $white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__brand-logo {
      height: 40px;
    }


    &__burger-menu {
      display: flex;
      align-self: center;
      padding-right: 12px;
      font-size: 28px;
    }

    &__close-menu {
      align-self: center;
      text-align: right;
      padding-right: 15px;
      font-size: 28px;
      display: none;
    }

    &__menus-container {
      display: none;
    }

    &__primary-menu {}

    &__primary-link {}

    &__dropdown-body {
      display: none;
    }

    &__secondary-menu {}

    &__secondary-link {
      a {
        display: flex;
        align-items: center;

        img {
          height: 22px;
          width: 22px;
        }

        span {
          display: none;
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  nav {
    .nav {
      display: flex;
      align-items: center;
      height: 100px;
      padding: 0px;

      &__brand-logo {
        height: 57px;
      }

      &__burger-menu {
        display: none;
      }

      &__menus-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }

      &__primary-menu {
        display: flex;
        list-style: none;
        height: 100%;
      }

      &__primary-link {
        height: 100%;
        border: none;
        background-color: transparent;
        text-decoration: none;

        &:hover, &:focus {
          .nav__dropdown-body {
            display: block;
          }
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 15px;
          padding-right: 15px;
          margin: 0px;
          color: $white;
          text-decoration: none;

          &:hover {
            @include green-gradient-background-mixin();
          }
        }
      }

      &__dropdown-body {
        display: none;
        position: absolute;
        z-index: 100;
        padding-left: 0px;
        background-color: $header-blue;
        list-style: none;

        li {
          @include mobile-body-font-mixin();
          display: block;
          padding: 25px 15px;
          min-width: 179px;
          line-height: 19px;
          color: $white;
          text-decoration: none;
        }

        li:hover {
          @include green-gradient-background-mixin();
        }
      }

      &__secondary-menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 30px;
        height: 50px;
        background-color: #000000;
        border-radius: 40px 40px 40px 40px;
        list-style: none;
      }

      &__secondary-link {
        @include small-font--bold-mixin();
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;

        a {
          display: flex;
          align-items: center;
          padding-left: 15px;
          padding-right: 15px;
          color: #FFFFFF;
          text-decoration: none;

          img {
            height: 22px;
            width: 22px;
          }

          span {
            display: flex;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
