@import './forms';

.search-dropdown {
    width: 100%;
    position: relative;

    .selection-field {
        display: none;
    }

    .search-field {
        width: 100%;
        position: relative;

        input {
            @extend .textbox;
            border-width: 2px 2px 2px 2px;
            width: 100%;
            border-radius: 5px 5px 5px 5px;

            &::-ms-clear {
                display: none;
            }
        }

        &-dropdown-button {
            position: absolute;
            display: inline-block;
            
            top: 5%;
            right: 4px;
            
            width: 36px;
            height: 90%;
            
            border: none;
            background-color: $form-grey;

            cursor: pointer;
            outline: none;

            &:after {
                position: absolute;
                content: "";
                top: 45%;
                right: 10px;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-color: $ux-grey-3 transparent transparent transparent;
            }

            &.active:after {
                position: absolute;
                content: "";
                top: 20%;
                right: 10px;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-color: transparent transparent $ux-grey-3 transparent;
            }
        }
    }

    .options-list {
        display: none;
        width: 100%;
        position: absolute;
        z-index: 10;
        background-color: $ux-grey-1;
        max-height: 292px;
        overflow-y: scroll;

        &--placeholder {
            @include small-font-mixin();

            padding: 28px 30px;
            margin: 0;

            color: $helper-grey;
        }

        .option {
            @include small-font-mixin();

            display: block;
            padding: 28px 30px;
            margin: 0;

            color: $helper-grey;

            cursor: pointer;

            &:hover {
                @include green-gradient-background-mixin();
            }
            
            &-highlight{
                @include small-font-mixin();
                @include green-gradient-background-mixin();

                display: block;
                padding: 28px 30px;
                margin: 0;

                cursor: pointer;
            }
        }

        #institution_query-na-ui.option{
            font-size: 1rem;
            font-weight: bold;
            border-bottom: 2px solid #6E6E6E;

            &-highlight {
                @include green-gradient-background-mixin();

                font-size: 1rem;
                font-weight: bold;
                border-bottom: 2px solid #6E6E6E;

                display: block;
                padding: 28px 30px;
                margin: 0;

                cursor: pointer;
            }
        }
    }
}
#home-page__intro-panel .search-dropdown .search-field input, #course-finder__intro-panel .search-dropdown .search-field input {
    border-width: 1px;
    border: 1px solid rgb(206, 212, 218);
}