{% load static %}
{% load discover_uni_tags %}

<div class="tef-block">
    <div class="tef-images">
        <div style="min-width: 35%;">
            {% with image_copy=tef.tef_image.1 image=tef.tef_image.0 %}
                <img class="tef-logo" src="{% static image %}" alt="{{ image_copy }}" title="{{ image_copy }}">
            {% endwith %}
        </div>
        <p>{{ tef.head_copy}}</p>
    </div>
    <div class="tef-links">
        <div class="tef-breakdown">
            {% if tef.left_copy %}
                <p>{{ tef.left_copy }}</p>
            {% endif %}
            {% if tef.left_link %}
                <a class="tef-btn" target="_blank"
                   href="{{ tef.left_link }}">{{ tef.left_button }}</a>
            {% endif %}
        </div>

        <div>
            {% if tef.right_copy %}
                <p>{{ tef.right_copy | safe}}</p>
            {% endif %}
            {% if tef.right_link %}
            <a class="tef-btn" href="{{ tef.right_link }}" target="_blank">{{ tef.right_button }}</a>
            {% endif %}
        </div>
    </div>
</div>
