.kis-widget {
    font-family: Nunito Sans;
    border: 2px solid #4EA27D;
}

.kis-widget .widget-lead {
    background-color: white;
    color: #4EA27D;
}

.kis-widget .widget-lead .intro {
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
}

.kis-widget .widget-cta-block {
    padding: 15px 15px 21px 15px;
    background: linear-gradient(145.9deg, #4EA27D 13.02%, #308282 85.42%);
}

.kis-widget .widget-cta-block .cta-lead {
    font-size: 13px;
    line-height: 16px;
    color: white;
}

.kis-widget .widget-cta-block .logo {
    margin:0px;
    margin-bottom:38px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: white;
}

.kis-widget .widget-cta-block .cta {
    background-color: white;
    border-radius: 60px;
    color: #4EA27D;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.kis-widget .widget-cta-block .cta a {
    color: #4EA27D;
    text-decoration: none;
}

.kis-widget .widget-lead .title {
    font-size: 48px;
    font-weight: normal;
    line-height: 57px;
    margin: 0;
}

.kis-widget .widget-lead .course {
    font-size: 11px;
    line-height: 13px;
    margin: 0px;
}


.kis-widget.vertical {
    width: 190px
}

.kis-widget.horizontal {
    width: 615px;
    display: flex;
}

.kis-widget .widget-lead {
    padding: 15px 20px 220px 15px;
}

.kis-widget.vertical .widget-lead {
    position: relative;
}

.kis-widget.horizontal .widget-lead {
    width: 380px;
    flex: 1 1 0;
    padding: 27px 17px 17px;
    position: relative;
}

.kis-widget.horizontal.no-data .widget-lead {
    padding: 18px 25px 80px 20px;
}

.kis-widget.horizontal .widget-lead .stat {
    display: flex;
    align-items: flex-end;
}

.kis-widget.horizontal .widget-lead .course-details {
    position: absolute;
    bottom: 17px;
}

.kis-widget.horizontal .widget-lead .intro {
    margin-left: 10px;
    margin-bottom: 6px;
}

.kis-widget.vertical .widget-cta-block {
    padding: 15px 15px 21px 15px;
}

.kis-widget.horizontal.no-data .widget-cta-block {
    width: 160px;
    flex: 1 1 0;
    padding: 15px 11px 20px 19px;
}

.kis-widget.horizontal .widget-cta-block {
    width: 155px;
    float: right;
    padding: 15px 15px 20px 15px;
}

.kis-widget.vertical .widget-lead .course-details {
    position: absolute;
    bottom: 18px;
    padding-right: 15px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}
