.widget-body {
    margin: 0px;
}

.kis-widget {
    font-family: Nunito Sans;
    border: 2px solid #4EA27D;
    display: flex;
}

.kis-widget .widget-lead {
    background-color: white;
    color: #308282;
}

.kis-widget .widget-lead .intro {
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
}

.kis-widget .widget-cta-block {
    padding: 15px 15px 21px 15px;
    background: linear-gradient(145.9deg, #4EA27D 13.02%, #308282 85.42%);
}

.kis-widget .widget-cta-block .cta-lead {
    font-size: 13px;
    line-height: 16px;
    color: white;
}

.kis-widget .widget-cta-block .logo {
    margin-top: 9px;
    margin-bottom: 38px;
    height: 30px;
    display: block;
}

.kis-widget.horizontal .widget-cta-block .logo {
    margin-bottom: 10px;
}

.kis-widget .widget-cta-block .cta {
    background-color: white;
    border-radius: 60px;
    color: #308282;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.kis-widget .widget-cta-block .cta a {
    color: #308282;
    text-decoration: none;
}

.kis-widget .widget-cta-block h1 {
    font-weight: normal;
    margin: 0px;
}

.kis-widget .widget-lead .title {
    font-size: 48px;
    font-weight: normal;
    line-height: 57px;
    margin: 0;
}

.kis-widget .widget-lead .course {
    font-size: 11px;
    line-height: 13px;
    margin: 0px;
}


.kis-widget.vertical {
    width: 186px;
    /* This has been removed because if one of the pages in the animation is */
    /* larger than the box it will overflow the box and the border will not */
    /* apear at the bottom any more */
    /*height: 496px;*/
    flex-direction: column;
}

.kis-widget.horizontal {
    width: 611px;
    height: 146px;
}

.kis-widget.vertical.responsive, .kis-widget.horizontal.responsive {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    max-height: 500px;
}

.kis-widget.horizontal.responsive .widget-lead .stat {
    align-items: flex-start;
}

.kis-widget .widget-lead {
    padding: 15px 20px 184px 15px;
}

.kis-widget.vertical .widget-lead {
    position: relative;
    flex: 1;
}

.kis-widget.horizontal .widget-lead {
    width: 380px;
    flex: 1 1 0;
    padding: 27px 17px 17px;
    position: relative;
}

.kis-widget.horizontal.no-data .widget-lead {
    padding: 18px 25px 80px 20px;
}

.kis-widget.horizontal .widget-lead .stat {
    display: flex;
    align-items: flex-end;
}

.kis-widget.horizontal .widget-lead .course-details {
    position: absolute;
    bottom: 17px;
}

.kis-widget.horizontal .widget-lead .intro {
    margin-left: 10px;
    margin-bottom: 6px;
}

.kis-widget.vertical .widget-cta-block {
    padding: 15px 15px 21px 15px;
}

.kis-widget.horizontal.no-data .widget-cta-block {
    width: 160px;
    flex: 1 1 0;
    padding: 15px 11px 20px 19px;
}

.kis-widget.horizontal .widget-cta-block {
    width: 155px;
    float: right;
    padding: 15px 15px 20px 15px;
}

.kis-widget.vertical .widget-lead .course-details {
    position: absolute;
    bottom: 18px;
    padding-right: 15px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

#unistats-widget-frame .kis-widget.vertical {
    width: 100%
}

#unistats-widget-frame .kis-widget.horizontal {
    height: 100%
}
