/* Course Finder Landing Page */

.course-finder-landing-page {
  text-align: center;
  grid-template-rows: 200px;
  -ms-grid-rows: 200px;
}

.course-finder-landing-page .header {
  padding-top: 95px;
}

.course-finder-landing-page h1 {
  color: #5F607C;
  margin: 30px 0 15px 0;
}

.course-finder-landing-page .subheader {
  font-size: 19px;
  line-height: 21px;
  color: #8F8F8F;
}

.template-course-finder-landing-page .start {
  background-image: url('/static/assets/curved-bg.svg');
  background-size: cover;
  grid-template-rows: 480px;
  -ms-grid-rows: 480px;
  text-align: center;
  -ms-grid-columns: 285px;
  grid-template-columns: 285px;
}
.start a {
  align-self: end;
}

.start input[type="submit"] {
  margin-bottom: 70px;
  background-color: #fff;
  color: #5F607C;
  max-width: 285px;
}

.start input[type="submit"]:hover {
  background-color: #5F607C;
  color: #fff;
  border: 1px solid #fff;
}

@media only screen and (max-width: 770px) {

  .course-finder-landing-page {
    text-align: center;
    grid-template-rows: 325px;
    -ms-grid-rows: 325px;
  }

  .template-course-finder-landing-page .start {
    grid-template-rows: 280px;
    -ms-grid-rows: 280px;
  }

  .start input[type="submit"] {
    margin-bottom: 35px;
  }
}

/* Course Finder Base */

.course-finder-base {
  display: grid;
  grid-template-rows: 105px 60px 700px;
  -ms-grid-rows: 105px 60px 700px;
}

.course-finder-base .header {
  background-color: #5F607C;
  color: #fff;
  text-align: center;
  display: grid;
}

.course-finder-base .header h2 {
  margin: 0;
  align-self: center;
}

.course-finder-base .navigation {
  padding-left: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  margin: 0;
  height: 100%;
  background-color: #5F607C;
  border-bottom: 1px solid #5F607C;
}

.course-finder-base .navigation a {
  text-decoration: none;
}

.course-finder-base .navigation li {
  align-self: center;
  background-color: #F5FAFF;
  margin: 0 1px;
  padding: 22px 0;
}

.course-finder-base .navigation a:nth-of-type(2) li {
  margin: 0;
}

.back {
  background-image: url('/static/assets/left-arrow.svg');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 44% 50%;
}

.start-again {
  background-image: url('/static/assets/start-again.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 38% 50%;
}

.skip {
  background-image: url('/static/assets/right-arrow.svg');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

.filter {
  background-image: url('/static/assets/filter.svg');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 56% 50%;
}

.course-finder-content {
  grid-template-rows: 425px 55px;
  padding-top: 60px;
  grid-row-gap: 50px;
}

.question {
  background: #F5FAFF;
  border: 1px solid #5F607C;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  color: #5F607C;
  padding: 0 105px;
  position: relative;
}

.question h3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.question form {
  text-align: left;
}

.course-finder-content input {
  margin-bottom: 30px;
}

.course-finder-content input[type="text"] {
  border: 1px solid #5F607C;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 19px
}

.course-finder-content input[type="text"]::placeholder {
  font-size: 19px;
}

.course-finder-content .helper-text .rich-text .subsection-text p {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 105px 25px;
  margin: 0;
}

.next input[type="submit"] {
  background-color: #5F607C;
}

.next input[type="submit"]:hover {
  border: 1px solid #5F607C;
  background: #fff;
  color: #5F607C;
}

@media only screen and (max-width: 770px) {

  .course-finder-base {
    grid-template-rows: 70px 40px 495px;
    -ms-grid-rows: 70px 40px 495px;
  }

  .course-finder-base .navigation {
    grid-template-columns: 1fr 50% 1fr;
  }

  .course-finder-content {
    grid-template-rows: 350px 55px;
    padding-top: 30px;
    grid-row-gap: 25px;
  }

  .course-finder-base .navigation li {
    padding: 12px 0;
  }

  .back {
    background-size: 5px;
    background-position: 29% 50%;
  }

  .start-again {
    background-size: 12px;
    background-position: 27% 50%;
  }

  .skip {
    background-size: 5px;
    background-position: 69% 50%;
  }

  .filter {
    background-size: 11px;
    background-position: 77% 50%;
  }

  .question {
    padding: 0 45px;
  }

  .course-finder-content input {
    margin-bottom: 15px;
  }

  .course-finder-content .helper-text .rich-text .subsection-text p {
    padding-left: 45px;
    padding-right: 45px;
  }

  .course-finder-content input[type="text"] {
    font-size: 13px
  }

  .course-finder-content input[type="text"]::placeholder {
    font-size: 13px;
  }

}

/* Choose Subject */

.template-course-finder-choose-subject h3 {
  margin: 60px 0;
}

.template-course-finder-choose-subject .course-finder-content div:nth-of-type(3) {
  display: none;
}

.template-course-finder-choose-subject form div {
  position: relative;
}

.template-course-finder-choose-subject  form div span {
  position: absolute;
  height: 48px;
  width: 45px;
  top: 0;
  right: 0;
  justify-content: center;
  border: 1px solid #5F607C;
  display: grid;
  border-radius: 0 6px 6px 0;
  background-color: #fff;
}

.template-course-finder-choose-subject form div span img {
  align-self: center;
}

.template-course-finder-choose-subject  input[type="text"] {
  border: 1px solid #5F607C;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
  position: relative;
  width: 371px;
  border-right: none;
}

@media only screen and (max-width: 770px) {

  .template-course-finder-choose-subject h3 {
    margin: 30px 0;
  }

  .template-course-finder-choose-subject input[type="text"] {
    width: 176px;
  }

}

/* Narrow Search */

.template-course-finder-town-city .question, .template-course-finder-uni .question {
  display: grid;
}

.template-course-finder-town-city h3, .template-course-finder-uni h3  {
  margin-bottom: 45px;
  align-self: end;
  margin-top: 0;
}


.template-course-finder-postcode .question {
  padding: 0 160px;
}

.template-course-finder-postcode  h3 {
  margin-top: 45px;
  margin-bottom: 15px;
}

.template-course-finder-postcode .radio, .template-course-finder-postcode p {
  text-align: center;
}

.template-course-finder-postcode .radio {
  padding-top: 1px;
  padding-bottom: 6px;
}

.template-course-finder-postcode input[type="text"] {
  text-align: center;
  padding-left: 0;
}

.template-course-finder-postcode .radio input[type="radio"] + label::before {
  left: 90px;
}

.template-course-finder-postcode .radio input[type="radio"] + label::after {
  left: 96px;
}

@media only screen and (max-width: 770px) {

  .template-course-finder-postcode .question {
    padding: 0 79px;
  }

  .template-course-finder-postcode .radio input[type="radio"] + label::before {
    left: 27px;
  }

  .template-course-finder-postcode .radio input[type="radio"] + label::after {
    left: 33px;
  }

}

/* Summary */

.template-course-finder-summary p {
  text-align: left
}

.template-course-finder-summary p:nth-child(odd) {
  margin-bottom: 0;
  font-weight: bold;
}

.template-course-finder-summary p:nth-child(even) {
  margin-top: 0;
}

#courseFinderResultsForm input[type="text"] {
  display: none;
}

/* Course finder Results */

.template-course-finder-results .course-finder-base {
  grid-template-rows: 105px 60px 1fr;
}

.results-container {
  grid-row-gap: 30px;
}

.results-header {
  background: #5F607C;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  padding: 0 30px;
  height: 90px;
}

.results-header h3 {
  margin-bottom: 10px;
}

.results-header p {
  margin: 0;
}

.result-title .helper-text {
  font-size: 15px;
  color: #8F8F8F;
  margin-top: 5px;
}

.result {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px;
  grid-template-rows: 90px;
  background: #F0F7FF;
  border: 1px solid #5F607C;
  border-radius: 6px;
}

.result-title {
  padding-left: 30px;
  padding-right: 110px
}

.result h4 {
  margin-bottom: 0;
}

.result {
  position: relative;
}

.result .down-arrow {
  position: absolute;
  right: 0;
  display: -ms-grid;
  display: grid;
  width: 90px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90px;
  border-left: 1px solid #4C4D6C;
  top: 0;
}

.result .down-arrow svg {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.open-result .down-arrow svg {
  transform: rotate(180deg);
}

.course {
  display: none;
  padding: 30px 30px;
  border-bottom: 1px solid #4C4D6C;
}

.course-name {
  font-size: 16px;
  text-decoration: underline;
  color: #71A4D3;
}

.course-info {
  font-size: 14px;
  line-height: 17px;
  color: #5F607C;
  margin: 0;
}

.course .subsection-text {
  margin: 15px 0;
}

.open-result .course {
  display: block;
}

.open-result div:nth-last-of-type(2) {
  border-bottom: none;
}

.course input[type="button"] {
  background: #71A4D3;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 10px;
  border: none;
}


.related-links {
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 84%;
  grid-template-columns: 84%;
  grid-row-gap: 30px;
  text-align: center;
  background-color: #F3F9FF;
  color: #4C4D6C;
  margin-top: 90px;
  padding-bottom: 105px;
}

.related-links h2 {
  margin: 0;
  padding: 60px 0 30px 0;
  font-size: 33px;
  line-height: 40px;
}

.related-links .link {
  display: grid;
  display: -ms-grid;
  height: 150px;
  background-color: #fff;
  border: 1px solid #4C4D6C;
  box-sizing: border-box;
  border-radius: 6px;
}

.related-links .link h3 {
  align-self: center;
}

.related-links .link h3 a {
  color: #4C4D6C;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

@media only screen and (max-width: 769px) {

  .template-course-finder-results .course-finder-base {
    grid-template-rows: 70px 40px 1fr;
  }


  .result .down-arrow {
    height: 90px;
    width: 90px;
  }

  .result .down-arrow svg {
    width: 23.6px;
    height: 13.04px;
  }

  .related-links {
    margin-top: 45px;
    padding-bottom: 45px;
  }

  .related-links .link, {
    height: 105px;
  }

  .related-links h2, {
    padding-top: 45px;
    font-size: 24px;
    line-height: 29px;
  }

  .related-links .link h3 a, .lateral-links .link h3 a {
    font-size: 19px;
    line-height: 110%;
  }

}
