@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/partials/forms';

//Accordion CSS
.accordion-header {
  //background: #f2f2f2;
  cursor: pointer;
  margin-bottom: 8px;

  //&:focus, &:active {
  //  outline: none;
  //}
}

.green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:$royal-blue;
  color: #FFFFFF;
  border: 3px solid transparent;
  border-radius: 4px;

  .title {
    color: white;
  }
}

.accordion-title {
  font-weight: bold;
  font-size: 1rem;
}

.accordion-padding {
  padding: 9px 12px 9px 12px;
}

@media only screen and (min-width: 780px) {
  .accordion-padding {
    padding: 20px 40px 20px 29px;
  }
  .accordion-title {
    font-size: 1.25rem;
  }
}


//#Accordion CSS END