@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/partials/forms';
//@import 'forms';

//*:focus {
//  outline: none;
//}


.comparison__xs-rotate {
  color: #1F283A;

  h3 {
    color: #1F283A;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.course-detail__headline_stat {
  display: none;
}


.accordion-block {
  margin-bottom: 32px !important;
}

$widthOfWideArrow: 49px;
$widthOfNarrowArrow: 27px;

.course-info-right {
  margin-right: $widthOfWideArrow;
}

.course-info-left {
  margin-left: $widthOfWideArrow;
}

.course-info-both {
  margin-right: $widthOfNarrowArrow;
  margin-left: $widthOfNarrowArrow;
}

.single-arrow {
  width: $widthOfWideArrow;
}

.both-arrows {
  min-width: $widthOfNarrowArrow;
}


.chevron {
  font-size: 1.25rem;
  margin-left: 4px;
}

.blue-text {
  color: $royal-blue;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.875rem;
}

#addCourses:hover {
  color: $text;
}

.invert-image {
  margin-right: 22px;
}

#addCourses:hover {
  color: $text;
}

.no_data_container {
  font-size: 1rem;
  position: relative;
  padding: 5px 7px;

  .information-text {
    position: absolute;
    width: 250px;
    background-color: #e4e4e4;
    box-shadow: 2px 5px 5px 2px grey;
    text-align: left;
    font-size: 0.875rem;
    padding: 15px;
    border-radius: 3px;
    z-index: 9;
  }

  .information-icon {
    display: inline-block;
    height: 20px;
    font-size: 22px;
    margin: 0 0 3px 3px;
  }

  .close_button_mobile {
    float: right;
  }

  .left {
    left: -15px;
  }

  .right {
    right: -10px;
  }
}

$course_comparison_line_height: 51px;
$course_comparison_font_normal: 0.875rem;
$course_comparison_show_more: 1rem;
$course_comparison_first_column_width: 250px;
$grey-background: #F7F7F7;
$grey-border: #E6E8EB;

.unavailable {
  font-size: 1rem !important;
  padding: 5px;
}

.unavailable-container {
  padding: 0;
  text-align: left;
  font-size: 1rem;
  margin-left: 0;
}

.course_comparison-table {
  &__tick-icon {
    font-size: 22px;
    color: $royal-blue;
    //background: -webkit-gradient(linear, left top, left bottom, from(#4EA27D), to($blue2));
    -webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    display: initial;
    vertical-align: middle;
  }

  .comparison_row {
    display: block;
    text-align: center;
    min-height: 44px;
    border: 1px solid #E6E8EB;

    &:first-child {
      border-radius: 8px;
    }

    &-header {
      min-height: $course_comparison_line_height;
      //margin-bottom: 16px;
      display: flex;
      align-items: center;
      background: #f2f2f2;
      color: $royal-blue;
      padding: 8px 8px 8px 23px;
      font-weight: 300;
      font-size: 1.125rem;
      cursor: pointer;
      border: 1px solid #E6E8EB;
      border-radius: 8px 8px 0 0;

      .invert-image {
        -webkit-filter: invert(100%);
        filter: invert(100%);
      }
    }

    &-donut-header {
      min-height: $course_comparison_line_height;
      //margin-bottom: 16px;
      display: flex;
      align-items: center;
      background: $royal-blue;
      color: white;
      padding: 8px 8px 8px 23px;
      font-weight: 300;
      font-size: 1.125rem;
      cursor: pointer;
      border: 1px solid #E6E8EB;
      border-radius: 100px;
      //border-bottom: none;
      width: fit-content;
      margin: auto auto 10px auto;
    }

    &-header {
      min-height: $course_comparison_line_height;
      //margin-bottom: 16px;
      display: flex;
      align-items: center;
      background: $royal-blue;
      color: white;
      padding: 8px 8px 8px 23px;
      font-weight: 300;
      font-size: 1.125rem;
      cursor: pointer;
      border: 1px solid #E6E8EB;
      border-radius: 8px 8px 0 0;
      //border-bottom: none;
      margin: auto auto 10px auto;

    }

    &-earnings {
      background: $divider-grey;
      //margin-bottom: 8px;
      font-size: 1.25rem;
      border: 1px solid $grey-border;

      &:nth-child(1) {
        font-size: 1rem;
        margin-top: 8px;
      }

      &:nth-child(4), &:nth-child(6), &:nth-child(7) {
        font-size: 1.125rem;
      }

      .column {
        border-right: none;

      }

      .comparison_row {
        border-top: none;
      }

      .column-title_container {
        border-left: none;
      }
    }

    &-earnings_first {
      @extend .comparison_row-earnings;
      border: 1px solid $grey-border;

      .column {
        border-right: none;

      }

      .comparison_row {
        border-top: none;
      }

      .column-title_container {
        border-left: none;
      }
    }

    &-details_background {
      background: $divider-grey;
      font-size: 0.875rem;
      //border: 1px solid #E6E8EB;

      &:last-child {
        border-bottom: none;
      }
    }

    &-grey_background {
      background: $grey-background;
      font-size: 1.25rem;
      border-radius: 8px 8px 0 0;


      &:nth-child(2) {
        font-size: 1.125rem;
      }

      &.source {
        margin-bottom: 16px;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
        border: 1px solid $grey-border;

        .column-title_container {
          border: none;
        }

        .column {
          border-top: none;
          border-bottom: none;
        }

        .comparison_row {
          border-top: none;
        }
      }
    }

    &-yellow_background {
      width: 100%;
      background: $grey-background;
      border-bottom: 1px solid $grey-border;
      margin-bottom: 16px;
      font-size: 1.25rem;

      &:first-child {
        border-radius: 0 0 8px 8px;
        border: 1px solid $grey-border;
      }

      &:nth-child(4), &:nth-child(5) {
        font-size: 0.875rem;
      }

      .header {
        background: #F7F7F7;
      }
    }
    .custom-donut .container .circular-progress {
      width: 130px;
      height: 130px;
    }

    .custom-donut .container .circular-progress::before {
      background-color: #F7F7F7;
    }
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    font-size: inherit;
    //min-height: $course_comparison_line_height;
    background: inherit;
    color: $royal-blue;
    //margin-bottom: auto;
    //margin-top: auto;
    padding: 20px;
    border: 1px solid #E6E8EB;
    min-height: 53px;
    border-bottom: none;
    border-top: none;

    &.item_font {
      font-size: 1.25rem;
    }

    &-title_container {
      display: flex;
      flex-direction: column;
      border: 1px solid #E6E8EB;
      //min-height: 40px;
      background: inherit;
      align-items: center;
      padding: 17px 10px 10px 18px;
      border-top: none;
    }

    &-first {
      display: flex;
      align-items: center;
      min-width: 100%;
      max-width: 100%;
      padding-bottom: 4px;
      color: $royal-blue;
      padding-left: 10px;
      font-size: $course_comparison_font_normal;
      min-height: 20px;
      text-align: left;
      background: inherit;

      &.subtitle {
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 300 !important;
      }

      &.show_more {
        padding: 10px 10px 10px 18px;
        color: white;
        max-width: unset;
        min-width: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $royal_blue;
        border-radius: 28px;
        width: 30%;
        margin: auto;
        position: relative;
        bottom: 25px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.header_font {
        font-size: 1rem !important;
        font-weight: 600;
      }
    }
  }

  &.source {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.875rem;
    height: $course_comparison_line_height;
    background: inherit;
    color: $royal-blue;
    margin-left: 24px;

    &-link {
      color: $blue2;
      text-decoration: underline;
    }
  }
}

.last-row {
  height: 30px;
  border-radius: 0 0 8px 8px;
  border: 1px solid #E6E8EB;
  border-top: none;
  background-color: #f2f2f2;
}

.institution-link {
  color: $blue2;
  text-decoration: underline;
  font-size: 0.875rem !important;
  padding: 10px;
}

.new_tab {
  margin-left: 3px !important;
}

.snippet_container {
  width: 100%;

  .country {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
  }

  .margin {
    position: absolute;
    bottom: -10px;
    border-bottom: 4px solid white;
    width: 100vw;
    left: -170px;
  }

  .population {
    padding-top: 24px;
  }
}

.small-flex-div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  background-color: inherit;
  align-items: center;
}

.subject_wrapper {
  display: block;
  width: 100%;
  color: $royal-blue;
  margin-top: 10px;

  .box {
    background-color: #f2f2f2;
    min-width: 100%;
    display: block;
    padding: 16px 16px 16px 24px;
    margin: 0 0 8px 0;
    border-radius: 8px;
    border: 1px solid #E6E8EB;

    .header {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 16px;
    }
  }

  &-container {
    min-width: 100%;
    padding: 0;
    margin: 0;

    .header {
      background-color: #f2f2f2;
      position: relative;
      padding: 16px 8px 13px 8px;
      border-radius: 4px;
    }

    .subjects {
      display: flex;

      .subject {
        flex: 1;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        .list {
          list-style-type: none;
          padding: 0;
        }
      }

      .button {
        display: flex;
        background-color: rgba(239, 204, 75, 0.5);
        margin: 6px 0 6px 0;
        padding: 8px 8px 8px 26px;
        border-radius: 4px;
        flex: 1;
        cursor: pointer;

        &.selected {
          background-color: #efcc4b;
          cursor: default;
          padding: 8px;

          &:before {
            content: "";
            //background-image: url(/static/assets/tick.png);
            background-repeat: no-repeat;
            height: 17px;
            width: 12px;
            background-size: 12px 12px;
            padding-right: 18px;
            background-position-y: 5px;
          }
        }
      }
    }
  }
}

.course_compare_search {
  background-color: #f4f8f8 !important;
  padding: 15px;
}

.no_courses_saved {
  font-weight: bold;
  font-size: 1.125rem;
  color: $royal-blue;
  white-space: nowrap;
  padding-top: 20px;
  padding-left: 20px;
}

.comparison {
  padding: 5px 5px 0 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: $white;

  .comparison__header-bg-icon {
    height: 100px;
    width: auto;
  }

  .comparison__body {
    background-color: $white;
    position: relative;
  }

  .comparison__subject-header {
    background-color: #f8d441;

    h1 {
      color: $royal-blue;
      font-size: 1.3rem;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }

  &__overview {
    h1 {
      font-size: 1.3rem;
      color: white;
    }

  }

  &__top-container {
    margin-bottom: 20px;
    position: relative;

    .add-btn {
      display: inline-block;
      position: relative;
      line-height: 0;

      .add-courses-button {
        display: flex;
        align-items: center;
        //width: 210px;
        max-height: 45px;
        height: 45px;
        margin: 0 16px 6.5px 0;
        padding: 9px 26px;
        border-radius: 20px;
        border: 2px solid $text;
        color: $text;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;

        .plus {
          font-size: 1.25rem;
          padding-right: 10px;
        }

        &:focus {
          background-color: $blue5;
          border-radius: 20px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .compare-text {
        display: inline-block;
        color: #595959;
        vertical-align: top;
        margin-top: 16px;
        padding-left: 5px;
      }
    }

    .need-help-box {
      display: inline-block;
      color: $royal-blue;
      background-color: #f2f2f2;
      float: right;
      padding: 20px;
      text-align: center;
      margin-bottom: 31px;
      border-radius: 8px;

      .header {
        font-size: 1rem;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: left;
      }

      .text {
        font-size: 0.875rem;
        margin-bottom: 0;
        text-align: left;

        .blue-text {
          color: $royal-blue;
          font-weight: 500;
        }
      }

      .image {
        position: absolute;
        width: 50px;
        height: auto;
        right: 5px;
        top: 10px;
      }
    }
  }

  &__course-count {
    @include m-heading--bold-mixin();

    margin: 0 0 15px;


    color: $gradient-light-green;
  }

  &__lead {
    @include xs-heading-mixin();

    margin: 0;

    color: $ux-grey-3;
  }

  &__nav-box {
    margin-top: 20px;
    padding: 30px 26px;
    text-align: center;

    border: 1px solid #707070;
    border-radius: 10px;

    .rich-text {
      p {
        @include small-font-mixin();

        margin: 10px 0 0;
      }

      &:first-child {
        p {
          margin-top: 0;
        }
      }
    }
  }

  &__heading {
    font-size: 32px !important;
    text-align: left;
    color: $text;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 48px;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  &__courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__course {
    margin: 0 4px;

    &-columns {
      display: flex;
      width: 100%;
    }

    &-column {
      width: 50%;

      &:first-child {
        border-right: 1px solid $gradient-dark-green;

        .comparison__course {
          margin-left: 0;
        }
      }

      &:last-child {
        .comparison__course {
          margin-right: 0;
        }
      }
    }

    &-selector {
      @include custom-selector();

      width: 100%;

      .select-selected {
        @include small-font-mixin();

        padding: 13px 11px;

        &:after {
          top: 16px;
          right: 13px;
        }

        &.select-arrow-active {
          @include green-gradient-background-mixin();

          &:after {
            top: 8px;
            border-color: transparent transparent $white transparent;
          }
        }
      }

      &#course2 {
        .select-items {
          left: initial;
        }
      }
    }
  }

  &__subject-heading {
    @include xs-heading--bold-mixin();

    color: $ux-grey-3;
  }

  .course-detail {
    &__accordion {
      display: block;
      width: 100%;
      padding: 0;
      color: #fff;
      border: 0;
      background: $course-accordion-gradient;
      cursor: pointer;

      h2 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 17px 30px;
        position: relative;
        text-align: left;
        border: 3px solid transparent;
        color: #fff;
      }

      i {
        margin: 0;
        padding: 17px 30px;
        position: relative;
      }

      &-heading {
        display: block;
        width: 100%;
        padding: 0;
        color: $white;
        border: 0;
        @include green-gradient-background-mixin();
        cursor: pointer;

        &.open {
          @include green-gradient-background-mixin();

          h2 {
            color: $white;
          }
        }
      }
    }

    &__course-container {
      width: 100%;
      position: sticky;
      background: white;
      padding-top: 10px;
      z-index: 10;
      top: -2px; // for chrome (lame)
      max-height: 250px;
      transition: max-height 0.25s ease-out;
      -webkit-transition: max-height 0.25s ease-out;
      -moz-transition: max-height 0.25s ease-out;


      .number_selected {
        color: $royal-blue;
        margin-bottom: auto;
        margin-top: 17px;
        margin-right: auto;
        min-width: 250px;
        font-size: 24px;
        font-weight: bold;
        display: none;

        span {
          font-size: 24px;
        }
      }

      .cards {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;

        .slider {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;
          background-color: #d2d2d2;
          cursor: pointer;

          .arrow {
            color: $royal-blue;
            font-size: 1.25rem;
            font-weight: bold;
          }
        }
      }


      .none-selected {
        font-size: 1rem;
        width: 250px;
        color: black;
        margin-right: auto;
        min-width: 186px;

        .header {
          font-weight: bold;
          font-size: 1.25rem;
          margin-bottom: 18px;
        }
      }

    }

    &__courses {
      &-container {
        flex: 1;
        border: 1px solid #E6E8EB;
        padding: 20px 10px;
        background-color: #f2f2f2;

        &-exit-course {
          float: right;
          cursor: pointer;
        }
      }

      &-name {
        display: block;
        margin: 6px 0;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 0.8125rem;
        font-weight: 400;
        color: #1e1e1e;
        line-height: 1.5;
        max-width: 406px;
        overflow-wrap: break-word;
      }

      &-institution-name {
        margin: 0;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 14px;
        color: #414141;
        display: block;
        font-weight: 600;
      }
    }

    &__compare-btn {
      display: none;
    }
  }
}

.guidance_box {
  background-color: $grey-background;
  border: 1px solid $grey-border;
  padding: 8px;
  color: $royal-blue;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 100%;
    margin: 16px 0;
    padding: 0 15px;
  }

  .item {
    font-size: 0.875rem;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .link {
    font-size: 0.875rem;
    padding-left: 40px;
    display: block;

  }

  .blue-text {
    color: $royal-blue;
    font-family: "Plus Jakarta Sans", Sans-Serif;
  }
}


.course-detail .course-detail__lead .course-detail__course-name {
  font-size: 1rem;
}

.course-detail .course-detail__lead a.course-detail__institution-name {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 992px) {
  .guidance_box {
    flex-direction: row;

    &-title {
      max-width: 25%;
      margin: 16px 0;
    }
  }
}

@media only screen and (min-width: 770px) {
  .comparison__header-bg-icon {
    padding-top: 15px;
    height: 150px;
    width: auto;
  }
  .no_data_container {
    .close_button_mobile {
      display: none;
    }
  }
  .comparison {
    padding: 35px 30px 55px;

    &__overview {
      h1 {
        font-size: 1.75rem;
        color: white;
      }

    }

    .course-detail {
      &__accordion {
        display: block;
        width: 100%;
        padding: 0;
        color: #fff;
        border: 0;
        background: $course-accordion-gradient;
        cursor: pointer;

        h2 {
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-weight: 400;
          font-size: 21px;
          line-height: 1.5;
          display: flex;
          align-items: center;
          margin: 0;
          padding: 17px 30px;
          position: relative;
          text-align: left;
          border: 3px solid transparent;
          color: #fff;
        }

        i {
          margin: 0;
          padding: 17px 30px;
          position: relative;
        }

        &-heading {
          display: block;
          width: 100%;
          padding: 0;
          color: $white;
          border: 0;
          @include green-gradient-background-mixin();
          cursor: pointer;

          &.open {
            @include green-gradient-background-mixin();

            h2 {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  div.comparison__body, div.course-detail__body {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .no_data_container {
    .information-text {
      width: 220px;
    }
  }
}

@media only screen and (min-width: 576px) {

  .comparison__top-container {
    .need-help-box {
      .image {
        position: absolute;
        width: 50px;
        height: auto;
        right: 50px;
        top: 10px;
      }
    }
  }
  .course_comparison-table__column-first {
    &.subtitle {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
  .unavailable-container {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 766px) {
  div.comparison__body, div.course-detail__body {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .no_data_container {
    .information-text {
      width: 185px;
    }
  }

  .comparison__top-container {
    .need-help-box {
      display: block;
      width: 100%;
      margin: auto;
    }

    .add-btn {
      margin-top: 32px;
    }
  }

  .comparison .course-detail__course-container {
    display: flex;

    .cards {
      .slider {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  div.comparison__body, div.course-detail__body {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .no_data_container {
    .information-text {
      width: 185px;
    }
  }

  .course_comparison-table {
    .comparison_row {
      text-align: center;
      //margin-bottom: 8px;
    }

    &-grey_background {
    }

    &-header {
      margin-bottom: 16px;
    }
  }
  .column-first {
    min-width: 100%;
    max-width: 100%;
    //margin-bottom: 4px;
    font-size: 1rem;
  }

  .small-flex-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .comparison .course-detail__course-container {
    display: flex;
  }
  .comparison .course-detail__course-container {
    .number_selected {
      display: none;
      width: 100%;
      margin-bottom: 17px;
    }
  }
  .comparison__top-container {
    .need-help-box {
      display: block;
      width: 100%;
      margin: auto;
    }

    .add-btn {
      margin-top: 32px;
    }
  }
}

//@media only screen and (min-width: 767px) {
//  #course-cards-container {
//    position: sticky;
//    top: 0px;
//  }
//}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  div.comparison__body, div.course-detail__body {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .course-detail__course-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .comparison .course-detail__courses-name {
    font-size: 1rem;
  }

  .comparison__top-container {
    .add-btn {
      display: flex;

      .compare-text {
        display: inline-block;
        color: $royal-blue;
        vertical-align: top;
      }
    }
  }

  .course_comparison-table {
    .comparison_row {
      display: flex;
      min-height: $course_comparison_line_height;
      flex-direction: row;
      color: black;
      //margin-bottom: 6px;
      align-items: center;

      &-grey_background {
        padding: 0;
      }

      &-earnings {
        //margin-bottom: 8px;
        font-size: 1.25rem;
        padding: 8px;

        &:nth-child(1) {
          font-size: 1rem;
          padding: 0px 10px;
        }

        &:nth-child(2), &:nth-child(4), &:nth-child(5), {
          margin-bottom: 0;
        }

        &:nth-child(5), &:nth-child(7), &:nth-child(8) {
          font-size: 1.125rem;
        }
      }

      &-earnings_first {
        &:nth-child(3), &:nth-child(5), &:nth-child(6), {
          margin-bottom: 0;
        }

        &:nth-child(4) {
          margin-bottom: 8px;
        }
      }

      &-header {
        display: flex;
        height: $course_comparison_line_height;
        align-items: center;
        min-height: $course_comparison_line_height;
        background: $royal-blue;
        color: white;
        padding-left: 24px;
      }

      &-yellow_background {
        border-bottom: 1px solid $grey-border;
        margin-bottom: 0;
        padding: 0;

        .header {
          background: #F7F7F7;
        }
      }
    }

    .column {
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: inherit;
      padding: 0;
      min-height: 55px;

      &-title_container {
        padding: 0;
        border-bottom: none;
      }

      &-first {
        color: black;
        max-width: 186px;
        min-width: 186px;
        text-align: left;
        min-height: $course_comparison_line_height;
        flex: 1;
        background: inherit;
        border: none;
        padding: 16px 0 16px 24px;
      }
    }
  }

  .small-flex-div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: auto;

  }

  .comparison .course-detail__course-container {
    .number_selected {
      min-width: 186px;
      max-width: 186px;
      display: inline;
    }
  }

  .comparison__top-container {
    margin-bottom: 10px;

    .add-btn {
      display: flex;

      .add-courses-button {
        top: 100%;
        transform: translate(0%, -100%);
        margin: 48px 16px 6.5px 0;

        &:hover {
          text-decoration: underline;
        }
      }

      .compare-text {
        display: inline-block;
        color: #595959;
        vertical-align: top;
        line-height: 1.5;
      }
    }

    .need-help-box {
      display: block;
      width: 45%;
      margin: auto;
      text-align: left;
    }
  }
  .subject_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .box {
      max-width: 186px;
      min-width: 186px;
      margin-right: 4px;
      //max-height: 218px;
    }

    &-container {
      min-width: 0;
      width: 100%
    }
  }
  .snippet_container {
    .country {
      width: 100%;
      padding-bottom: 0;
    }

    .margin {
      display: none;
    }

    .population {
      padding-top: 10px;
    }
  }
  .unavailable-container {
    padding: 5px 7px 5px 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .comparison .course-detail__course-container {
    .number_selected {
      display: inline;
    }
  }
  .comparison .course-detail__courses-name {
    font-size: 0.875rem;
  }

  div.comparison__body, div.course-detail__body {
    width: 1140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .unavailable-container {
    padding: 5px 7px 5px 10px;
    margin-left: 10px;
  }

  .course-detail__course-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .comparison__top-container {
    .need-help-box {
      display: block;
      width: 45%;
      margin: auto;
      text-align: left;
    }

    .add-btn {
      display: flex;

      .add-courses-button {
        top: 100%;
        transform: translate(0%, -100%);
        margin: 48px 16px 6.5px 0;
      }

      .compare-text {
        display: inline-block;
        color: #595959;
        vertical-align: top;
        line-height: 1.5;
      }
    }
  }

  .snippet_container {
    .country {
      width: 100%;
      padding-bottom: 0;
    }

    .margin {
      display: none;
    }

    .population {
      padding-top: 10px;
    }
  }
  .course_comparison-table {
    .comparison_row {
      display: flex;
      min-height: $course_comparison_line_height;
      flex-direction: row;
      color: black;
      align-items: center;

      &-grey_background {
        padding: 0;
      }

      &-earnings {
        //margin-bottom: 8px;
        font-size: 1.25rem;
        padding: 8px;

        &:nth-child(1) {
          font-size: 1rem;
          border-radius: 8px 8px 0 0;
        }

        &:nth-child(2), &:nth-child(4), &:nth-child(5), {
          margin-bottom: 0;
        }

        &:nth-child(5), &:nth-child(7), &:nth-child(8) {
          font-size: 1.125rem;
        }
      }

      &-earnings_first {
        &:nth-child(3), &:nth-child(5), &:nth-child(6), {
          margin-bottom: 0;
        }

        &:nth-child(4) {

        }

        &:nth-child(6) {
          border-radius: 0 0 8px 8px;
        }
      }

      &-donut-header {
        min-height: $course_comparison_line_height;
        //margin-bottom: 10px;
        background: $royal-blue;
        color: white;
        padding-left: 24px;
        font-size: 1.25rem;
      }

      &-header {
        min-height: $course_comparison_line_height;
        //margin-bottom: 10px;
        background: #F7F7F7;
        color: $royal-blue;
        padding-left: 24px;
        font-size: 1.25rem;
      }

      &-yellow_background {
        border-bottom: 1px solid $grey-border;
        margin-bottom: 0;

        .header {
          background: $grey-background !important;
        }
      }
    }

    .column {
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: inherit;
      padding: 0;
      height: 100%;
      min-height: 53px;

      &-title_container {
        padding: 0;
        border-bottom: none;
      }

      &-first {
        color: black;
        max-width: 250px;
        min-width: 250px;
        text-align: left;
        min-height: $course_comparison_line_height;
        flex: 1;
        padding: 0 0 0 24px;
        background: inherit;
      }
    }
  }

  .small-flex-div {
    display: flex;
    width: 100%;
    //min-height: $course_comparison_line_height;
    //margin-bottom: 4px;
    height: 100%;
    align-items: center;
    flex: 1;
  }

  .subject_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .box {
      max-width: 250px;
      min-width: 250px;
      margin-right: 8px;
    }

    &-container {
      min-width: 0;
      width: 100%
    }
  }

}

#course-info-container {
  margin-top: 48px;
}

.rating {
  color: black;
  cursor: pointer;
  display: none;
}

.orange {
  color: $bruise;
}

@media only screen and (min-width: 414px) {
  .rating {
    display: inline-block;
  }
  .comparison .course-detail__course-container {
    padding-top: 40px;
  }
}


