@import './partials/nav';
@import './partials/footer';
@import './partials/pagination';
@import './partials/forms';

body {
  margin: 0;
  font-family: sans-serif, serif;
  color: #5F607C;
}

@media only screen and (min-width: 770px) {
    .discover-uni-container {
        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
    }
}

.explanation {
    position: relative;

    .explanation__link {
        display: flex;
        align-items: center;

        cursor: pointer;

        .information-link {
            font-size: 16px;
            color: #005EA5;
            text-decoration: underline;
        }
    }
}

.information-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

a {
    color: #005EA5;
}

.dropdown-arrow {
  align-self: center;
}
