@import './partials/nav';
@import './partials/footer';
@import './partials/pagination';
@import './partials/forms';
@import './partials/search_dropdown';
@import './partials/feedback_form';
@import './partials/filters';
@import './partials/compare';
@import './partials/cookie_banner';

body {
  margin: 0;
  font-family: sans-serif, serif;
  color: #5F607C;
}

@media only screen and (min-width: 770px) {
    .discover-uni-container {
        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
    }
}

.explanation {
    position: relative;

    .explanation__link {
        display: flex;
        align-items: center;

        cursor: pointer;

        .information-link {
            font-size: 16px;
            color: $link-blue;
            text-decoration: underline;
        }
    }
}

.information-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

a {
    color: $link-blue;
}

.dropdown-arrow {
    align-self: center;
}

.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:active, &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        white-space: normal;
        width: auto;
    }
}

//Required to prevent wagtail adding huge padding to bottom of embeds

.rich-text {
    .responsive-object {
        position: relative;

        iframe, object {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
