$black: #000000;
$white: #FFFFFF;
$header-blue: #1F283A;
$background-grey: #EDEDED;
$ux-grey-1: #E2E2E2;
$ux-grey-2: #676D70;
$ux-grey-3: #6E6E6E;
$ux-interrupt: #FEF7BC;
$form-grey: #EDEDED;
$slate: #425563;
$helper-grey: #595959;
$divider-grey: #F2F2F2;
$copyright-grey: #939393;
$pale-grey: #F3F3F3;
$dark-green-blue: #266969;
$dark: #1f283a;
$gradient-light-green: #4EA27D;
$gradient-dark-green: #308282;
$link-blue: $gradient-dark-green;
$link-green: $gradient-dark-green;
$light-blue-grey: #ced4d9;
$brownish-grey: #666666;
$ice-blue: #f4f8f8;
$error-red: #B10E1E;
$delete-red: #C24444;
$duck-egg-blue: #cee9e7;
$focus-outline: #FAD45F;
$sea-blue: #2a8384;
$default-font: Nunito Sans;
$default-font-color: $black;
$bruise: #8e3b74;
$very-light-blue: #e9ecef;
$greyish-brown: #595959;
$pale: #fef7d7;
$ice-blue: #f4f8f8;
$ugly-blue: #308282;

$xl-heading-font-size: 70px;
$xl-heading-line-height: 1.5;
$l-heading-font-size: 48px;
$l-heading-line-height: 1.5;
$m-heading-font-size: 36px;
$m-heading-line-height: 1.5;
$s-heading-font-size: 27px;
$s-heading-line-height: 1.5;
$xs-heading-font-size: 21px;
$xs-heading-line-height: 1.5;

$desktop-body-font-size: 19px;
$desktop-body-line-height: 1.5;
$mobile-body-font-size: 16px;
$mobile-body-line-height: 1.5;
$small-font-size: 14px;
$small-line-height: 1.5;

@mixin yellow-btn {
  background-color: #fcd835;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  border: none;
  font-weight: bold;
  &:hover {
    color: black;
  }
}

@mixin green-gradient-background-mixin() {
  background: linear-gradient(145.9deg, $gradient-light-green 13.02%, $gradient-dark-green 85.42%);
  color: $white;
}


@mixin green-gradient-mixin() {
  @include green-gradient-background-mixin();
  border: 2px solid transparent;

  &:hover {
    background: $white;
    color: $gradient-light-green;
    border: 2px solid $gradient-light-green;
  }
}

@mixin default-box-shadowing() {
  box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.08);
}
