$black: #000000;
$white: #FFFFFF;
$link-blue: #005EA5;
$background-grey: #F2F2F2;
$darker-grey: #676D70;

$default-font: Helvetica Neue;
$default-font-color: $black;

$xl-heading-font-size: 80px;
$xl-heading-line-height: 80px;
$l-heading-font-size: 48px;
$l-heading-line-height: 48px;
$m-heading-font-size: 36px;
$m-heading-line-height: 36px;
$s-heading-font-size: 27px;
$s-heading-line-height: 27px;
$xs-heading-font-size: 21px;
$xs-heading-line-height: 21px;

$desktop-body-font-size: 19px;
$desktop-body-line-height: 19px;
$mobile-body-font-size: 16px;
$mobile-body-line-height: 16px;
$small-font-size: 14px;
$small-line-height: 14px;
