{% load discover_uni_tags %}

<div class="feedback-form__wrapper">
    <form class="feedback-form__form" action="javascript:;">
        {% csrf_token %}

        <div class="feedback-form__heading">
            <div class="discover-uni-container">
                <div class="feedback-form__container">
                    <p class="feedback-form__message">
                        {% get_translation key='feedback_form' language=page.get_language %}

                        <button class="feedback-form__toggle">{% get_translation key='feedback_button' language=page.get_language %}</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="discover-uni-container">
            <div class="feedback-form__body">
                <p class="feedback-form__error-message">
                    {% get_translation key='feedback_error' language=page.get_language %}
                </p>

                <div class="feedback-form__details">
                    <div>
                        <label class="feedback-form__label" for="beta-feedback-form">
                            {% get_translation key='how_improve' language=page.get_language %}
                        </label>

                        <textarea id="beta-feedback-form" name="user_feedback" class="feedback-form__text-area improvement"></textarea>
                    </div>

                    <input type="submit" class="feedback-form__submit-button" value="{% get_translation key='send_message' language=page.get_language %}" />
                </div>
            </div>
        </div>
    </form>
</div>