{% load staticfiles discover_uni_tags %}


<footer class="footer">
    <div class="discover-uni-container">
        {% if page.is_english %}
            <img class="footer__brand-logo" src="{% static 'images/logos/footer_logo_color_english.svg' %}"
                 alt="{% get_translation key='site_logo' language=page.get_language %}">
        {% else %}
            <img class="footer__brand-logo" src="{% static 'images/logos/footer_logo_color_welsh.svg' %}"
                 alt="{% get_translation key='site_logo' language=page.get_language %}">
        {% endif %}

        <div class="footer__logo-container">
            <a class="footer__ofs-logo" href="https://www.officeforstudents.org.uk/">
                <img src="{% static 'images/logos/footer_ofs_logo.svg' %}"
                    alt="Office for Students" >
            </a>

            <a class="footer__hefcw-logo" href="https://www.hefcw.ac.uk/">
                <img  src="{% static 'images/logos/footer_hefcw_logo.png' %}"
                    alt="HEFCW" >
            </a>
        </div>

        <div class="footer__logo-container">
            <a class="footer__dfeni-logo" href="https://www.economy-ni.gov.uk/">
                <img src="{% static 'images/logos/footer_dfeni_logo.png' %}"
                    alt="DfENI" >
            </a>

            <a class="footer__sfc-logo" href="http://www.sfc.ac.uk/">
                <img  src="{% static 'images/logos/footer_sfc_logo.png' %}"
                    alt="SFC" >
            </a>
        </div>



        <div class="footer__social-media">

            <div class="footer__connect-text">
                {% if page.is_english %} <b>Connect with us</b> {% else %} <b>Cysylltwch â ni</b> {% endif %}
            </div>

            <div class="footer__social-container">
                <a class="footer__facebook-logo" href="https://www.facebook.com/DiscoverUniUK">
                    <img  src="{% static 'images/logos/footer_facebook_logo.svg' %}"
                    alt="Facebook">
                </a>
                
                <a class="footer__instagram-logo" href="https://www.instagram.com/discoveruniuk/">
                    <img  src="{% static 'images/logos/footer_instagram_logo.svg' %}"
                    alt="Instagram">
                </a>

                <a class="footer__twitter-logo" href="https://twitter.com/DiscoverUniUK/">
                    <img  src="{% static 'images/logos/footer_twitter_logo.svg' %}"
                        alt="Twitter">
                </a>
            </div>
        </div>

        <div class="footer__items">
            <div class="footer__group">
                {% for item in page.footer %}
                    <a class="footer__link" href="{{ item.url }}">
                        {{ item.label }}
                    </a>

                    {% is_multiple_of forloop.counter 4 as end_group %}

                    {% if end_group %}
                        </div>
                        <div class="footer__group">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <p class="footer__copyright">
            © {% get_translation key='copyright' language=page.get_language %}
        </p>
    </div>
</footer>