{% load staticfiles discover_uni_tags %}
<nav>
    <a href="#main-content" class="screen-reader">skip to main content</a>
    <div class="nav">
        {# Brand Logo #}
        <div class="nav__mobile">
            <a class="nav__home-link" href="{{ navigation.brand_logo.url }}">
                <img class="nav__brand-logo" src="{% static navigation.brand_logo.img %}"
                     alt="{% get_translation key='site_logo' language=page.get_language %}">
            </a>
            <div class="nav__icon-wrapper">
                <i id="burger-menu" class="nav__burger-menu fas fa-bars"></i>
                <i id="close-menu" class="nav__close-menu fas fa-times"></i>
            </div>
        </div>
        <div class="nav__menus-container">
            {# Language Toggles#}
            <div class="nav__language-toggles">
                <a class="nav__primary-link{% if page.is_english %} active {% endif %}" href="
                    {% if page.is_english %} # {% else %} {{ translated_url }}{% endif %}"
                   id="language_select">
                    English
                </a>

                <a class="nav__primary-link{% if not page.is_english %} active {% endif %}" href="
                {% if not page.is_english %} # {% else %} {{ translated_url }}{% endif %}" id="language_select">
                    Cymraeg
                </a>
            </div>
            {# Primary Menu #}
            <div class="nav__primary-menu">
                {% for item in navigation.primary_menu %}
                    {% with has_sub=item.sub_items %}
                        {% if has_sub %}
                            <div class="nav__mobile-accordion">

                                <li class="nav__primary-link nav__accordion-header">
                                    <a href="#" class="nav__link-title accordion-title">
                                        {{ item.label }}
                                    </a>
                                    <div class="nav__icon-wrapper">
                                        <div class="expand">
                                            <img src="{% static 'images/menu_down_icon.svg' %}"
                                                 alt="expand {{ item.label }} drop down menu">
                                        </div>
                                        <div class="collapse">
                                            <img src="{% static 'images/menu_up_icon.svg' %}"
                                                 alt="collapse {{ item.label }} drop down menu">
                                        </div>
                                    </div>
                                </li>
                                <div class="nav__accordion-body">
                                    <ul class="nav__dropdown-body">
                                        {% for sub_item in has_sub %}
                                            <li>
                                                <a
                                                        href="{{ sub_item.url }}">
                                                    {{ sub_item.label }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <li class="nav__primary-link">
                                <a href="{% if item.url %}{{ item.url }} {% else %} # {% endif %}">
                                    {{ item.label }}</a>
                            </li>
                        {% endif %}
                        </li>
                    {% endwith %}
                {% endfor %}
                {#                TODO: Remove course search from CMS         #}
                <li class="nav__primary-link language-select">
                    <a id="language_select"
                       href="{{ translated_url }}">
                        {% if page.is_english %} Cymraeg {% else %} English {% endif %}
                    </a>
                </li>
            </div>
            {# Comparison Menu #}
            <ul class="nav__secondary-menu">
                {% for link in navigation.comp_menu %}
                    <li class="nav__secondary-link">
                        <a href="{{ link.url }}">
                            <img src="{{ link.img }}" alt="">
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
