{% load staticfiles discover_uni_tags %}

<nav class="discover-uni-nav">
    <div class="discover-uni-nav__container">
        <a class="discover-uni-nav__home-link" href="/">
            <h1 class="discover-uni-nav__brand">
                {% autoescape off %}
                    {% get_translation key='site_logo' language=page.get_language %}
                {% endautoescape %}

                <img class="discover-uni-nav__brand-icon" src="{% static 'images/brand_logo.svg' %}" alt="">
            </h1>
        </a>
        <i id="burger-menu" class="discover-uni-nav__burger-menu fas fa-bars"></i>
        <i id="close-menu" class="discover-uni-nav__close-menu fas fa-times"></i>
    </div>

    <div class="discover-uni-nav__mobile-links">
        <div class="discover-uni-nav__mobile-accordion">
            <div class="discover-uni-nav__mobile-accordion-header">
                <p class="discover-uni-nav__mobile-accordion-title">{% get_translation key='info_advice' language=page.get_language %}</p>

                <div class="expand">
                    <img class="nav-section__icon" src="{% static 'images/menu_down_icon.svg' %}" alt="expand">
                </div>

                <div class="collapse">
                    <img class="nav-section__icon" src="{% static 'images/menu_up_icon.svg' %}" alt="collapse">
                </div>
            </div>

            <div class="discover-uni-nav__mobile-accordion-body">
                <a class="discover-uni-nav__mobile-accordion-body-link" href="#">
                    Nav option
                </a>

                <a class="discover-uni-nav__mobile-accordion-body-link" href="#">
                    Nav option
                </a>
            </div>
        </div>

        <div class="discover-uni-nav__mobile-accordion">
            <div class="discover-uni-nav__mobile-accordion-header">
                <p class="discover-uni-nav__mobile-accordion-title">{% get_translation key='about' language=page.get_language %}</p>

                <div class="expand">
                    <img class="nav-section__icon" src="{% static 'images/menu_down_icon.svg' %}" alt="expand">
                </div>

                <div class="collapse">
                    <img class="nav-section__icon" src="{% static 'images/menu_up_icon.svg' %}" alt="collapse">
                </div>
            </div>

            <div class="discover-uni-nav__mobile-accordion-body">
                <a class="discover-uni-nav__mobile-accordion-body-link" href="#">
                    Nav option
                </a>
            </div>
        </div>

        <a class="discover-uni-nav__mobile-link" href="#">
            {% get_translation key='course_search' language=page.get_language %}<img class="discover-uni-nav__link-icon" src="{% static 'images/search_icon.svg' %}" alt="">
        </a>
    </div>
</nav>