{% load discover_uni_tags %}

{{ search_info|json_script:"search_info" }}

<style>
    .show {
        display: block;
    }

    .dropdown-border {
        box-shadow: 0 0 0 3px #c1dfff;
        z-index: 10;
    }

    .rotate {
        transform: rotate(180deg);
        top: 20%;
    }

    .pb {
        padding-bottom: 12px !important;
    }

    .pt {
        margin-bottom: -4px !important;
    }

</style>

<div class="dropdown" id="dropDownPlaceholder">
    <div style="display: flex; height:38px !important;" id="institutionDropdownWrapper">
        <div tabindex="0" id="institutionDropdown" class="dropdown-dropbtn drop-item">
            <p>{% get_translation key='institution_name' language=page.get_language %}</p>
        </div>
        <div id="dropdownChevron" class="dropdown-chevron drop-item"></div>
    </div>

    <div id="myDropdown" class="dropdown-content drop-item">
        <input type="text" id="institutionSearchBar"
               placeholder="{% get_translation key='search' language=page.get_language %}..."
               class="filters-block__filter-search drop-item"
               title="{% get_translation key='search' language=page.get_language %}...">
        <div id="selectMultiple" class='dropdown-content-select-all-check drop-item'>
            <input id='selectMultipleInstitutions' class="inst-check drop-item" type='checkbox'>
            <label class="dropdown-content-institution-check-institution-label drop-item" id="selectAll-check"
                   for="selectMultipleInstitutions">{% get_translation key='select_all_institutions' language=page.get_language %}</label>
        </div>
        {% if home_page == "true" %}
            {% for option in options %}
                <div class="dropdown-content-institution-check drop-item">
                    <input id='{{ option.name }}' class="inst-check drop-item"
                           name='institution_query' value="{{ option.name }}" type='checkbox'>
                    <label class="dropdown-content-institution-check-institution-label drop-item"
                           id="{{ option.name }}-label"
                           for="{{ option.name }}"
                           data-names="[{{ option.first_trading_name }}, {{ option.legal_name }}]"
                           data-othernames="{{ option.other_names }}">
                        {{ option.name }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            {% for option in options %}
                {% if option.name in filter_form.institutions %}
                    <div class="dropdown-content-institution-check drop-item">
                        <input id='{{ option.name }}' class="inst-check drop-item"
                               name='institution_query' value="{{ option.name }}" type='checkbox' checked>
                        <label class="dropdown-content-institution-check-institution-label drop-item"
                               id="{{ option.name }}-label"
                               for="{{ option.name }}"
                               data-names="[{{ option.first_trading_name }}, {{ option.legal_name }}]"
                               data-othernames="{{ option.other_names }}">
                            {{ option.name }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            {% for option in options %}
                {% if not option.name in filter_form.institutions %}
                    <div class="dropdown-content-institution-check drop-item">
                        <input id='{{ option.name }}' class="inst-check drop-item"
                               name='institution_query' value="{{ option.name }}" type='checkbox'>
                        <label class="dropdown-content-institution-check-institution-label drop-item"
                               id="{{ option.name }}-label"
                               for="{{ option.name }}"
                               data-names="[{{ option.first_trading_name }}, {{ option.legal_name }}]"
                               data-othernames="{{ option.other_names }}">
                            {{ option.name }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
