{% load static discover_uni_tags %}
<div class="modal fade" id="discover-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 55%; height: 50%; margin-left: 25%; background-color: #002554; color: white">
      <div class="modal-header d-flex pt-2 pl-2 pr-2 pb-1" >
          <div class="justify-content-start d-flex flex-row">
          <img src="/static/apple-touch-icon.png" class="popup__small_screen__logo" alt="logo">
        <h5 class="modal-title popup__title" id="exampleModalLongTitle" style="font-family: 'Nunito Sans',
        sans-serif; text-align: left">{% get_translation key='popup_heading' language=page.get_language %}</h5>

          </div>
        <button type="button" class="close mt-0" style="position: relative; top: -25px; right: -8px;" data-dismiss="modal" aria-label="Close">
          <img src="/static/images/Crosswhite.svg" alt="close">
        </button>
      </div>
      <div class="modal-body p-3" style="background-color: #002554; border-radius: 8px;">
        <div class="p-2" style="background-color: white; border-radius: 5px; color: black;">
            <h4 class="popup__subheading">{% get_translation key='popup_subheading' language=page.get_language %}</h4>
            <div class="container pt-3">
                <div class="row">
            <div class="col-lg-4 col-sm-12 p-3 popup__small_screen" >
                <div class="popup__img_div">
                <img src="/static/images/infoicon.svg" class="popup__img" alt="info icon">
                </div>
                <div class="popup-text">
                <h5 class="pt-3">{% get_translation key='popup_info_heading' language=page.get_language %}</h5>
                <p class="mb-0">{% get_translation key='popup_info_text1' language=page.get_language %}</p>
                    <p>{% get_translation key='popup_info_text2' language=page.get_language %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-3 popup__small_screen">
                <div class="popup__img_div">
                <img src="/static/images/Searchicon.svg" class="popup__img" alt="search icon">
                </div>
                <div class="popup-text">
                <h5 style="font-weight: 400; font-size: 1.4rem;" class="pt-3">{% get_translation key='popup_search_heading' language=page.get_language %}</h5>
                <p style="">{% get_translation key='popup_search_text' language=page.get_language %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 p-3 popup__small_screen">
                <div class="popup__img_div">
                <img src="/static/images/compareicon.svg" class="popup__img" alt="compare icon">
                </div>
                <div class="popup-text">
                <h5 style="font-weight: 400; font-size: 1.4rem;" class="pt-3">{% get_translation key='popup_save_heading' language=page.get_language %}</h5>
                <p style="">{% get_translation key='popup_save_text' language=page.get_language %}</p>
                </div>
            </div>
                </div>
            </div>
          <div class="popup__button_div">

      <button type="button" class="btn btn-light p-3" onclick="$('#discover-modal').modal('hide');" data-dismiss="modal">{% get_translation key='popup_external_secondary_button' language=page.get_language %}</button>
      <button type="button" class="btn btn-warning p-3" onclick="window.location='/'">{% get_translation key='popup_external_primary_button' language=page.get_language %}</button>
          </div>
            </div>
      </div>
    </div>
  </div>
</div>