
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 50%; height: 50%; margin-left: 32%; background-color: #002554; color: white">
      <div class="modal-header d-flex pt-2 pl-2 pr-2 pb-1" >
          <div class="justify-content-start d-flex flex-row">
          <img src="/static/apple-touch-icon.png" style="width:65px" alt="logo">
        <h5 class="modal-title mt-3 ml-2" id="exampleModalLongTitle" style="font-family: 'Nunito Sans',
        sans-serif;font-weight: 400; font-size: 1.9rem; text-align: left">Welcome to Discover Uni</h5>

          </div>
        <button type="button" class="close mt-0" style="position: relative; top: -25px;" data-dismiss="modal" aria-label="Close">
          <img src="/static/images/close-grey.svg" alt="close">
        </button>
      </div>
      <div class="modal-body p-3" style="background-color: #002554; border-radius: 8px;">
        <div class="p-2" style="background-color: white; border-radius: 5px; color: black;">
            <h4 style="font-weight: 400; font-size: 1.6rem" class="pt-2 pl-2">Discover Uni is an official source of information about higher education.</h4>
            <div class="d-flex flex-row justify-content-between pt-3">
            <div class="p-3" style="width: 30%">
                <i class="fas fa-info-circle fa-3x" style="color: cornflowerblue"></i>
                <h5 style="font-weight: 400; font-size: 1.4rem;" class="pt-3">Info & advice</h5>
                <p style=";">Thinking about going to uni?
                Find resources to help support your decision.</p>
            </div>
            <div class="p-3" style="width: 30%">
                <i class="fas fa-search fa-3x" style="color: cornflowerblue"></i>
                <h5 style="font-weight: 400; font-size: 1.4rem;" class="pt-3">Course search</h5>
                <p style="">Search all undergraduate courses.</p>
            </div>
            <div class="p-3" style="width: 33%">
{#                <img src="/static/images/compare_icon.svg" alt="compare icon">#}
                <i class="far fa-hourglass fa-3x" style="color: cornflowerblue"></i>
                <h5 style="font-weight: 400; font-size: 1.4rem;" class="pt-3">Save & compare</h5>
                <p style="">Shortlist courses and compare official data to help you make a decision.</p>
            </div>
            </div>
          <div class="pt-2 pb-2 d-flex justify-content-between ml-2 mr-2">
        <button type="button" class="btn btn-light p-2" style="width:49%; font-size: 1.2rem" data-dismiss="modal">Explore homepage</button>
        <button type="button" class="btn btn-warning p-2" style="width: 49%; font-size: 1.2rem">Continue to course data</button>
          </div>
            </div>
      </div>
    </div>
  </div>
</div>