{% load discover_uni_tags %}

<div class="search-dropdown">
    <select id="{{field_name}}" class="selection-field" name="{{field_name}}">
        {% if placeholder %}
            <option id="{{field_name}}-na" value="">{{placeholder}}</option>
        {% endif %}
        
        {% for option in options %}
            <option id="{{field_name}}-{{forloop.counter}}" value='"{{option.name}}"'>
                {{option.name}}
            </option>
        {% endfor %}
    </select>

    <div class='search-field'>
        <input id="{{field_name}}-search" type="text" class="search-field-input" aria-label="{{placeholder}}"
               name="{{field_name}}_search" autocomplete="off">
        <button class="search-field-dropdown-button">
            <i class="down"></i>
        </button>
    </div>

    <div class="options-list">
    </div>
</div>