{% load discover_uni_tags %}

<div class="search-dropdown">
    <select id="{{field_name}}" class="selection-field" name="{{field_name}}">
        <option id="{{field_name}}-na" value=""></option>
    </select>

    <div class='search-field'>
        <input id="{{field_name}}-search" type="text" class="search-field-input" name="{{field_name}}_search" placeholder="{{placeholder}}" autocomplete="off">
    </div>

    <div class="options-list">
        <p class="placeholder options-list--placeholder">
            {% get_translation key='enter_3_characters' language=page.get_language %}
        </p>
    </div>
</div>