{% load discover_uni_tags %}

<div class="search-dropdown">
    <select id="{{field_name}}" class="selection-field" name="{{field_name}}">
        <option id="{{field_name}}-na" value=""></option>
        {% for option in options %}
            <option id="{{field_name}}-{{forloop.counter}}" value='"{{option.name}}"'>
                {{option.name}}
            </option>
        {% endfor %}
    </select>

    <div class='search-field'>
        <input id="{{field_name}}-search" type="text" class="search-field-input" aria-label="{{placeholder}}"
               name="{{field_name}}_search" placeholder="{{placeholder}}" autocomplete="off">
    </div>

    <div class="options-list">
        <p class="placeholder options-list--placeholder">
            {% get_translation key='enter_3_characters' language=page.get_language %}
        </p>
    </div>
    <div class="search-dropdown-error">
        <p class="search-dropdown-error-message">
            {% get_translation key='select_a_university' language=page.get_language %}
        </p>
    </div>
</div>