<div class="home-page__header">

    <div>
        <h1 class="home-page__header-text">
            {{ page.header }}
        </h1>
    </div>
    
    <div class="row">
        <h4 class="text-warning">Search and compare</h4>
        <h4 class="text-white">&nbsp;undergraduate courses in the UK</h4>
    </div>
    <div class="mt-5 mb-0 mx-3 p-0 bg-white home-page__search-box-header ">
        <h4>Search by course or location</h1>
    </div>
</div>
<div class="home-page__body bg-warning">
    <div class="home-page__intro-panel bg-white">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Course name" aria-label="Course name" >
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Location (City or University name)" aria-label="Location (City or University name)" >
                  </div>
                  <div class="mx-auto">
                    <button class="home-page__search-button justify-content-center py-1 px-5">Search</button>
                  </div>
                
            </div>
            <div class="col-lg-1">
                <div style="border-left:3px dotted #666666;height:200px"></div>
            </div>
            <div class="col-12 col-lg-5">
                <h4>Course Wizard</h4>
                <h5>Answer 4 questions to find courses relevant to me</h5>
            </div>
        </div>
    </div>
   <h3>ffd fdsf dfsdf sfdsfs</h3>
</div>
