{% load staticfiles discover_uni_tags %}
<div class="home-page__header">
    <div class="py-3 home-page__header-text">
        <div class="row">
            <div class="col-9 pl-lg-4 pl-sm-2 overflow-visible pr-0">
                <h1 class="pt-4 home-page__header-text">
                    {{ page.header }}
                </h1>
                <h4 class="mt-4 text-white"><span
                        class="text-warning">{% get_translation key='search_n_compare' language=page.get_language %}</span> {% get_translation key='under_courses_uk' language=page.get_language %}
                </h4>

            </div>
            <div class="col-3 p-0 text-right">
                <img class="home-page__header-bg-icon" src="{% static 'images/bg-arrows.svg' %}"
                     alt="Background Graphics"/>
            </div>
        </div>

    </div>


    <div id="home-page__intro-panel" class="home-page__intro-panel bg-white pb-5">
        <div class="row">
            <div class="col-12 col-lg-6 p-3 pr-4">
                <label for="course">
                    <h4 class="mb-3">{% get_translation key='search_by_course_or_institution' language=page.get_language %}</h4>
                </label>
                <form class="search-landing-page__search"
                      action="{% if page.is_welsh %}/cy{% endif %}{% url 'course_finder_results' %}" method="post"
                      autocomplete="off">
                    {% csrf_token %}
                    <div class="search-landing-page__search-fields">
                        <div class="search-landing-page__search-input">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" name="course_query" type="text" id="course"
                                       aria-label="{% get_translation key='course_name' language=page.get_language %} search box"
                                       placeholder="{% get_translation key='course_name' language=page.get_language %}"
                                       autocomplete="off">

                            </div>
                        </div>
                        <div class="search-landing-page__search-input">
                            <div class="form-group">
                                {% get_translation key='uni_and_college' language=page.get_language as placeholder %}
                                {% include 'partials/new-search-dropdown.html' with placeholder=placeholder field_name='institution_query' options=institutions_list %}
                            </div>
                        </div>
                    </div>

                    <button class="mt-4 home-page__search-button justify-content-center py-2 px-5">
                        {% get_translation key='search' language=page.get_language %}
                    </button>
                </form>

            </div>
            <div class="col-12 d-block d-lg-none mx-auto text-center">
                <hr class="dash"/>
            </div>
            <div class="dash-vertical-left col-12 col-lg-6 text-center p-3">
                <img class="mx-auto home-page__course-wizard-icon" src="{% static 'images/arrows.svg' %}"
                     alt="Course Wizard"/>
                <h4 class="text-center">{% get_translation key='course_wizard' language=page.get_language %}</h4>
                <h5 class="pt-2 text-center">{% get_translation key='answer_4_questions' language=page.get_language %}</h5>
                <div class="mt-4 ">
                    <a href="{% get_translation key='course_wizard_start_now_url' language=page.get_language %}"
                       class="home-page__search-button justify-content-center py-2 px-5">{% get_translation key='course_wizard_start_now' language=page.get_language %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-page__bookmark-body">
        <div class="home-page__bookmark-body-inner">
            <div class="row">
                <h4 class="text-white pt-2">{% get_translation key='n_courses_bookmarked_pt_1' language=page.get_language %}
                    <span class="count home-page__bookmark-circle"></span> {% get_translation key='n_courses_bookmarked_pt_2' language=page.get_language %}
                    &nbsp; &nbsp;</h4>
                <h4 class="pt-2"><a class="home-page__bookmark-link"
                                    href="{% get_translation key='bookmark_courses_link' language=page.get_language %}">{% get_translation key='view_your_courses' language=page.get_language %}</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="home-page__body pb-4">

    <div class="home-page__body-panel text-center">
        <h3 class="home-page__body-panel-title mx-auto p-2">{% get_translation key='info_n_advice' language=page.get_language %}</h3>

        <div class="d-none d-lg-block">
            <div class="row px-4">
                <div class="col-4 px-4 mt-4 dash-vertical-right">
                    <img class="mt-2 section-icons mb-4" src="{% static 'images/group-4.svg' %}"
                         alt="Is university for me?"/>
                    <h4>{{ page.box_1_title }}</h4>
                    <h5>{{ page.box_1_content }}</h5>
                </div>
                <div class="col-4 px-4 mt-4">
                    <img class="mt-2 section-icons mb-4" src="{% static 'images/new.svg' %}"
                         alt="How to pay for university"/>
                    <h4>{{ page.box_2_title }}</h4>
                    <h5>{{ page.box_2_content }}</h5>
                </div>
                <div class="col-4 px-4 mt-4 dash-vertical-left">
                    <iframe title="home page video" class="mt-2 mb-3 video-iframe"
                            src="{% get_translation key='home_page_video_link' language=page.get_language %}"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <h4>{% get_translation key='how_to_search_for_course' language=page.get_language %}</h4>
                    <h5>{% get_translation key='video_on_topic_content' language=page.get_language %}</h5>
                </div>
            </div>
            <div class="row px-4">
                <div class="col-4 px-4 pb-4">
                    <div class="my-4 justify-content-center">
                        <a href="{{ page.box_1_link }}"
                           class="home-page__search-button py-2 px-3"
                           aria-label="{{ page.box_1_title }} find out more button">{% get_translation key='find_out_more' language=page.get_language %}</a>
                    </div>
                </div>
                <div class="col-4 px-4 pb-4">
                    <div class="my-4 justify-content-center">
                        <a href="{{ page.box_2_link }}"
                           class="home-page__search-button py-2 px-3"
                           aria-label="{{ page.box_2_title }} find out more button">{% get_translation key='find_out_more' language=page.get_language %}</a>
                    </div>
                </div>
                <div class="col-4 px-4 pb-4">
                    <div class="my-4 justify-content-center">
                        <a href="{{ page.box_3_link }}"
                           class="home-page__search-button py-2 px-3"
                           aria-label="{{ page.box_3_title }} find out more button">{% get_translation key='find_out_more' language=page.get_language %}</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-block d-lg-none">
            <div class="col-12">
                <img class="section-icons my-3" src="{% static 'images/group-4.svg' %}" alt="Is university for me?"/>
                <h4>{{ page.box_1_title }}</h4>
                <h5>{{ page.box_1_content }}</h5>
                <div class="my-4 justify-content-center">
                    <a href="{{ page.box_1_link }}"
                       class="home-page__search-button py-2 px-3">{% get_translation key='find_out_more' language=page.get_language %}</a>
                </div>
                <hr class="dash"/>
            </div>

            <div class="col-12">
                <img class="section-icons my-3" src="{% static 'images/new.svg' %}" alt="How to pay for university"/>
                <h4>{{ page.box_2_title }}</h4>
                <h5>{{ page.box_2_content }}</h5>
                <div class="my-4 justify-content-center">
                    <a href="{{ page.box_2_link }}"
                       class="home-page__search-button py-2 px-3">{% get_translation key='find_out_more' language=page.get_language %}</a>
                </div>

                <hr class="dash"/>
            </div>


            <div class="col-12 pb-3">
                <iframe class="video-iframe my-3"
                        src="{% get_translation key='home_page_video_link' language=page.get_language %}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <h4>{% get_translation key='video_on_topic_title' language=page.get_language %}</h4>
                <h5>{% get_translation key='video_on_topic_content' language=page.get_language %}</h5>
                <div class="my-4 justify-content-center">
                    <a href="{{ page.box_3_link }}"
                       class="home-page__search-button py-2 px-3">{% get_translation key='find_out_more' language=page.get_language %}</a>
                </div>
            </div>

        </div>

    </div>

</div>