@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/partials/forms';


.course-finder {
    &-base {
        padding: 0px 19px 48px;

        &__nav {
            display: flex;
            justify-content: space-between;
            padding: 19px 0px;
            margin: 0;
            height: 100%;
            list-style: none;


            &-control {
                @include mobile-body-font--bold-mixin();

                text-decoration: none;
                color: $gradient-light-green;
            }

            .filter {
                background-image: url('/static/assets/filter.svg');
                background-size: 13px;
                background-repeat: no-repeat;
                background-position: 56% 50%;
            }

            input[type="submit"] {
                align-self: center;
                background-color: #F5FAFF;
                margin: 0 1px;
                padding: 22px 0;
                border-radius: 0;
                font-size: 17px;
                line-height: 16px;
                color: #5F607C;
                height: 100%;

                &:hover {
                    background-color: #F5FAFF;
                    color: #5F607C;
                }
            }
        }
    }

    &-content {
        padding-top: 44px;

        &__question {
            @include m-heading--bold-mixin();

            margin-top: 0px;
            margin-bottom: 35px;
            width: 80%;

            line-height: 45px;
            color: $ux-grey-3;

            &-label {
                @include xs-heading-mixin();

                display: block;
                padding: 8px 0px 5px 20px;
            }

            &-helper {
                @include small-font-mixin();

                margin-top: 15px;

                color: $helper-grey;

                p {
                    margin: 0px;
                }
            }

            &-selector {
                @include custom-selector();

                width: 100%;
                margin-bottom: 20px;

                &:nth-of-type(3) {
                    display: none;
                }
            }
        }

        &__next {
            margin-top: 50px;

            &-link {
                text-decoration: none
            }

            &-button {
                @include green-gradient-mixin();
                @include mobile-body-font-mixin();

                display: flex;
                align-items: center;
                padding: 8px 50px;

                border-radius: 70.6272px;
                line-height: 25px;
                color: $white;

                &:hover {
                    .green {
                        display: initial;
                    }

                    .white {
                        display: none;
                    }
                }
            }

            &-icon {
                height: 14px;
                margin-left: 6px;

                &.green {
                    display: none;
                }

                &:hover {
                    &.green {
                        display: initial;
                    }

                    &.white {
                        display: none;
                    }
                }
            }
        }

        &.mode-chooser {
            .course-finder-content__next {
                margin-top: 147px;
            }
        }

        &.subject-chooser {
            .course-finder-content__next {
                margin-top: 196px;
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .course-finder {
        &-base {
            padding: 0px 0px 107px;

            &__nav {
                padding: 24px 0px;

                &-control {
                    @include xs-heading-mixin();

                    color: $gradient-light-green;

                    img {
                        height: 16px;
                    }
                }
            }
        }

        &-content {
            padding-top: 55px;

            &__question {
                @include l-heading--bold-mixin();

                margin-bottom: 30px;
                width: 80%;

                line-height: 60px;
                color: $ux-grey-3;

                &-label {
                    @include s-heading-mixin();
                }

                &-helper {
                    @include desktop-body-font-mixin();

                    margin-top: 20px;

                color: $helper-grey;
                }

                &-selector {
                    width: 50%;
                    margin-bottom: 30px;
                }
            }

            &__next {
                margin-top: 45px;

                &-button {
                    @include s-heading-mixin();

                    padding: 19px 106px 18px;

                    line-height: 31px;
                    color: $white;
                }

                &-icon {
                    height: 19px;
                    margin-left: 4px;
                }
            }

            &.country-chooser {
                .course-finder-content__question {
                    width: 60%;
                }
            }

            &.mode-chooser, &.subject-chooser {
                .course-finder-content__next {
                    margin-top: 45px;
                }
            }

            &.subject-chooser {
                padding-top: 73px;
            }
        }
    }
}
