@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/partials/forms';

.line-height-1-5 {
    line-height: 1.5 !important;
}

.course-finder-wrapper {
    margin-left: 0;
    padding-left: 0;
}
@media only screen and (min-width: 577px) {
    .course-finder-wrapper {
        flex: 1 0 50vw; 
        margin-left: 30px;
    }
}

.course-finder-results__overview-filter-open{
    text-align:center;
}
.course-finder__header{   
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    background-color: white;
    padding-bottom:0;
    padding-top: 8px;
    color: #5d5d5d;

    .course-finder__header-content{
        overflow: hidden;
    }

    .home-page__header-bg-icon {
        height: 100px;
        width: auto;
    }

    .course-finder__intro-title{
        font-family: "Nunito Sans", sans-serif;
        h1{
            font-size:2rem;
        }
        
    }

    .course-finder__intro-panel{
        font-family: "Nunito Sans", sans-serif;
        color:$black;
        font-weight:bold;
        font-size:1.2rem;
        padding: 32px 0;
        

        input#institution_query-search.search-field-input {
            border-width: 1px solid #ced4da !important;
            width: 100%;
            border-radius: 5px 5px 5px 5px;
            font-size: 1rem;
            color: #495057;
            height: calc(1.5em + .75rem + 2px);
            background-color: #FFFFFF !important;
            padding-left: 0.7rem;
        }

        .search-dropdown .search-field-dropdown-button {
            position: absolute;
            display: inline-block;
            top: 10%;
            right: 4px;
            width: 32px;
            height: 85%;
            border: none;
            background-color: #FFFFFF;
            cursor: pointer;
            outline: none;
        }

        h4 {
            color: #000000;
            font-size: 1.2rem;
            font-weight: bold;
        }
        h5 {
            color: #000000;
            font-size: 1.1rem;
            font-weight: normal;
        }
        h6{
            color: #000000;
            font-size: 0.9rem;
            font-weight: normal;
            a{
                color:#2a8384;
                text-decoration: underline;
            }
        }
        .home-page__search-button {
            background-color: #fcd835;
            color: black;
            font-family: "Nunito Sans", sans-serif;
            font-size: 1rem;
            border: none;
            font-weight: bold;
        }

    }

}
.course-finder__header .course-finder__intro-panel .course-finder__info-block, .course-finder__info-block{
    font-family: "Nunito Sans", sans-serif;
    padding:2rem;
    border-radius: 5px;
    background-color: rgba(248, 212, 65, 0.2);
    max-width:370px;
    margin-left:auto;
    margin-right:1rem;

    .home-page__search-button {
        background-color: #fcd835;
        color: black;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1rem;
        border: none;
        font-weight: bold;
    }
    h4 {
        color: #000000;
        font-size: 1.2rem;
        font-weight: bold;
    }
    h5 {
        color: #000000;
        font-size: 1.1rem;
        font-weight: normal;
    }
    h6{
        color: #000000;
        font-size: 0.9rem;
        font-weight: normal;
        a{
            color:#2a8384;
            text-decoration: underline;
        }
    }
}

.course-finder__course-wizard{
    font-family: "Nunito Sans", sans-serif;
    padding:2rem;
    border: solid 2px #dee0e0;

    .home-page__search-button {
        background-color: #fcd835;
        color: black;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1rem;
        border: none;
        font-weight: bold;

    }
    h4 {
        color: #000000;
        font-size: 1.2rem;
        font-weight: bold;
    }
    h5 {
        color: #000000;
        font-size: 1.4rem;
        font-weight: normal;
    }
    h6{
        color: #000000;
        font-size: 0.9rem;
        font-weight: normal;
        a{
            color:#2a8384;
            text-decoration: underline;
        }
    }
}

.course-finder {
    font-family: "Nunito Sans", sans-serif;

    &__result-hr{
        border-top:1px solid $black;
    }
    &-base {
        background-color: white;
        margin-bottom:3rem;

        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0;
            margin: 20px 0 0;
            height: 100%;
            list-style: none;

            &-results{
                font-weight: normal; 
                font-size: 18px; 
                padding-left: 0 !important;
            }

            &-control {
                @include mobile-body-font--bold-mixin();

                padding: 0;

                text-decoration: underline;
                color: $gradient-light-green;
                border: none;
                background-color: transparent;

                &-icon {
                    height: 12px;
                 

                    &.white {
                        display: none;
                    }
                }

                &-start-again {
                    margin-left: auto;
                }
            }

            &-input {
                display: none;
            }

            .filter {
                background-image: url('/static/assets/filter.svg');
                background-size: 13px;
                background-repeat: no-repeat;
                background-position: 56% 50%;
            }
        }
    }

    &-content {
        padding-top: 44px;

        &__question {
            @include m-heading--bold-mixin();

            margin-top: 0;
            margin-bottom: 35px;
            width: 80%;

            line-height: 45px;
            color: $ux-grey-3;

            &-sub-heading {
                @include xs-heading-mixin();
            }

            &-form {
                .textbox {
                    @include xs-heading-mixin();

                    width: 219px;
                    padding: 14px 10px;
                }

                .search-field-input {
                    @include xs-heading-mixin();

                    padding: 14px 10px;
                }
            }

            &-label {
                @include xs-heading-mixin();

                display: block;
                padding: 8px 0 5px 20px;
            }

            &-helper {
                @include small-font-mixin();

                margin-top: 15px;

                color: $helper-grey;

                p {
                    margin: 0;
                }
            }

            &-selector {
                @include custom-selector();

                width: 100%;
                margin-bottom: 20px;
            }

            &-previous-selections {
                display: none;
            }
        }

        &__next {
            margin-top: 50px;

            &-link {
                text-decoration: none
            }

            &-button {
                @include green-gradient-mixin();
                @include mobile-body-font-mixin();
                
                cursor: pointer;

                display: inline-block;
                align-items: center;
                padding: 8px 50px;

                border-radius: 70.6272px;
                line-height: 25px;
                color: $white;
                
                @media (hover) {
                  &:hover {
                      .green {
                          display: initial;
                      }

                      .white {
                          display: none;
                      }
                  }
                }
            }

            &-icon {
                height: 14px;
                margin-left: 6px;
             
                &.green {
                    display: none;
                }

                &:hover {
                    &.green {
                        display: initial;
                    }

                    &.white {
                        display: none;
                    }
                }
            }
        }

        &__summary {
            margin-bottom: 70px;

            &-heading {
                @include desktop-body-font--bold-mixin();

                margin: 0;

                line-height: 26px;
            }

            &-value {
                @include desktop-body-font-mixin();

                margin: 0;
                margin-bottom: 30px;

                line-height: 26px;
            }
        }

        &.mode-chooser {
            .course-finder-content__next {
                margin-top: 147px;
            }
        }

        &.subject-chooser {
            .course-finder-content__next {
                margin-top: 196px;
            }
        }

        &.uni-picker {
            .course-finder-content__next {
                margin-top: 260px;
            }
        }

        &.postcode-search {
            .course-finder-content__question {
                margin-bottom: 25px;
            }

            .course-finder-content__next {
                margin-top: 75px;
            }
        }
    }

    &-results {
       
        &__heading {
            padding-left: 15px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;

            &_sort_by_institution {
                padding-left: 10px;
                margin-bottom: 20px;
                color: $link-green;
                font-size: 18px;
                font-weight: normal;      
                
                &:hover {
                    cursor: pointer;
                }

                &_selected {
                    padding-left: 10px;
                    margin-bottom: 20px;
                    color: $link-green;
                    font-size: 18px;                
                    font-weight: bold;
                    text-decoration: underline;          

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
            &_sort_by_subject {
                padding-left: 31px;
                margin-bottom: 20px;
                color: $link-green;
                font-size: 18px;
                font-weight: normal;      
                
                &:hover {
                    cursor: pointer;
                }
    
                &_selected {
                    padding-left: 31px;
                    margin-bottom: 20px;
                    color: $link-green;
                    font-size: 18px;                
                    font-weight: bold;
                    text-decoration: underline;          
    
                    &:hover {
                        cursor: pointer;
                    }

                }

                &_disabled {
                    padding-left: 31px;
                    margin-bottom: 20px;
                    color: #ccc;
                    font-size: 18px;                
                }

                &_warning {
                    padding: 10px 10px 10px 32px;
                    margin-bottom: 20px;
                    background-color: $pale;
                    font-size: 16px;
                    display:block;
                    line-height: normal;
                }
            }
        }

        &__overview {
            @include mobile-body-font-mixin();

            margin: 0;
            position: relative;

            &-filter {
                &-toggle, &-open {
                    color: $black;
                    cursor: pointer;
                    font-size: 0.9rem;
                }

                &-toggle {
                    display: none;
                }

                &-icon {
                    height: 15px;
                   
                }
            }
        }

        &__result {
            &-list {
                margin-top: 20px;
                margin-bottom: 20px;

                .pagination nav{
                    margin-top:10px!important;
                    margin-bottom: 2rem;
                }
            }

            &-accordion {
                margin-bottom: 20px;

                &__compare-btn-white{
                    position:absolute;
                    right:10px;
                }
        

                &-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 29px 40px 29px 29px;

                    @include green-gradient-background-mixin();
                    border: 3px solid transparent;
                    cursor: pointer;
                    .course-finder-results__result-accordion-title, .course-finder-results__result-accordion-overview {
                        color: white;
                    }
                    

                    // &:hover {
                    //     border: 3px solid $gradient-light-green;
                    // }

                    .collapse, .expand {
                        display: none;

                        img {
                            width: 30px;
                        }
                    }

                    &.open {
                        @include green-gradient-background-mixin();

                        .course-finder-results__result-accordion-title, .course-finder-results__result-accordion-overview {
                            color: white;
                        }
                    }
                }

                &-title {
                    @include mobile-body-font--bold-mixin();

                    margin: 0;
                    margin-bottom: 10px;

                    color: $ux-grey-3;
                }

                &-overview {
                    @include small-font--bold-mixin();

                    margin: 0;

                    color: $ux-grey-3;
                }

                &-body {
                    background-color: rgba(248, 212, 65, 0.2);
                    padding: 1rem;

                    &-content {
                        background-color: #FFFFFF;

                        border-bottom: 2px solid $ux-grey-1;
                        padding: 30px;
                    }

                    &-course-name {
                        @include desktop-body-font-mixin();

                        display: block;
                        margin: 0;
                        margin-bottom: 20px;

                        color: $gradient-dark-green;
                        line-height: 22px;
                        text-decoration: underline;
                    }

                    &-sort-by-subject-course-name {
                        @include desktop-body-font-mixin();

                        display: block;
                        margin: 0;

                        color: $gradient-dark-green;
                        line-height: 22px;
                        text-decoration: underline;
                    }

                    &-course-provider {
                        @include mobile-body-font-mixin();

                        margin: 0;

                        line-height: 26px;

                        text-decoration-line: underline;
                        font-weight: bold;
                    }

                    &-course-info {
                        @include mobile-body-font-mixin();

                        margin: 0;

                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 376px) {
    .course-finder-results__heading {
        padding-left: 32px;
    }
}

@media only screen and (min-width: 577px) {
    .course-finder-results__heading {
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .course-finder-results__heading_sort_by_subject_warning {
        padding: 10px;
        margin: 0 0 14px 20px;
        display: inline-block;
        max-width: 220px;
    }
}

@media only screen and (min-width: 770px) {

    .course-finer__header .home-page__header-bg-icon {
        padding-top: 15px;
        height: 150px;
        width: auto;
    }
    .course-finder__header .course-finder__intro-panel {
        padding: 1rem;

        h5 {
            font-size: 1rem;
        }
    }
    .course-finder {

        &-base {

            &__nav {
                padding: 24px 0;

                &-control {
                    @include xs-heading-mixin();

                    color: $gradient-light-green;
                    a{
                        text-decoration: underline;
                    }

                    &-icon {
                        height: 16px;

                    }
                }
            }
        }

        &-content {
            padding-top: 73px;

            &__question, &__heading {
                @include l-heading--bold-mixin();

                margin-bottom: 30px;
                width: 80%;

                line-height: 60px;
                color: $ux-grey-3;

                &-label {
                    @include s-heading-mixin();
                }

                &-helper {
                    @include desktop-body-font-mixin();

                    margin-top: 20px;

                color: $helper-grey;
                }

                &-selector {
                    width: 50%;
                    margin-bottom: 30px;
                }
            }

            &__next {
                margin-top: 45px;

                &-button {
                    @include s-heading-mixin();

                    padding: 19px 106px 18px;

                    line-height: 31px;
                    color: $white;
                }

                &-icon {
                    height: 19px;
                    margin-left: 4px;


                }
            }

            &__summary {
                margin-bottom: 50px;

                &-heading {
                    @include s-heading--bold-mixin();

                    line-height: 37px;
                }

                &-value {
                    @include s-heading-mixin();

                    margin-bottom: 20px;

                    line-height: 37px;
                }
            }

            &.country-chooser {
                .course-finder-content__question {
                    width: 60%;
                }
            }

            &.mode-chooser, &.subject-chooser, &.narrow-search {
                .course-finder-content__next {
                    margin-top: 45px;
                }
            }

            &.uni-picker {
                .course-finder-content__next {
                    margin-top: 35px;
                    margin-bottom: 162px;
                }
            }
        }

        &-results {
            // &__heading {
            //     @include l-heading--bold-mixin();

            //     margin-bottom: 32px;

            //     line-height: 60px;
            //     color: $ux-grey-3;
            // }

            &__overview {
                @include desktop-body-font-mixin();

                &-filter {
                    &-toggle {
                        display: inline-block;
                    }

                    &-open {
                        display: none;
                    }
                }
            }

            &__result {
                &-list {
                    margin-top: 18px;
                    margin-bottom: 18px;

                    .pagination nav{
                        margin-top:10px!important;
                        margin-bottom: 2rem;
                    }

                }

                &-accordion {
                    &-header {
                        padding: 32px;

                        .collapse, .expand {
                            img {
                                width: 20px;
                            }
                        }
                    }

                    &-heading {
                        flex-grow: 1;
                        display: flex;
                        justify-content: space-between;
                        padding-right: 76px;
                    }

                    &-title {
                        @include xs-heading--bold-mixin();

                        margin: 0;

                    }

                    &-overview {
                        @include desktop-body-font--bold-mixin();


                    }

                    &-body {
                        padding: 2rem 3rem 1rem 3rem;

                        &-content {
                            padding: 30px;
                        }

                        &-course-name {

                            line-height: 31px;
                        }

                        &-sort-by-subject-course-name {

                            line-height: 31px;
                        }

                        &-course-provider {

                            line-height: 27px;
                        }

                        &-course-info {

                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }
}





@media only screen and (max-width: 576px){
    .course-finder__intro-panel, .course-finder-base.course-finder-results, .course-finder__header-content {
        margin-left:auto!important;
        margin-right:auto!important;
        // padding: 32px;
    }

    .course-finder__header {
        // margin-left:auto!important;
        // margin-right:auto!important;
        padding: 32px;
    }

    .course-finder-base__nav {
        padding-left: 32px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 766px){
    .course-finder__intro-panel,
    .course-finder-base.course-finder-results,
    .course-finder__header-content
    {
        width: 540px!important;
        margin-left:auto!important;
        margin-right:auto!important;
        padding: 1rem;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    .course-finder__intro-panel, .course-finder-base.course-finder-results, .course-finder__header-content{
        width: 720px!important;
        margin-left:auto!important;
        margin-right:auto!important;
        padding: 1rem;
        padding-bottom: 0 !important;
    }

    .course-finder-wrapper {
        flex: 1 0 55%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .course-finder__intro-panel, .course-finder-base.course-finder-results, .course-finder__header-content{
        width: 960px!important;
        margin-left:auto!important;
        margin-right:auto!important;
        padding: 1rem;
    }
    .course-finder-wrapper {
        flex: 1 0 69%;
    }
}
@media only screen and (min-width: 1200px){
    .course-finder__intro-panel, .course-finder-base.course-finder-results, .course-finder__header-content{
        width: 1140px!important;
        margin-left:auto!important;
            margin-right:auto!important;
        // padding: 1rem;
    }
    .course-finder-wrapper {
        flex: 1 0 74%;

    }
}