@import '../../../CMS/static/scss/variables';
  
  .side-filters {
    margin: 0;
    padding: 0;
    width: 255px;
    background-color: $white;
    position: absolute;
    overflow: auto;
  
    &-filter {
      display: block;
    }
    &-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &-title {
        font-size: 18px;
        font-weight: bold;
        color: $black;
      }
      &-cta {
        font-size: 18px;
        color: $black;
        display: none;
      }
    }
    &-filter-header {
      margin-bottom: 5px;
      padding: 9px 4px 9px 10px;
      border-radius: 2px;
      background-color: $duck-egg-blue;
      font-size: 16px;
      font-weight: bold;
      color: $black;
    }
  
    &-apply-button {
      margin-top: 12px;
      margin-bottom: 21px;
      padding: 7px 47px 9px;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 $bruise;
      background-color: $bruise;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: $white;
    }
  
    &-show-button {
      display: none;
      padding: 8px 0;
      margin: 0 24px 0 33px;
      border-radius: 3px;
      background-color: $very-light-blue;
      font-size: 18px;
      text-align: center;
      color: $black;
    }
  }
  
  .institutions {
    margin-left: 285px;
    // padding-left: 30px;
    &-heading {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: var(--black);
    }
    &-institution-header {
      margin-bottom: 20px;
      padding: 27px 33px;
      background-image: linear-gradient(278deg, var(--ugly-blue), var(--dusty-teal));
      font-size: 21px;
      font-weight: 600;
      color: var(--white);
    }
  }
  
  @media screen and (max-width: 576px) {
    .side-filters {
      width: 100%;
      height: auto;
      position: relative;
  
      &-apply-button {
        display: none;
      }
  
      &-filter {
        display: none;
      }
  
      &-show-button {
        display: block;
        margin-bottom: 32px;
      }
  
      &-heading {
        padding-left: 32px;
      }
    }
  
    .institutions {
      margin-left: 0;
      padding-left: 0;
  
      &-heading {
        padding-left: 32px;
      }
    }
  }
  
  @media screen and (max-width: 375px) {
    .side-filters {
      &-heading {
        padding-left: 15px;
      }
      &-show-button {
        margin-left: 15px;
      }
    }
    .institutions-heading {
      padding-left: 15px;
    }
  }
  