@import "../../../CMS/static/scss/fonts";
@import "../../../CMS/static/scss/variables";
@import "../../../CMS/static/scss/partials/forms";

.side-filters {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    width: 255px;
    background-color: $white;
    position: absolute;
    overflow: auto;
    &-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &-title {
            font-size: 18px;
            font-weight: bold;
        }
        &-cta {
            font-size: 18px;
            display: none;
        }
    }
    &-filter {
        display: block;
    }
    &-institutions {
        margin-left: 285px;
        &-heading {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.side-filters-block {
    &__filter {
        &-accordion {
            margin-bottom: 5px;

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 9px 14px 9px 10px;
                border-radius: 2px;
                background-color: $duck-egg-blue;

                .collapse,
                .expand,
                .open {
                    display: none;

                    img {
                        width: 16px;
                    }
                }
            }

            &-title {
                font-size: 16px;
                font-weight: bold;
            }

            &-body {
                padding: 10px;
            }
        }

        &-options {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        &-option {
            width: 100%;
        }

        &-checkbox {
            &-input {
                width: 20px;
                border-radius: 2px;
                border: solid 1px $greyish-brown;
                background-color: $white;
            }

            &-label {
                font-size: 16px;
            }
        }
    }

    &__show {
        &-btn {
            border: none;
            display: none;
            width: -webkit-fill-available;
            padding: 8px 0;
            border-radius: 3px;
            background-color: $very-light-blue;
            font-size: 18px;
            text-align: center;
        }
    }

    &__submit {
        &-btn {
            margin-top: 12px;
            margin-bottom: 21px;
            padding: 7px 47px 9px;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 $bruise;
            background-color: $bruise;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            color: $white;
            width: 100%;
            border: none;
        }
    }
}

@media only screen and (max-width: 576px) {
    .side-filters {
        width: 100%;
        height: auto;
        position: relative;
        &-heading {
            padding-left: 32px;
        }
        &-filter {
            display: none;
        }
        &-institutions {
            margin-left: 0;
            padding-left: 0;
            &-heading {
                padding-left: 32px;
            }
        }
    }

    .side-filters-block {
        &__show-btn {
            display: block;
            margin: 0 33px 32px;
        }
        &__submit-btn {
            display: none;
        }
    }
}

@media only screen and (max-width: 375px) {
    .side-filters {
        &-heading {
            padding-left: 15px;
        }
        &-institutions-heading {
            padding-left: 15px;
        }
        &-block__show-btn {
            margin: 0 15px 32px;
        }
    }
}
