@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.discover-uni-container {
    .accreditation__block {
        padding: 0px 30px 30px;;

        .accreditation__heading {
            @include s-heading-mixin();

            margin-top: 55px;
            margin-bottom: 25px;

            color: $ux-grey-2;
        }

        .accreditation__body {
            @include mobile-body-font-mixin();
        }

        .accreditation__explanation {
            @include small-font-mixin();
        }
    }
}

@media only screen and (min-width: 770px) {
    .discover-uni-container {
        .accreditation__block {

            .accreditation__heading {
                @include m-heading-mixin();

                color: $ux-grey-2;
            }

            .accreditation__body {
                @include desktop-body-font-mixin();

                width: 66%;
            }
        }
    }
}