@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

    .accreditation__block {
        .accreditation__info{
            background-color: $ice-blue;
        }
        .accreditation__overview{
            
            text-align: center;
            border: solid 3px $duck-egg-blue;

            .accreditation__overview-lead{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 1.3rem;
                font-weight:300;
                color: #000000;
                text-decoration: none;
            }
            .accreditation__overview-sublead{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 0.9rem;
                font-weight:300;
                color: $brownish-grey;
                text-decoration: none;
            }
            a{
                font-size:0.9rem;
                font-weight:300;
                text-decoration: underline;
                color: $dark-green-blue;
            }
        }

        .accreditation__heading {
            @include s-heading-mixin();
            font-family: 'Nunito Sans', sans-serif;
            font-weight:300;
            color: #000000;
            font-size: 1.3rem;
        }

        .accreditation__body {
            @include mobile-body-font-mixin();
            font-weight:300;

            a{
                color: $dark-green-blue;
                font-weight:300;
                text-decoration: underline;
            }
        }

        .accreditation__explanation {
            @include small-font-mixin();
        }
    }
