@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.one-year__block, .one-year__lead-block {

    p{
            font-size: 0.9rem;
            color: $brownish-grey;
            font-weight: 300;
    }
    
    a{
        color:#308282;
        text-decoration: underline;
        font-weight:300;
    }

    .one-year__lead {
        @include small-font-mixin();
        margin-top: 5px;
    }

    .one-year__qualification-charts {
        background-color:$ice-blue;

        .one-year__heading {
            @include s-heading-mixin();
            font-family: 'Nunito Sans', sans-serif;
            font-weight:300;
            color: #000000;
        }
        .one-year__lead{
           
            font-family: 'Nunito Sans', sans-serif;
            font-weight:300;
            color: #000000;
            font-size:0.9rem;
            a{
                text-decoration: underline;
                color:$dark-green-blue;
                font-weight:300;
            }
        }

        .one-year__chart {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 13px;
            }

            .one-year-block__chart-label{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 200;
            }

            .one-year__chart-label {
                @include small-font-mixin();

                margin-top: 5px;
            }
        }
    }
}


.one-year__overview {

    text-align: center;
    border: solid 3px $duck-egg-blue;
    
    @include desktop-body-font-mixin();

    p {
        margin: 0px;
    }

    .one-year__overview-lead {
        @include l-heading-mixin();
        font-family: 'Nunito Sans', sans-serif;
        color: #000000;
        font-weight:300;
        font-size: 2.5rem;
    }
    .one-year__overview-sublead{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.2rem;
        font-weight:300;
        color: #000000;
        text-decoration: none;
    }
    p{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color: $brownish-grey;
    }
    a{
     
        text-decoration: underline;
        color: $dark-green-blue;
    }
}

@media only screen and (min-width: 770px) {
    .one-year__block, .one-year__lead-block {
        

        .one-year__heading {
            @include m-heading-mixin();

            margin: 0;

            color: $ux-grey-2;
        }

        .one-year__lead {
            @include desktop-body-font-mixin();

            margin-top: 5px;
        }

        .one-year__qualification-charts {
            .one-year__chart {
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 13px;
                }

                .one-year__chart-label {
                    @include small-font-mixin();

                    margin-top: 5px;
                }
            }
        }
    }

    .one-year__overview {

        .one-year__overview-lead {
            @include xl-heading-mixin();
            font-family: 'Nunito Sans', sans-serif;
            color: #000000;
            font-weight:300;
            font-size: 2.5rem;
        }
    }
}

@media only screen and (min-width: 990px) {
    .one-year-block__chart-label{
        text-align: right;
    }
}
