@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/grid';
@import '../../../CMS/static/scss/variables';

@import 'student_satisfaction';
@import 'entry_information';
@import 'after_one_year';
@import 'earnings_after_course';
@import 'employment_after_course';
@import 'accreditation';
@import 'graduate_perceptions';

@import 'highcharts';

.course_detail__header-bar{
    background-color: #1F283A;
    .course_detail__header-bar-div{
        overflow:hidden;
        height:80px;
        .home-page__header-bg-icon {
            height: 100px;
            width: auto;
        }
    }

}
.course-detail {
    // overflow-x: hidden;

    .course-detail__joint-overview{
        border: solid 3px #cee9e7;

        .course-detail__joint-overview-heading h3{
            font-family: 'Nunito Sans', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: normal;
            line-height: 100%;
            color: #000000;
            font-weight: normal;
            margin-top: 0px;
            margin-bottom: 16px;
            color: #000000;
            text-align: center;
        }
        .course-detail__joint-overview-body{
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;
                line-height: 100%;
                color: #000000;
                color: #666666;
                font-weight: normal;
                text-align: center;
            }
            a {
                font-family: 'Nunito Sans', sans-serif;
                line-height: normal;
                font-size: 14px;
                color: #666666;
                font-weight: normal;
                color: #308282;
                font-weight: 600;
                text-decoration: underline;
                text-align: center;
            }
        }
    }

    .course-detail__lead {
        h4{
            font-size:16px;
            font-family: 'Nunito Sans', sans-serif;
        }
        hr{
            border: none; 
            height: 3px;
            background-color: $duck-egg-blue;
            
        }
        .course-detail__overview-lead h4 {
            font-size:16px;
            font-weight:bold;
            margin-bottom:0;
            color:$black;
        }

        
        .course-detail__nav {
            visibility: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            height: 100%;
            list-style: none;

            .course-detail__nav-control {
                @include mobile-body-font--bold-mixin();
                padding: 0px;
                color: $gradient-light-green;
                border: none;
                background-color: transparent;
                position: absolute;
                top: 110px;

                .course-detail__nav-control-icon {
                    height: 12px;
                }

                #course-detail__nav-control-back {
                    visibility: hidden;
                    cursor: pointer;
                    margin-left: auto;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size:16px;
                    color:white;
                    font-weight:normal;
                }
            }
        }

        .course-detail__icon {
            height: 48px;
        }

        .course-detail__course-name {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            margin-bottom: 20px;
        }

        a.course-detail__institution-name {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $dark-green-blue;
            text-decoration: underline;
        }



        .course-detail__institution-locations{
            
            @include small-font-mixin();

        }

        .course-detail__course-overview {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .course-detail__overview-item {

                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                background-color: $white;
                border-radius: 10px;

                .course-detail__overview-item-heading {
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #000000;
                    margin: 0px;
                    margin-bottom: 5px;
                }

                .course-detail__overview-item-value {
                    @include small-font--bold-mixin();
                    margin: 0px;

                    color: $black;
                }
            }
        }
    }

    .course-detail__headline_statistics {

        .course-detail__headline_stat {
            background-color: #fef6d9;
        }
        h3{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 22px;
            font-weight: normal;
            color: #000000;
        }
        
        h2{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 28px;
            font-weight: normal;
            color: #000000;
        }
        p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #000000;
            padding:0px 5px;
        }
        a{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: underline;
        }
    }

    .course-detail__accordion-block {
        margin-bottom: 45px;

        .course-detail__accordion {
            margin-bottom: 7px;

            .course-detail__accordion-heading {
                display: block;
                width: 100%;
                padding: 0px;
                color: $white;
                border: 0px;
                @include green-gradient-background-mixin();
                cursor: pointer;

                &.open {
                    @include green-gradient-background-mixin();

                    h2 {
                        color: $white;
                    }
                }

                h2 {
                    @include xs-heading-mixin();

                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 17px 30px 17px 30px;
                    position: relative;
                    text-align: left;
                    border: 3px solid transparent;
                    color: $white;

                    &:hover {
                        border: 3px solid $gradient-light-green;
                    }

                    .course-detail__accordion-heading-chevron {
                        display: flex;
                        margin-right: 50px;
                    }

                    .course-detail__icon {
                        display: none;
                    }
                }
            }
        }
    }

    .course-detail__uni-site-links {
        padding: 30px 22px 0px 25px;
        margin-bottom: 30px;
        background-color: #F2F2F2;
        border: none;

        .course-detail__uni-site-links-header, .course-detail__uni-site-links-header .rich-text p{
            font-size:18px;
            font-weight:normal;
            color:$black;
            font-family: 'Nunito Sans', sans-serif;
        }

        .course-detail__uni-site-links-block {
            padding-bottom: 32px;


            .course-detail__uni-site-links-heading {
                font-size:16px;
                font-weight:normal;
                color:$black;
                font-family: 'Nunito Sans', sans-serif;
            }

            .course-detail__uni-site-links-list {
                padding: 0px;
                margin: 0px;

                .course-detail__uni-site-links-list-item {
                    display: block;


                    .course-detail__uni-site-link {
                        font-size:14px;
                        font-weight:normal;
                        color:$dark-green-blue;
                        font-family: 'Nunito Sans', sans-serif;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .course-detail__further-info-block {
        margin-bottom: 45px;

        .course-detail__other-courses-link {
            @include mobile-body-font-mixin();
            @include green-gradient-background-mixin();

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 27px 35px 27px 35px;
            margin-bottom: 15px;

            border-radius: 5px;
            text-decoration: none;

            .course-detail__other-courses-link-icon {
                margin-right: 9px;
            }
        }
    }

    .highcharts-credits {
        display: none;
    }

    .explanation-text {
        .explanation-text {
           
            color: $brownish-grey;
            font-weight:normal;
            font-size:14px;
        }
    }

    .find-out-more-link {
        p {
            @include small-font-mixin();

            margin-top: 23px;
            margin-bottom: 0px;
        }
    }

    .chart-label-explanation {
        display: none;
        position: absolute;
        left: 0;
        z-index: 100;
        margin-top: 10px;
        width: 100%;


        background-color: $white;
        border: 1px solid #D7D7D7;
        border-radius: 10px;
        box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.28);

        .chart-label-explanation__heading {
            @include xs-heading--bold-mixin();

            position: relative;
            padding: 38px 30px 20px;
            margin: 0px;

            color: $gradient-light-green;
        }

        .chart-label-explanation__close {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 30px;
        }

        .chart-label-explanation__body {
            padding: 0px 30px 25px;

            p, li, h4 {
                @include mobile-body-font-mixin();

                margin-top: 0px;

                color: $ux-grey-3;

                b {
                    @include mobile-body-font--bold-mixin();
                    margin: 0px;
                    margin-bottom: 5px;

                    color: $ux-grey-3;
                }
            }

            h4 {
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 15px;
            }

            ul {
                padding-left: 20px;
                margin-top: 0px;

                li {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
@media only screen and (min-width: 770px) and (max-width:1100px){

    .course-detail .course-detail__lead a.course-detail__institution-name {
        font-size:28px;
    }
    .course-detail .course-detail__lead .course-detail__course-name {
        font-size:32px;
    }
    .course-detail{

        .course-detail__joint-overview{
            border: solid 3px #cee9e7;
            .course-detail__joint-overview-heading h3{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: normal;
                font-size: 24px;
                line-height: normal;
                line-height: 100%;
                color: #000000;
                font-weight: normal;
                margin-top: 0px;
                color: #000000;
                text-align: left;
            }
            .course-detail__joint-overview-body{
                p{
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: normal;
                    line-height: normal;
                    line-height: 100%;
                    color: #000000;
                    font-size: 16px;
                    color: #666666;
                    font-weight: normal;
                    text-align: left;
                }
                a {
                    font-family: 'Nunito Sans', sans-serif;
                    line-height: normal;
                    line-height: 100%;
                    font-size: 16px;
                    color: #666666;
                    font-weight: normal;
                    color: #308282;
                    font-weight: 600;
                    text-decoration: underline;
                    text-align: left;
                }
            }
        }

        .course-detail__uni-site-links {

            margin-bottom: 70px;

            .course-detail__uni-site-links-header, .course-detail__uni-site-links-header .rich-text p{
                font-size: 32px;
                font-weight: normal;
                color: $black;
                font-family: 'Nunito Sans', sans-serif;
            }
        }
        .course-detail__overview{
            .course-detail__overview-item{
                .course-detail__overview-item-heading {
                    font-size: 16px;
                }
            }
        }
        .course-detail__course-name {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 48px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
            margin-bottom: 20px;
        }

        a.course-detail__institution-name {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 28px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $dark-green-blue;
            text-decoration: underline;
        }
        .course-detail__headline_statistics {

            .course-detail__headline_stat {
                background-color: #fef6d9;
            }
            h3{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 24px;
                font-weight: normal;
                color: #000000;
            }

            h2{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 38px;
                font-weight: normal;
                color: #000000;
            }
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 18px;
                font-weight: normal;
                color: #000000;
                padding:0px 5px;
            }
            a{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-decoration: underline;
            }
        }
    }
}
@media only screen and (min-width: 1100px){


    .course-detail .course-detail__lead a.course-detail__institution-name {
        font-size:28px;
    }

    .course-detail .course-detail__joint-overview{
        border: solid 3px #cee9e7;
    
        .course-detail__joint-overview-heading h3{
            font-family: 'Nunito Sans', sans-serif;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            line-height: 100%;
            color: #000000;
            font-weight: normal;
            margin-top: 0px;
            color: #000000;
            text-align: left;
        }
        .course-detail__joint-overview-body{
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-weight: normal;
                line-height: normal;
                line-height: 100%;
                color: #000000;
                font-size: 16px;
                color: #666666;
                font-weight: normal;
                text-align: left;
            }
            a {
                font-family: 'Nunito Sans', sans-serif;
                line-height: normal;
                line-height: 100%;
                font-size: 16px;
                color: #666666;
                font-weight: normal;
                color: #308282;
                font-weight: 600;
                text-decoration: underline;
                text-align: left;
            }
        }
    }

    .course-detail__headline_statistics {

        .course-detail__headline_stat {
            background-color: #fef6d9;
        }
        h3{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 24px;
            font-weight: normal;
            color: #000000;
        }

        h2{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 38px;
            font-weight: normal;
            color: #000000;
        }
        p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
            font-weight: normal;
            color: #000000;
            padding:0px 5px;
        }
        a{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: underline;
        }
    }

    .course_detail__header-bar {
        background-color: #1F283A;

        .course_detail__header-bar-div{
            overflow:hidden;
            height:100px;

            .home-page__header-bg-icon {
                height: 150px;
                width: auto;
            }
        }

    }
    .course-detail {
        margin-top: 35px;

        .course-detail__overview{
            .course-detail__overview-item{
                .course-detail__overview-item-heading {
                    font-size: 16px;
                }
            }
        }

        .course-detail__body {
            padding: 0px;
        }

        .course-detail__lead {
            

            .course-detail__nav {
                visibility: hidden;

                .course-detail__nav-control {
                    @include xs-heading-mixin();
                    color: $gradient-light-green;
                    top:135px;

                    .course-detail__nav-control-icon {
                        height: 16px;
                    }
                }
            }

            .course-detail__icon {
                height: 68px;
            }

            .course-detail__course-name {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 48px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                margin-bottom: 20px;
            }

            .course-detail__institution-name {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 28px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $dark-green-blue;
                text-decoration: underline;
            }

            .course-detail__institution-info {
                padding: 55px normalpx 46px;

                background-color: $divider-grey;

                .course-detail__institution-locations {
                    @include desktop-body-font-mixin();

                    margin: 11px 0 0;
                }
            }

            .course-detail__course-overview {
                flex-wrap: nowrap;
               

            }

            .course-detail__headline_statistics {
                .course-detail__headline_stat {
                    background-color: #fef6d9;
                }
                h3{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 24px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #000000;
                    padding: 0;
                    margin:0;
                }
                h2{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 48px;
                    font-weight: normal;
                    color: #000000;
                    margin-top:10px;
                    margin-bottom:10px;
                }
                p{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 18px;
                    font-weight: normal;
                    color: #000000;
                    padding:0;
                }
                a{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-decoration: underline;
                }
            }
        }

        .course-detail__uni-site-links {

            margin-bottom: 70px;

            .course-detail__uni-site-links-header, .course-detail__uni-site-links-header .rich-text p{
                font-size:32px;
                font-weight:normal;
                color:$black;
                font-family: 'Nunito Sans', sans-serif;
            }

            .course-detail__uni-site-links-blocks {
                display: flex;

                .course-detail__uni-site-links-block {
                    flex: 1 1 0;
                    padding-bottom: 50px;

                    .course-detail__uni-site-links-heading {
                        font-size:18px;
                        font-weight:normal;
                        color:$black;
                        font-family: 'Nunito Sans', sans-serif;
                    }

                    .course-detail__uni-site-links-list {
                        padding: 0px;
                        margin: 0px;

                        .course-detail__uni-site-links-list-item {
                            display: block;

                            .course-detail__uni-site-link {
                                font-size:14px;
                                font-weight:normal;
                                color:$dark-green-blue;
                                font-family: 'Nunito Sans', sans-serif;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .course-detail__further-info-block {
            margin-bottom: 70px;
            display: flex;
            justify-content: space-between;


            .course-detail__other-courses-link {
                @include mobile-body-font-mixin();

                display: flex;
                justify-content: center;
                align-items: center;
                padding: 27px 35px 27px 35px;
                margin-bottom: 15px;
                width: 35%;

                border-radius: 5px;
                background-color: $ux-grey-2;
                color: $white;
                text-decoration: none;

                .course-detail__other-courses-link-icon {
                    margin-right: 9px;
                }
            }
        }

        .explanation-text {
           
            color: $brownish-grey;
            font-weight:normal;
            font-size:14px;
        }

        .find-out-more-link {
            p {
                @include mobile-body-font-mixin();
            }
        }

        .chart-label-explanation {
            display: none;
            width: 50%;
            left: initial;

            .chart-label-explanation__heading {
                @include s-heading--bold-mixin();

                color: $gradient-light-green;
            }

            .chart-label-explanation__body {
                p, li, h4 {
                    @include desktop-body-font-mixin();

                    color: $ux-grey-3;

                    b {
                        @include desktop-body-font--bold-mixin();

                        color: $ux-grey-3;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px){
    div.course-detail.comparison-course-area{
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 766px){
    div.course-detail.comparison-course-area{
        width: 540px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    div.course-detail.comparison-course-area{
        width: 720px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    div.course-detail.comparison-course-area{
        width: 960px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 1200px){
    div.course-detail.comparison-course-area{
        width: 1140px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}