@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/grid';
@import '../../../CMS/static/scss/variables';

@import 'student_satisfaction';
@import 'entry_information';
@import 'after_one_year';
@import 'after_course';
@import 'accreditation';
@import 'highcharts';


.course-detail {
    margin-top: 27px;

    .course-detail__body {
        padding: 0px 20px;
    }

    .course-detail__lead {
        text-align: center;

        .course-detail__nav {
            visibility: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 5px;
            margin: 0;
            height: 100%;
            list-style: none;

            .course-detail__nav-control {
                @include mobile-body-font--bold-mixin();
                padding: 0px;
                color: $gradient-light-green;
                border: none;
                background-color: transparent;

                .course-detail__nav-control-icon {
                    height: 12px;
                }

                #course-detail__nav-control-back {
                    visibility: hidden;
                    cursor: pointer;
                    margin-left: auto; 
                }
            }
        }

        .course-detail__icon {
            height: 48px;
        }

        .course-detail__course-name {
            @include desktop-body-font--bold-mixin();

            margin-top: 13px;
            margin-bottom: 17px;
        }

        .course-detail__institution-info {
            padding: 26px 30px 28px;

            background-color: $divider-grey;

            .course-detail__institution-name {
                @include mobile-body-font-mixin();


                color: $link-blue;
            }

            .course-detail__institution-locations {
                @include small-font-mixin();

                margin: 8px 0 0;
            }
        }

        .course-detail__course-overview {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            margin: 20px 0px 35px;

            .course-detail__overview-item {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 114px;
                padding: 20px 13px;
                margin-bottom: 14px;

                background-color: $white;
                border: 1px solid $ux-grey-3;
                border-radius: 10px;

                .course-detail__overview-item-heading {
                    @include small-font--bold-mixin();
                    margin: 0px;
                    margin-bottom: 5px;
                }

                .course-detail__overview-item-value {
                    @include small-font--bold-mixin();
                    margin: 0px;

                    color: $helper-grey;
                }
            }
        }
    }

    .course-detail__accordion-block {
        margin-bottom: 45px;

        .course-detail__accordion {
            margin-bottom: 7px;

            .course-detail__accordion-heading {
                display: block;
                width: 100%;
                padding: 0px;

                border: 0px;
                background-color: $form-grey;
                cursor: pointer;

                &.open {
                    @include green-gradient-background-mixin();

                    h2 {
                        color: $white;
                    }
                }

                h2 {
                    @include xs-heading-mixin();

                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 32px 30px 32px 51px;
                    position: relative;

                    border: 3px solid transparent;
                    color: $helper-grey;

                    &:hover {
                        border: 3px solid $gradient-light-green;
                    }

                    .course-detail__accordion-heading-chevron {
                        display: flex;
                        position: absolute;
                        right: 30px;
                    }

                    .course-detail__icon {
                        display: none;
                    }
                }
            }

            .course-detail__accordion-body {
            }
        }
    }

    .course-detail__uni-site-links {
        padding: 30px 22px 0px 25px;
        margin-bottom: 30px;

        background-color: white;
        border: 1px solid $ux-grey-3;
        border-radius: 10px;

        .course-detail__uni-site-links-header {
            @include xs-heading-mixin();

            margin: 0px;
            margin-bottom: 35px;
        }

        .course-detail__uni-site-links-block {
            padding-bottom: 32px;


            .course-detail__uni-site-links-heading {
                @include mobile-body-font-mixin();

                margin: 0px;
                margin-bottom: 10px;

                color: $ux-grey-2;
            }

            .course-detail__uni-site-links-list {
                padding: 0px;
                margin: 0px;

                .course-detail__uni-site-links-list-item {
                    display: block;


                    .course-detail__uni-site-link {
                        @include small-font-mixin();

                        line-height: 25px;
                        color: $link-blue;
                    }
                }
            }
        }
    }

    .course-detail__further-info-block {
        margin-bottom: 45px;

        .course-detail__other-courses-link {
            @include mobile-body-font-mixin();
            @include green-gradient-background-mixin();

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 27px 35px 27px 35px;
            margin-bottom: 15px;

            border-radius: 5px;
            text-decoration: none;

            .course-detail__other-courses-link-icon {
                margin-right: 9px;
            }
        }
    }

    .highcharts-credits {
        display: none;
    }

    .explanation-text {
        @include small-font-mixin();

        margin-top: 21px;
        margin-bottom: 6px;

        color: $ux-grey-2;
    }

    .not-enough-data-disclaimer {
        @include small-font-mixin();

        padding: 25px 30px 25px 30px;
        margin-bottom: 100px;

        background-color: $ux-interrupt;
        color: $ux-grey-2;
    }

    .find-out-more-link {
        p {
            @include small-font-mixin();

            margin-top: 23px;
            margin-bottom: 0px;
        }
    }

    .chart-label-explanation {
        display: none;
        position: absolute;
        left: 0;
        z-index: 100;
        margin-top: 10px;
        width: 100%;


        background-color: $white;
        border: 1px solid #D7D7D7;
        border-radius: 10px;
        box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.28);

        .chart-label-explanation__heading {
            @include xs-heading--bold-mixin();

            position: relative;
            padding: 38px 30px 20px;
            margin: 0px;

            color: $gradient-light-green;
        }

        .chart-label-explanation__close {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 20px;
        }

        .chart-label-explanation__body {
            padding: 0px 30px 25px;

            p, li, h4 {
                @include mobile-body-font-mixin();

                margin-top: 0px;

                color: $ux-grey-3;

                b {
                    @include mobile-body-font--bold-mixin();
                    margin: 0px;
                    margin-bottom: 5px;

                    color: $ux-grey-3;
                }
            }

            h4 {
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 15px;
            }

            ul {
                padding-left: 20px;
                margin-top: 0px;

                li {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .course-detail {
        margin-top: 35px;

        .course-detail__body {
            padding: 0px;
        }

        .course-detail__lead {
            text-align: center;

            .course-detail__nav {
                visibility: hidden;
                padding: 24px 0px;

                .course-detail__nav-control {
                    @include xs-heading-mixin();
                    color: $gradient-light-green;

                    .course-detail__nav-control-icon {
                        height: 16px;
                    }
                }
            }

            .course-detail__icon {
                height: 68px;
            }

            .course-detail__course-name {
                @include m-heading--bold-mixin();

                margin-top: 15px;
                margin-bottom: 20px;
            }

            .course-detail__institution-info {
                padding: 55px 300px 46px;

                background-color: $divider-grey;

                .course-detail__institution-name {
                    @include s-heading-mixin();

                    color: $link-blue;
                }

                .course-detail__institution-locations {
                    @include desktop-body-font-mixin();

                    margin: 11px 0 0;
                }
            }

            .course-detail__course-overview {
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 61px 0px 44px;

                .course-detail__overview-item {
                    padding: 30px 13px;
                }
            }
        }

        .course-detail__uni-site-links {
            padding: 50px 65px 0px 78px;
            margin-bottom: 70px;

            .course-detail__uni-site-links-header {
                @include s-heading-mixin();

                margin: 0px;
                margin-bottom: 35px;
            }

            .course-detail__uni-site-links-blocks {
                display: flex;

                .course-detail__uni-site-links-block {
                    flex: 1 1 0;
                    padding-bottom: 50px;

                    .course-detail__uni-site-links-heading {
                        @include xs-heading-mixin();

                        color: $ux-grey-2;
                    }

                    .course-detail__uni-site-links-list {
                        padding: 0px;
                        margin: 0px;

                        .course-detail__uni-site-links-list-item {
                            display: block;

                            .course-detail__uni-site-link {
                                @include desktop-body-font-mixin();

                                line-height: 25px;
                                color: $link-blue;
                            }
                        }
                    }
                }
            }
        }

        .course-detail__further-info-block {
            margin-bottom: 70px;
            display: flex;
            justify-content: space-between;


            .course-detail__other-courses-link {
                @include mobile-body-font-mixin();

                display: flex;
                justify-content: center;
                align-items: center;
                padding: 27px 35px 27px 35px;
                margin-bottom: 15px;
                width: 35%;

                border-radius: 5px;
                background-color: $ux-grey-2;
                color: $white;
                text-decoration: none;

                .course-detail__other-courses-link-icon {
                    margin-right: 9px;
                }
            }
        }

        .explanation-text {
            @include desktop-body-font-mixin();

            margin-top: 21px;
            margin-bottom: 6px;

            color: $ux-grey-2;
        }

        .not-enough-data-disclaimer {
            @include desktop-body-font-mixin();

            padding: 50px 40px;
            margin-bottom: 150px;

            background-color: $ux-interrupt;
            color: $ux-grey-2;
        }

        .find-out-more-link {
            p {
                @include mobile-body-font-mixin();
            }
        }

        .chart-label-explanation {
            display: none;
            width: 50%;
            left: initial;

            .chart-label-explanation__heading {
                @include s-heading--bold-mixin();

                color: $gradient-light-green;

                .chart-label-explanation__close {
                    width: 16px;
                }
            }

            .chart-label-explanation__body {
                p, li, h4 {
                    @include desktop-body-font-mixin();

                    color: $ux-grey-3;

                    b {
                        @include desktop-body-font--bold-mixin();

                        color: $ux-grey-3;
                    }
                }
            }
        }
    }
}