@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/partials/forms';

.course-detail__headline_stat{
    display: none;
}
.comparison {
    padding: 5px 5px 5px 5px;
    .comparison__subject-header{
        background-color: #f8d441;
        
        h1{
            color:black;
            font-size:1.3rem;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }

    &__overview {
        padding: 30px 50px;
        text-align: center;

        border: 1px solid #707070;
        border-radius: 10px;
    }

    &__course-count {
        @include m-heading--bold-mixin();

        margin: 0px 0px 15px;


        color: $gradient-light-green;
    }

    &__lead {
        @include xs-heading-mixin();

        margin: 0px;

        color: $ux-grey-3;
    }

    &__nav-box {
        margin-top: 20px;
        padding: 30px 26px;
        text-align: center;

        border: 1px solid #707070;
        border-radius: 10px;

        .rich-text {
            p {
                @include small-font-mixin();

                margin: 10px 0px 0px;
            }

            &:first-child {
                p {
                    margin-top: 0px;
                }
            }
        }
    }

    &__heading {
        @include m-heading--bold-mixin();

        text-align: center;
        margin: 45px 0px 30px;

        color: $ux-grey-3;
    }

    &__courses {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__course {
        margin: 0px 4px;

        &-columns {
            display: flex;
            width: 100%;
        }

        &-column {
            width: 50%;

            &:first-child {
                border-right: 1px solid $gradient-dark-green;

                .comparison__course  {
                    margin-left: 0px;
                }
            }

            &:last-child {
                .comparison__course  {
                    margin-right: 0px;
                }
            }
        }

        &-selector {
            @include custom-selector();

            width: 100%;

            .select-selected {
                @include small-font-mixin();

                padding: 13px 11px;

                &:after {
                    top: 16px;
                    right: 13px;
                }

                &.select-arrow-active {
                    @include green-gradient-background-mixin();

                    &:after {
                        top: 8px;
                        border-color: transparent transparent $white transparent;
                    }
                }
            }

            .select-items {
                width: calc(100vw - 60px);
            }

            &#course2 {
                .select-items {
                    left: initial;
                }
            }
        }
    }

    &__subject-heading {
        @include xs-heading--bold-mixin();

        color: $ux-grey-3;
    }

    .course-detail {

        &__compare-btn {
            display: none;
        }

        .course-detail__lead {
            margin-top: 27px;

            .course-detail__institution-info {
                .course-detail__institution-name {
                    @include desktop-body-font--bold-mixin();

                    color: $link-blue;
                }
            }
        }

        .course-detail__body {
            padding: 0px;

            .course-detail__accordion-block {
                .course-detail__accordion {
                    // margin-left: -30px;
                    // margin-right: -30px;
                    width: 100vw;

                    .course-detail__accordion-heading {
                    }

                    .course-detail__accordion-body {
                       
                        .satisfaction_subject_name {
                            font-size: $s-heading-font-size;
                        }

                        .student-satisfaction__block {
                            padding: 0px;

                            .student-satisfaction__data-group {
                                margin-left: -30px;
                                margin-right: -30px;

                                .student-satisfaction__charts {
                                    padding-left: 30px;
                                    padding-right: 30px;

                                    .student-satisfaction__chart-wrapper {
                                        width: 100%;

                                        .student-satisfaction__chart {
                                            padding: 0px;
                                        }
                                    }
                                }
                            }
                        }

                        .after-course__block, .accreditation__block, .after-course__lead-block {
                            padding: 0;
                        }

                        .bar-chart {
                            .highcharts-root {
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }
}









@media only screen and (min-width: 770px) {
    .comparison {
        padding: 35px 30px 55px;
        &__course {
            margin: 0px 20px;

            &-count {
                @include l-heading--bold-mixin();

                color: $gradient-light-green;
            }

            &-selector {
                .select-items {
                    max-width: 1020px;
                }
            }
        }

        &__lead {
            @include s-heading-mixin();

            color: $ux-grey-3;
        }

        &__nav-box {
            .rich-text {
                p {
                    @include desktop-body-font-mixin();
                }
            }
        }

        &__heading {
            @include l-heading--bold-mixin();

            color: $ux-grey-3;
        }

        &__subject-heading {
            @include s-heading--bold-mixin();

            color: $ux-grey-3;
        }

        .course-detail  {
            .course-detail__lead {
                .course-detail__institution-info {
                    padding: 26px 30px 28px;

                    background-color: $divider-grey;

                    .course-detail__institution-name {
                        @include s-heading-mixin();


                        color: $link-blue;
                    }

                    .course-detail__institution-locations {
                        @include small-font-mixin();

                        margin: 8px 0 0;
                    }
                }

                .course-detail__course-overview {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    margin: 20px 0px 35px;

                    .course-detail__overview-item {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 114px;
                        padding: 20px 13px;
                        margin-bottom: 14px;

                        background-color: $white;
                        border: 1px solid $ux-grey-3;
                        border-radius: 10px;

                        .course-detail__overview-item-heading {
                            @include small-font--bold-mixin();
                            margin: 0px;
                            margin-bottom: 5px;
                        }

                        .course-detail__overview-item-value {
                            @include small-font--bold-mixin();
                            margin: 0px;

                            color: $helper-grey;
                        }
                    }
                }
            }

            .course-detail__body {
                width: 100%;

                .course-detail__accordion-block {
                    .course-detail__accordion {
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;

                        .course-detail__accordion-body {
                            .student-satisfaction__block {
                                padding: 0px;

                                .comparison__course {
                                    display: flex;
                                    flex-wrap: wrap;
                                    
                                }

                                .student-satisfaction__data-group {
                                    .student-satisfaction__charts {
                                        .student-satisfaction__chart-wrapper {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
.student-satisfaction__block .student-satisfaction__data-group .student-satisfaction__data-group-heading{
    padding-top:0!important;
}

@media only screen and (max-width: 770px) {
    .scrolling-wrapper {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    
      .student-satisfaction__data-group {
        flex: 0 0 85vw;
        // flex: auto;
      }
  
      .student-satisfaction__data-group:last-child{
        margin-right:10px
      }
      .student-satisfaction__data-group:first-child{
        margin-left:10px
      }
    }
    .scrolling-wrapper {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }