@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.employment-after-course__block {
    background-color: #f4f8f8;
    color: #000000;

    .employment-after-course__stats-heading {
        @include s-heading-mixin();
        color: #000000;
        font-family: 'Nunito Sans', sans-serif;
        color: #000000;
        font-weight:300;
        font-size: 1.7rem;
    }

    .employment-after-course__data-point {
        margin-bottom: 38px;

        .employment-after-course__figure, .employment-after-course__figure--sector {
            @include m-heading-mixin();

            margin-bottom: 0px;

            line-height: 44px;
            color: $gradient-light-green;
        }

        .employment-after-course__figure--sector {
            margin-top: 20px;
        }

        .employment-after-course__figure-salary-range {
            @include mobile-body-font--bold-mixin();

            margin-top: 5px;
        }

        .employment-after-course__chart-block {
            .employment-after-course__chart {
                margin-bottom: 37px;

                &:last-of-type {
                    margin-bottom: 13px;
                }

                .employment-after-course__chart-label {
                    @include small-font-mixin();

                    margin-top: 5px;
                }
            }
        }
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color: #666666;
    }
    a{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color:#308282;
        text-decoration: underline;
    }
}

.employment-after-course__lead {
    @include mobile-body-font-mixin();
    
    color: #000000;
    text-align: center;
    border: solid 3px #cee9e7;

    p {
        margin: 0px;
    }

    .employment-after-course__lead-title {
        @include s-heading-mixin();
        color: $gradient-light-green;
        line-height: 32px;
        margin-bottom: 27px;
    }

    .employment-after-course__lead-intro{
        font-family: 'Nunito Sans', sans-serif;
        color: #000000;
        letter-spacing: normal;
        font-weight:200;
        font-size:0.9rem;
    }

    h3 {
        @include mobile-body-font--bold-mixin();

        margin: 0;
        margin-top: 20px;
    }
}

.employment-after-course__lead-block {
    @extend .employment-after-course__block;

    padding-bottom: 0px;

    .employment-after-course__data-point {
        margin-bottom: 0;
    }
}

.employment-after-course__data-point-overview {
    @include desktop-body-font-mixin();

    text-align: center;
    border: solid 3px #cee9e7;

    p{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        color: #000000;
        text-decoration: none;

        a{
            text-decoration: underline;
            color: #266969;
        }
    }
    .explanation-text p{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color: #666666;
    }
    .explanation-text .rich-text p{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color: #666666;
    }

    .employment-after-course__data-point-overview-lead {
        @include l-heading-mixin();
        font-family: 'Nunito Sans', sans-serif;
        color: #000000;
        font-weight:300;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 770px) {
    .employment-after-course__block {
        .employment-after-course__stats-heading {
            @include m-heading-mixin();
            color: #000000;
            font-family: 'Nunito Sans', sans-serif;
            color: #000000;
            font-weight:300;
            font-size: 1.7rem;
            
        }

        .employment-after-course__data-point {
            margin-bottom: 38px;
            @include mobile-body-font-mixin();

            .employment-after-course__figure-salary-range {
                @include mobile-body-font--bold-mixin();
            }

            .employment-after-course__chart-block {
                .employment-after-course__chart {
                    margin-bottom: 37px;

                    &:last-of-type {
                        margin-bottom: 13px;
                    }

                    .employment-after-course__chart-label {
                        @include desktop-body-font-mixin();

                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .employment-after-course__lead {
        @include desktop-body-font-mixin();
        color: #000000;
        text-align: center;
        border: solid 3px #cee9e7;

        p {
            margin: 0px;
        }

        .employment-after-course__lead-title {
            @include m-heading-mixin();
            font-family: 'Nunito Sans', sans-serif;
            color: #000000;
            letter-spacing: normal;
            font-weight:200;
            font-size:1.5rem;
        }
        .employment-after-course__lead-intro{
            font-family: 'Nunito Sans', sans-serif;
            color: #000000;
            letter-spacing: normal;
            font-weight:200;
            font-size:0.9rem;
        }

        h3 {
            @include desktop-body-font--bold-mixin();

            margin: 0;
            margin-top: 20px;
        }
    }

    .employment-after-course__data-point-overview {

        
        p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.4rem;
            font-weight: 300;
            color: #000000;
            text-decoration: none;

            a{
                text-decoration: underline;
                color: #266969;
            }
        }
        .explanation-text p{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 0.9rem;
            font-weight: 300;
            color: #666666;
        }

        .employment-after-course__data-point-overview-lead {
            @include xl-heading-mixin();
            font-family: 'Nunito Sans', sans-serif;
            color: #000000;
            font-weight:300;
            font-size: 2.5rem;
        }
    }
}