@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.entry-information__overview{
    @include desktop-body-font-mixin();

    text-align: left;
    border: solid 3px $duck-egg-blue;
}

.entry-information__block {

    
    .entry-information__overview{
        p{
            text-align: center;
        }

        .entry-information__overview-lead {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.5rem;
            color:#000000;
            line-height:normal;
            font-weight: 300;
            text-align: center;
        }
        .entry-information__intro{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 0.9rem;
            columns: $brownish-grey;
            font-weight: 300;
            text-align: center;
            
            p{
                font-size: 0.9rem;
                color: $brownish-grey;
                font-weight: 300;
            }
        }
        a{
            color:#308282;
            text-decoration: underline;
            font-weight:300;
            font-size: 0.9rem;
        }
    
    }
    .entry-information__heading {
        @include s-heading-mixin();
        font-family: 'Nunito Sans', sans-serif;
        margin: 0;
        color: black;
        font-weight:300;
        font-size:1.2rem;
    }

    .entry-information__lead {
        @include small-font-mixin();

        margin-top: 5px;
        margin-bottom: 34px;
    }

    .entry-information__qualification-charts, .entry-information__tariff-charts, .entry-information__ucas-points {
        background-color: #F2F2F2;

        p{
            font-size: 0.9rem;
            color: $brownish-grey;
            font-weight: 300;
        }
        a{
            color:#308282;
            text-decoration: underline;
            font-weight:300;
        }
        
        .explanation-text a{
            color:#308282;
            text-decoration: underline;
            font-weight:300;
        }
        .entry-information__qualification_intro{
            color:$ux-grey-2;
            font-weight:300;
            font-size:0.9rem;
            font-family: 'Nunito Sans', sans-serif;

            a{
                color:#308282;
                text-decoration: underline;
                font-weight:300;
            }
        }

        .entry-information__chart {
            margin-bottom: 37px;

            &:last-of-type {
                margin-bottom: 13px;
            }

            .entry-information__chart-label {
                @include small-font-mixin();
                
                display: block;
                margin-top: 7px;
                color: $ux-grey-3;
                font-family: 'Nunito Sans', sans-serif;
                font-weight:200;
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .entry-information__overview{
        @include desktop-body-font-mixin();

        text-align: left;
        border: solid 3px $duck-egg-blue;

        p{
            text-align:left;
        }

        .entry-information__intro{
            font-family: 'Nunito Sans', sans-serif;
            font-size: 0.9rem;
            columns: $brownish-grey;
            font-weight: 300;
            text-align: left;
        }
    }
    
    
    .entry-information__block {

        .entry-information__heading {
            font-size:1rem;
            @include m-heading-mixin();

            margin: 0;

            color: $ux-grey-2;
        }

        .entry-information__lead {
            @include desktop-body-font-mixin();

            margin-top: 5px;
            margin-bottom: 40px;
        }

        .entry-information__qualification-charts, .entry-information__tariff-charts {
            font-family: 'Nunito Sans', sans-serif;
            .entry-information__chart {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 13px;
                }

                .entry-information__chart-label {
                    @include desktop-body-font-mixin();
                    color: $ux-grey-3;
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight:200;
                    font-size: 1rem;
                   
                }
            }
        }
    }
}
@media only screen and (min-width: 990px) {
    .entry-information__block {
        .entry-information__qualification-charts, .entry-information__tariff-charts {
            .entry-information__chart {
                .entry-information__chart-label {
                    text-align: right;
                }
            }
        }
    }
}