@import '../../CMS/static/scss/variables';


.highcharts-series {
    opacity: 1 !important;
}

.base_gradient {
    height: 0;
}

.bar-chart {
    .highcharts-background {
        fill: none;
    }

    .highcharts-title {
        fill: $ux-grey-3;
    }

    #gradient-bar stop[offset="0"] {
        // stop-color: $gradient-dark-green;
        stop-color: #368382!important;
    }
    #gradient-bar stop[offset="1"] {
        // stop-color: $gradient-light-green;
        stop-color: #4fa37e!important;
    }

    .highcharts-point {
        stroke: $gradient-dark-green;
        stroke-width: 2px;

        &.highcharts-color-1 {
           
            // fill: $gradient-light-green;
            fill: #368382;
            fill: url(#gradient-bar);
        }

        &.highcharts-color-0 {
            fill: $white;
        }
    }

    .highcharts-xaxis .highcharts-axis-line {
        stroke: $gradient-light-green;
    }

    .highcharts-grid-line {
        stroke: none;
    }
}

.doughnut-chart {
    .highcharts-plot-border {
//         fill: $white;
        fill: #f4f8f8;
        stroke: none;
    }

    .highcharts-series {

        &.highcharts-color-1 {
            stroke: $gradient-light-green;
            stroke-width: 20px;
        }

        &.highcharts-color-0 {
            stroke: $form-grey;
            stroke-width: 20px;
        }
    }

    .highcharts-axis-line{
        fill: none;
    }
}

@media only screen and (min-width: 770px) {
    .doughnut-chart {
        width: 50%;

        .highcharts-plot-border {
//             fill: $white;
            fill: #f4f8f8;
            stroke: none;
        }

        .highcharts-series {

            &.highcharts-color-1 {
                stroke: $gradient-light-green;
                stroke-width: 20px;
            }

            &.highcharts-color-0 {
                stroke: $form-grey;
                stroke-width: 20px;
            }
        }

        .highcharts-axis-line{
            fill: none;
        }
    }
}
