// @import "../../../CMS/static/scss/fonts";
// @import "../../../CMS/static/scss/variables";
.lg-chart {
    display: none;
}
.sm-chart {
    display: block;
}
@media only screen and (min-width: 770px) {
  .lg-chart {
    display: block;
  }
  .sm-chart {
    display: none;
  }
}
 


@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';


.satisfaction_subject_name {
    @include m-heading--bold-mixin();

    margin-top: 70px;
    margin-bottom: 0px;

    color: $ux-grey-3;

    &+ .student-satisfaction__overview {
        margin-top: 30px;
    }
}

.student-satisfaction__overview {
    @include desktop-body-font-mixin();

    padding: 1rem;
    margin-top: 30px;
    text-align: center;

    border: 1px solid $ux-grey-3;
    border-radius: 10px;
    .student-satisfaction__intro .rich-text p{
        @include s-heading-mixin();
        margin-top:2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 1rem;
    }

    .student-satisfaction__overview-lead {
        @include l-heading-mixin();

        color: $gradient-light-green;
        line-height: 59px;
    }

    p {
        margin: 10px;
        font-size:1.2rem;
        letter-spacing: normal;
        line-height: normal;
    }
}

.student-satisfaction__block {
    padding: 26px 15px 60px;

    .student-satisfaction__intro {
        @include small-font-mixin();

        text-align: center;

        color: $ux-grey-2;

        p {
            margin: 0;
        }

        .student-satisfaction__nss_logo {
            margin-top: 5px;
        }
    }

    .student-satisfaction__data-group {
        margin-top: 24px;
        margin-bottom: 23px;
        background-color: $divider-grey;
        padding: 10px;

        .student-satisfaction__data-group-heading {
            @include xs-heading-mixin();

            margin-top: 0px;
            margin-bottom: 10px;
            padding: 10px 0px;
            text-align: center;

            background-color: $divider-grey;
            color: #000000;


            p{
                font-family: 'Nunito Sans', sans-serif;
                font-size: 1rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: var(--brownish-grey);
                padding-bottom:0;
            }
        }

        .student-satisfaction__charts {
            display: flex;
            flex-wrap: wrap;


            .student-satisfaction__chart-wrapper {
                width: 100%;
                margin-bottom:15px;
                .student-satisfaction__chart {

                    .doughnut-chart .highcharts-plot-border {
                        fill: #F2F2F2!important;
                    }
                    
                    margin-bottom: 38px;

                    .student-satisfaction__chart-title {
                        @include small-font--bold-mixin();

                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;

                        color: $ux-grey-2;
                    }
                }
            }
            
        }
    }
}


@media only screen and (min-width: 770px){
    .student-satisfaction__overview {
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        text-align: center;

        .student-satisfaction__intro .rich-text p{
            @include s-heading-mixin();
            margin-top:2rem;
            margin-left: 5rem;
            margin-right: 5rem;
            font-size: 1rem;
        }

        .student-satisfaction__overview-lead {
            @include xl-heading-mixin();

            margin-bottom: 16px;

            color: $gradient-light-green;
            line-height: 59px;
        }

        p {
            @include s-heading-mixin();
            margin-left: 5rem;
            margin-right: 5rem;
            font-size: 2rem;
        }
       
    }

    .student-satisfaction__block {
        padding: 1rem;

        .student-satisfaction__intro {
            @include small-font-mixin();

            text-align: center;
            padding-left: 150px;
            padding-right: 150px;

            color: $ux-grey-2;

            p {
                @include small-font-mixin();

                margin: 0;
            }

            .student-satisfaction__nss_logo {
                margin-top: 5px;
            }
        }

        .student-satisfaction__data-group {
            margin-top: 30px;
            margin-bottom: 30px;
            padding:1rem;

            .student-satisfaction__data-group-heading {
                text-align: left;
                @include s-heading-mixin();

                margin-top: 0px;
                margin-bottom: 16px;
                padding-left:2rem;
                padding-right:2rem;
                padding-top:2rem;
                background-color: $divider-grey;
                color: #000000;
            }

            .student-satisfaction__charts {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .student-satisfaction__chart-wrapper {
                    width: 25%;
                
                    
                    .student-satisfaction__chart {
                        margin-bottom: 38px;
                        padding-right: 30px;
                        padding-left: 30px;

                        .student-satisfaction__chart-title {
                            @include small-font--bold-mixin();
                            font-family: 'Nunito Sans', sans-serif;
                            text-align: center;
                            margin-bottom: 0;
                            margin-top: 18px;
                            font-size:1rem;
                            font-weight:400;
                            color: $ux-grey-2;
                        }
                    }
                }
            }
        }
    }
    .highcharts-container text.highcharts-title{
        position: relative;
        top: 20px!important;
    }
    .highcharts-container tspan{
        width: 1rem;
        height: 1rem;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #358282;
        fill: #358282;
    }
    .student-satisfaction__chart .discover-uni-chart .doughnut .doughnut-chart{
        width: 139px;
        height: 142px;
        background-image: linear-gradient(to right, #4fa37e 0%, #42957f 36%, #368382 100%);

    }
}
