@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';


.satisfaction_subject_name {
    @include m-heading--bold-mixin();

    margin-top: 70px;
    margin-bottom: 0px;

    color: $ux-grey-3;

    &+ .student-satisfaction__overview {
        margin-top: 30px;
    }
}

.student-satisfaction__overview {
    @include desktop-body-font-mixin();

    padding: 7px 30px 32px 30px;
    margin-top: 30px;
    text-align: center;

    border: 1px solid $ux-grey-3;
//     border-radius: 10px;

    .student-satisfaction__overview-lead {
        @include l-heading-mixin();

        color: $gradient-light-green;
        line-height: 59px;
        float: left;
    }

    p {
        margin: 0px;
    }
}

.student-satisfaction__block {
    padding: 26px 15px 60px;

    .student-satisfaction__intro {
        @include small-font-mixin();

        text-align: center;

        color: $ux-grey-2;

        p {
            margin: 0;
        }

        .student-satisfaction__nss_logo {
            margin-top: 5px;
        }
    }

    .student-satisfaction__data-group {
        margin-top: 34px;
        margin-bottom: 23px;

        .student-satisfaction__data-group-heading {
            @include xs-heading-mixin();

            margin-top: 0px;
            margin-bottom: 26px;
            padding: 30px 0px;
            text-align: center;

            background-color: $divider-grey;
            color: $ux-grey-3;
            float: left;
        }

        .student-satisfaction__charts {
            display: flex;
            flex-wrap: wrap;

            .student-satisfaction__chart-wrapper {
                width: 50%;
  
                &:nth-child(odd) {
                    .student-satisfaction__chart  {
                        padding-right: 13px;
                    }
                }

                &:nth-child(even) {
                    .student-satisfaction__chart  {
                        padding-left: 13px;
                    }
                }
          
                .student-satisfaction__chart {
                    margin-bottom: 38px;

                    .student-satisfaction__chart-title {
                        @include small-font--bold-mixin();

                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;

                        color: $ux-grey-2;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .student-satisfaction__overview {
        padding: 68px 150px 72px;
        margin-top: 70px;
        text-align: center;

        .student-satisfaction__overview-lead {
            @include xl-heading-mixin();

            margin-bottom: 16px;

            color: $gradient-light-green;
            line-height: 59px;
        }

        p {
            @include s-heading-mixin();

            margin: 0px;
        }
    }

    .student-satisfaction__block {
        padding: 50px 15px 60px;

        .student-satisfaction__intro {
            @include small-font-mixin();

            text-align: center;
            padding-left: 150px;
            padding-right: 150px;

            color: $ux-grey-2;

            p {
                @include small-font-mixin();

                margin: 0;
            }

            .student-satisfaction__nss_logo {
                margin-top: 5px;
            }
        }

        .student-satisfaction__data-group {
            margin-top: 34px;
            margin-bottom: 59px;
            background-color: #f4f8f8;

            .student-satisfaction__data-group-heading {
                @include s-heading-mixin();

                margin-top: 0px;
                margin-bottom: 36px;

//                 background-color: $divider-grey;
                background-color: #f4f8f8;
                color: $ux-grey-3;
                width: 240px;
            }

            .student-satisfaction__charts {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .student-satisfaction__chart-wrapper {
                    width: 25%;
                    
                    &:nth-child(odd) {
                        .student-satisfaction__chart  {
                            padding-right: 10px;
                        }
                    }

                    &:nth-child(even) {
                        .student-satisfaction__chart  {
                            padding-left: 10px;
                        }
                    }
                    
                    .student-satisfaction__chart {
                        margin-bottom: 38px;
                        padding-right: 10px;
                        padding-left: 10px;

                        .student-satisfaction__chart-title {
                            @include small-font--bold-mixin();

                            text-align: center;
                            margin-bottom: 0;
                            margin-top: 18px;

                            color: $ux-grey-2;
                        }
                    }
                }
            }
        }
    }
}
