@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.search-landing-page {
    padding: 53px 45px 60px;
    text-align: center;

    background-image: url('/static/images/user-nav-background.png');
    background-position: right bottom;

    &__heading {
        @include m-heading-mixin();

        margin-top: 0px;
        margin-bottom: 40px;

        line-height: 45px;
        color: $ux-grey-3;
    }

    &__nav {
        &-cards {
            display: flex;
            flex-wrap: wrap;
        }

        &-card {
            @include default-box-shadowing();

            margin-bottom: 30px;
            padding: 35px 30px 35px 38px;

            background: $white;
            border-radius: 34.8653px;
            text-decoration: none;

            &:last-child {
                margin-bottom: 0px;
            }

            &-icon {
                height: 98px;
                margin-top: 44px;
                margin-bottom: 49px;
            }

            &-label {
                @include mobile-body-font-mixin();

                margin: 0px;

                color: $ux-grey-3;
                line-height: 22px;
            }

            &-button {
                @include green-gradient-mixin();
                @include small-font--bold-mixin();

                margin-top: 10px;
                padding: 8px 60px;

                border-radius: 61.5609px;
                line-height: 19px;
                color: $white;
                cursor: pointer;
            }
        }
    }

    &__search {
        margin-top: 25px;

        &-fields {
            margin-bottom: 28px;
            text-align: left;
        }

        &-label {
            @include small-font-mixin();

            margin-bottom: 7px;
            display: block;

            color: $helper-grey;
        }

        &-input {
            margin-bottom: 20px;

            input {
                @include desktop-body-font-mixin();

                width: 100%;
                box-sizing: border-box;

                border: 2px solid $ux-grey-3;
                border-radius: 5px;
                background: $background-grey;
                line-height: 34px;

            }
        }
    }
}