@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/buttons';

.home {
    padding: 69px 0px 62px;
    background-image: url('/static/images/home-background.png');
    background-size: cover;
    background-position: center bottom;

          
    .coronavirus {
        margin-left: 62%;
        position: relative;
        margin-bottom: 20px;
        margin-top:20px; 
    }

    .discover-uni-container {
        padding-right: 25px;
        padding-left: 25px;
    }

    .header {
        @include l-heading-mixin();
        margin-bottom: 30px;

        color: $ux-grey-3;
        line-height:52px;
    }

    .intro-text {
        p {
            @include desktop-body-font-mixin();
            margin-top: 0px;
            margin-bottom: 14px;

            line-height: 26px;
        }

        ul {
            padding-left: 25px;

            li {
                @include mobile-body-font-mixin();

                list-style-image: url('/static/images/bullet-check.svg');
                padding-left: 5px;

                line-height: 22px;
            }
        }
    }

    .link {
        margin-top: 140px;

        a {
            @include green-cta-mixin();

            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 770px) {
    .home {
        padding: 15px 0px 243px;
        background-position: initial;

        .discover-uni-container {
            padding: 0px;
        }

        .header {
            @include xl-heading-mixin();
            margin: 0px;
            margin-bottom: 34px;

            color: $ux-grey-3;
            line-height:95px;
        }

        .intro-text {
            p {
                @include s-heading-mixin();

                line-height: 37px;
            }

            ul {
                li {
                    @include xs-heading-mixin();

                    line-height: 29px;
                }
            }
        }

        .link {
            margin-top: 40px;
        }
    }
}
