@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import '../../../CMS/static/scss/buttons';

.row{
    margin-left: 0;
    margin-right: 0;
}
.home-page__header{
    font-family: "Nunito Sans", sans-serif;
    background-color: #1b2537;
    padding:1rem;
    padding-bottom:0;
    color:$white;

    .home-page__header-text{
        color:white;
        font-weight:bold;
        font-size:1.5rem;
    }
    .home-page__search-box-header{
        height:4rem;
        h4{
            padding:2rem;
            color:$black;
            font-size:1.2rem;
            font-weight:bold;
        }
    }
    
}

.home-page__intro-panel{
    color:$black;
    font-weight:bold;
    font-size:1.2rem;
    margin-left:1rem;
    margin-right:1rem;
    padding:1rem;

    .home-page__search-button{
        background-color: #f1b434;
        color:black;
        font-family: "Nunito Sans", sans-serif;
        font-size:1rem;
        border:none;
        font-weight:bold;
    }
}

.home-page__body{
    font-family: "Nunito Sans", sans-serif;
    background-color: $white;
    padding:1rem;
    padding-top:0;
    color:$black;

    
    
}