@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.institution-details {
    .institution-details__lead {
        text-align: center;
        margin-top: 28px;

        border-bottom: 3px solid $ux-grey-1;

        .institution-details__icon {
            width: 50px;
            height: auto;
        }

        .institution-details__name {
            @include desktop-body-font--bold-mixin();

            margin-bottom: 27px;
        }

        .institution-details__overview {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            margin: 0px 0px 40px;

            .institution-details__overview-item {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 135px;
                height: 74px;
                padding: 13px 15px;
                margin-bottom: 14px;

                background-color: $ux-grey-1;

                .institution-details__overview-item-heading {
                    @include mobile-body-font-mixin();
                    margin: 0px;
                    margin-bottom: 5px;
                }

                .institution-details__overview-item-value {
                    @include small-font-mixin();
                    margin: 0px;

                    color: $darker-grey;
                }
            }
        }
    }

    .institution-details__qa, .institution-details__tef {
        padding: 60px 40px 70px;


        .institution-details__qa-heading, .institution-details__tef-heading {
            @include s-heading-mixin();

            margin-top: 0px;
            margin-bottom: 10px;

            color: $darker-grey;
        }

        .institution-details__qa-body, .institution-details__tef-body {
            p {
                @include desktop-body-font-mixin();

                margin-top: 0px;
            }
        }
    }

    .institution-details__qa {
        padding-bottom: 0px;
    }

    .institution-details__tef {
        margin-top: 70px;
        border-top: 3px solid $ux-grey-1;
    }

    .institution-details__apr {
        padding: 20px 40px 0px;

        .institution-details__apr-heading {
            @include xs-heading--bold-mixin();
        }

        .institution-details__apr-body {
            p, li {
                @include desktop-body-font-mixin();

                margin-top: 0px;
            }
        }
    }
}