{% load discover_uni_tags %}

<article class="cookie-banner" hidden="hidden" style="display: none">
    <section class="__message">
        {#            {% get_translation key='cookie_message' language=page.get_language %}#}
        We use necessary cookies to make our site work. We’d like to use additional cookies to show us how the site
        is used. We DO NOT use this for marketing purposes. Please let us know if you are happy with this?
    </section>

    <section class="__wrapper">
        {% if page.is_english %}
            <button type="button" href="/cookies/" class="__find-out-more">
                {#                {% get_translation key='cookie_more' language=page.get_language %}#}
                Settings
            </button>
        {% else %}
            <button type="button" href="/cy/cwcis/" class="__find-out-more">
                {#                {% get_translation key='cookie_more' language=page.get_language %}#}
                Settings
            </button>
        {% endif %}

        <button type="submit" class="__ok">
            {#            {% get_translation key='cookie_ok' language=page.get_language %}#}
            I’m happy with all cookies
        </button>
    </section>
    <section class="__footer">
        {% if page.is_english %}
            <a href="">Discover Uni Cookie and Privacy Policy</a>
        {% else %}
            <a href="">Discover Uni Cookie and Privacy Policy</a>
        {% endif %}
    </section>
</article>

<article class="cookie-settings"  >
    <section class="__message">
        <p>
            <span>Cookie settings</span>
            <br/>
            Do you want to accept analytics cookies to help us improve user experience?
        </p>
    </section>

    <section class="__wrapper">
        <form action="http://help">
            <label>
                <input type="radio" id="yes_accept" name="extra_cookies" value="YES" checked="checked">
                Yes
            </label>
            <label>
                <input type="radio" id="no_decline" name="extra_cookies" value="NO">
                No
            </label>
            <p>We do not use cookies for marketing purposes.</p>
            <button type="submit">SAVE</button>
        </form>
    </section>
    <section class="__footer">
        {% if page.is_english %}
            <a href="">Discover Uni Cookie and Privacy Policy</a>
        {% else %}
            <a href="">Discover Uni Cookie and Privacy Policy</a>
        {% endif %}
    </section>
</article>