{% extends "base.html" %}
{% load static sass_tags wagtailcore_tags discover_uni_tags %}
{% block extra_css %}
        <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/institution_details.scss' %}?{% code_version %}">
{% endblock %}
{% block content %}
    <style>
        :root {
            --url-background-image: url("{% static 'images/institution_background.svg' %}")
        }
    </style>
    <div class="institution-container">
        <div class="outer-block">
            <div class="title">
                <h1>{{ institution.pub_ukprn_name }}</h1>
            </div>
            <div class="inner-block">
                <div>
                    <h2>{% get_translation key="about_this_university" language=page.get_language %}</h2>
                    <p>{% get_translation key="address" language=page.get_language %}: {{ institution.contact_details.address }}</p>
                    <p>{% get_translation key="telephone" language=page.get_language %}: {{ institution.contact_details.phone_number }}</p>
                    <a href="{{ institution.website }}" target="_blank">{% get_translation key="website" language=page.get_language %}: {{ institution.ukprn_name }}</a>
                    <br/>
                    {% if institution.pub_ukprn_country_code == "XF" %}
                        <a style="display: inline-block; border: unset; margin: 0" target="_blank"
                           href="https://www.officeforstudents.org.uk/advice-and-guidance/the-register/the-ofs-register/#/provider/{{ institution.pub_ukprn }}">OfS
                            Registration information</a>
                    {% endif %}
                </div>
                <div>
                    <p>{% get_translation key="student_union_links" language=page.get_language %}</p>
                    {% for union in institution.student_unions %}
                        <a href="{{ union.display_url }}" target="_blank">{{ union.display_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom-block">
                <p>{% get_translation key="explore_courses" language=page.get_language %}</p>
                <div>
                    <p>{{ totals_string  }}</p>
                    <a class="view-courses" href="{% url 'course_finder_results' %}?institution_query={{ institution.pub_ukprn_name }}">{% get_translation key="view_courses" language=page.get_language %}</a>
                </div>
            </div>
            {% if institution.pub_ukprn_country_code == "XF" and tef.status == "tef"%}
                {% include 'institution/partials/awards_breakdown.html' %}
            {% else %}
                {% include 'institution/partials/awards_breakdown_non_england.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
