{% extends "base.html" %}
{% include 'courses/partials/sticky_header.html' %}
{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}


{% block extra_css %}
    <link href="{% sass_src 'scss/course_comparison.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/home.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/course_detail.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/accordions.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static 'js/label_explanation_popups.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/overview_blocks.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/sub_accordion.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

{% endblock %}

{% block content %}
    <style>
        @media only screen and (max-width: 766px) {
            .cards-hide {
                max-height: 0px !important;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                -webkit-transition: max-height 0.3s ease-out;
                -moz-transition: max-height 0.3s ease-out;
                animation: fadeOut ease 0.5s;
                -webkit-animation: fadeOut ease 0.5s;
                -moz-animation: fadeOut ease 0.5s;
                -o-animation: fadeOut ease 0.5s;
                -ms-animation: fadeOut ease 0.5s;
            }

            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0.5;
                }
            }
        }

    </style>
    <div class="comparison d-sm-block mb-5" id="comparison-body"></div>

    <script type="text/javascript" src="{% static 'js/course_comparison.js' %}?{% code_version %}"></script>
{% endblock %}
