{% extends "base.html" %}
{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/manage_bookmarks.scss' %}?{% code_version %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/manage-bookmarks.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/button-visibility.js' %}?{% code_version %}"></script>
{% endblock %}

{% block content %}
<script>
    let checked_bookmark = 0
    var id_list = []

    if(localStorage.getItem('compareCourses')){
        var compare_list = JSON.parse(localStorage.getItem('compareCourses'))  
    }
    else{
        var compare_list = []
    }

    function compareButtonFormat(checked, id){
        var compare_button = document.getElementById('compare-courses-button')
        var compare_text = document.getElementById('bookmark-text')
        var courses_selected = document.getElementById('courses-selected')

        if(checked){
            checked_bookmark += 1
        }
        else{
            checked_bookmark -= 1
        };

        if(checked_bookmark >= 1){
            courses_selected.innerHTML = "<strong>" + checked_bookmark + "</strong> course(s) selected"
        }
        else{
            courses_selected.innerHTML = ""
        }

        if(2 <= checked_bookmark && checked_bookmark <= 7){
            compare_button.classList.add("enabled")
            compare_button.disabled = false
            compare_text.innerHTML = "Select up to 7 courses to compare"
            courses_selected.classList.remove("red")
        }
        else if(7 < checked_bookmark){
            courses_selected.classList.add("red")
            compare_button.classList.remove("enabled")
            compare_button.disabled = true
        }
        else{
            compare_button.disabled = true
            compare_button.classList.remove("enabled")
            compare_text.innerHTML = "Select at least 2 courses to compare"    
        }


        if(checked){
            compare_list.push({"id": id, "rating": 0})
            localStorage.setItem('compareCourses', JSON.stringify(compare_list));
        }
        else{
            for(var i = 0; i < compare_list.length; i++) {
                if(compare_list[i].id === id){
                    index = compare_list.indexOf(compare_list[i])
                    compare_list.splice(index, 1)
                }
            }
        }
    }

    function buttonFormat(){
        console.log(checked_bookmark)
        var compare_button = document.getElementById('compare-courses-button')
        var compare_text = document.getElementById('bookmark-text')
        var courses_selected = document.getElementById('courses-selected')

        if(checked_bookmark >= 1){
            courses_selected.innerHTML = "<strong>" + checked_bookmark + "</strong> course(s) selected"
        }
        else{
            courses_selected.innerHTML = ""
        }
        if(2 <= checked_bookmark && checked_bookmark <= 7){
            compare_button.classList.add("enabled")
            compare_button.disabled = false
            compare_text.innerHTML = "Select up to 7 courses to compare"
            courses_selected.classList.remove("red")
        }
        else if(7 < checked_bookmark){
            courses_selected.classList.add("red")
            compare_button.classList.remove("enabled")
            compare_button.disabled = true
        }
        else{
            compare_button.disabled = true
            compare_button.classList.remove("enabled")
            compare_text.innerHTML = "Select at least 2 courses to compare"    
        }
    }

    function checkSelectedOnLoad(id){
        for(var i = 0; i < compare_list.length; i++) {
            
                if(id.includes(compare_list[i].id)){
                    var index = id.indexOf(compare_list[i].id)
                    document.getElementById(id[index]).checked = true
                    checked_bookmark += 1
                }
            }
    }

    function savedInstitutions(){
        var saved_institutions = JSON.parse(localStorage.getItem("comparisonCourses"));
        for(i in saved_institutions){
            containing_div = document.getElementById("institution-bookmark");
            let courseId = saved_institutions[i].courseId
            id_list.push(courseId)
            let query = saved_institutions[i].uniId + ',' + courseId + ',' + saved_institutions[i].mode.en
            containing_div.innerHTML += `
            <div style="display:flex; align-items:center;">
                <input id="${courseId}" class="bookmark-check" style="margin-right: 95px; margin-bottom:auto; margin-top: 40px" name="courses"  type="checkbox" {% if courseId in compare_list %}checked{% endif %} onchange="compareButtonFormat(checked, id)" value="${query}">
                <div id='course-${i}' class='bookmark__course'>
                    <a href='' class='bookmark__course-name'></a>
                    <p class="bookmark__course-info length">
                        <span class="unknown">{% get_translation key='course_length_not_available' language=page.get_language %}</span>
                        <span class="known"><span class="length"></span>-{% get_translation key='year_course' language=page.get_language %}</span>
                    </p>
                    <p class="bookmark__course-info mode">
                        {% get_translation key='study_mode' language=page.get_language %}: <span class="mode"></span>
                    </p>

                    <p class="bookmark__course-info distance">
                        {% get_translation key='distance_learning' language=page.get_language %}: <span class="distance"></span>
                    </p>

                    <p class="bookmark__course-info sandwich">
                        {% get_translation key='work_placement_year' language=page.get_language %}: <span class="sandwich"></span>
                    </p>

                    <p class="bookmark__course-info abroad">
                        {% get_translation key='year_abroad' language=page.get_language %}: <span class="abroad"></span>
                    </p>

                    <p class="bookmark__course-info location">
                        {% get_translation key='location' language=page.get_language %}: <span class="location"></span>
                    </p>

                    <button class="bookmark__course-remove">
                        <img class="bookmark__course-remove-icon" src="{% static 'images/bin.svg' %}" alt=""> {% get_translation key='remove_course' language=page.get_language %}
                    </button>
                </div>
            </div>`
        }
        checkSelectedOnLoad(id_list)
    }
</script>

    <div class="bookmark discover-uni-container">
        <div class="bookmark-header">Saved course(s)</div>

        <div>
            <button id="compare-courses-button" class="bookmark-compare-button" onclick="document.getElementById('compareForm').submit();" disabled>
                Compare courses
            </button>
            <h4 id="bookmark-text" class="bookmark-text">Select at least 2 courses to compare</h4>
            <h4 id="courses-selected" style="margin-left: 20px" class="bookmark-text"></h4>
        </div>

        <div class="bookmark__none-selected">
            {{page.none_selected_text | richtext}}

            <div class="bookmark__none-selected-example">
                <button class="course-detail__compare-btn">
                    <img class="add" src="{% static 'images/grey-bookmark.svg' %}" alt="">
                     {% get_translation key='bookmark_course' language=page.get_language %}
                </button>

                <img class="down-arrow" src="{% static 'images/down-arrow.svg' %}" alt="">

                <button class="course-detail__compare-btn selected">
                    <img class="remove" src="{% static 'images/white-bookmark.svg' %}" alt="">
                     {% get_translation key='bookmark_course' language=page.get_language %}
                </button>
            </div>
        </div>

        <div class="bookmark__one-selected">
            {{page.one_selected_text | richtext}}
        </div>

        <form id="compareForm" method="GET" action="/course-comparison/">
        <div class="bookmark__courses" id="institution-bookmark"></div>
        </form>
        <script>
            savedInstitutions();
            buttonFormat();
        </script>
    </div>
{% endblock %}
