{% extends "base.html" %}
{% load staticfiles %}
{% load sass_tags %}

{% block extra_css %}
    <link href="{% sass_src 'scss/course_detail.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}
    {% include 'courses/course_detail_content.html' %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/course_detail_accordions.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static 'js/doughnut_chart.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/bar_chart.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/label_explanation_popups.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/overview_blocks.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/compare-selector.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/back-button.js' %}?{% code_version %}"></script>
{% endblock %}
