{% load staticfiles %}

<div class="course-detail">
    <div class="course-detail__lead">
        <img class="course-detail__icon" src="{% static 'images/certificate.svg' %}" alt="">

        <h1 class="course-detail__course-name">
            {{course.english_title}}
        </h1>

        <button class="course-detail__compare-btn">
            + Compare course
        </button>

        <div class="course-detail__institution-info">
            <a class="course-detail__institution-name" href="#">{{course.institution.pub_ukprn_name}}</a>

            <p class="course-detail__institution-locations">
                {{ course.number_of_locations }} Locations: {{ course.locations_list }}
            </p>
        </div>

        <div class="course-detail__course-overview">
            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Length</p>
                <p class="course-detail__overview-item-value">{{ course.length.code }} year course</p>
            </div>

            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Study mode</p>
                <p class="course-detail__overview-item-value">{{ course.mode.label }}</p>
            </div>

            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Distance learning</p>
                <p class="course-detail__overview-item-value">{{ course.distance_learning.label }}</p>
            </div>

            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Placement year</p>
                <p class="course-detail__overview-item-value">{{ course.sandwich_year.label }}</p>
            </div>

            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Year abroad</p>
                <p class="course-detail__overview-item-value">{{ course.year_abroad.label }}</p>
            </div>

            <div class="course-detail__overview-item">
                <p class="course-detail__overview-item-heading">Foundation year</p>
                <p class="course-detail__overview-item-value">{{ course.foundation_year.label }}</p>
            </div>
        </div>
    </div>

    <div class="course-detail__accordion-block">
        {% for accordion in page.accordions %}
            <div id="{{ accordion.value.data_set }}" class="course-detail__accordion">
                <h2 class="course-detail__accordion-heading">
                    {{ accordion.value.heading }}

                    <span class="course-detail__accordion-heading-chevron">
                        <img class="course-detail__icon" src="{% static 'images/down-chevron.svg' %}" alt="">
                    </span>
                </h2>

                <div class="course-detail__accordion-body">
                    {% include 'courses/partials/'|add:accordion.value.data_set|add:'_body.html' with course_details=course %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="course-detail__uni-site-links">
        <h2 class="course-detail__uni-site-links-heading">
            {{ page.uni_site_links_header }}
        </h2>

        <ul class="course-detail__uni-site-links-list">
            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 1</a>
            </li>

            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 2</a>
            </li>

            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 3</a>
            </li>

            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 4</a>
            </li>

            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 5</a>
            </li>

            <li class="course-detail__uni-site-links-list-item">
                <a class="course-detail__uni-site-link" href="/dummy-link">Uni link 6</a>
            </li>
        </ul>
    </div>

    <div class="course-detail__further-info-block">
        <a href="/dummy-link" class="course-detail__other-courses-link">
            <img class="course-detail__other-courses-link-icon" src="{% static 'images/location_paddle.svg' %}" alt="">
            View similar courses at <strong>this</strong> uni
        </a>

        <a href="/dummy-link" class="course-detail__other-courses-link">
            <img class="course-detail__other-courses-link-icon" src="{% static 'images/curved_arrow_right.svg' %}" alt="">
            View similar courses at <strong>other</strong> unis
        </a>
    </div>
</div>
