{% extends "base.html" %}
{% include 'courses/partials/sticky_header.html' %}
{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}


{% block extra_css %}
    <link href="{% sass_src 'scss/course_comparison.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/home.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/course_detail.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/accordions.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static 'js/label_explanation_popups.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/overview_blocks.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/sub_accordion.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="comparison d-sm-block mb-5" id="comparison-body"></div>

    <script>

        $(window).on('load', function () {
            const event = new Event('build-accordions');
            function generateURLParams() {
                let local_storage = localStorage.getItem("CoursesForComparison");
                let array = [];
                if (local_storage) {
                    array = JSON.parse(local_storage);
                }
                list = []
                array.forEach(function (value, index) {
                    list.push(value.id);
                })
                const urls_params = list.join('&courses=');
                return urls_params;
            }

            function numberOfStored() {
                let saved = [];
                if (localStorage.getItem("bookmarkedCourses"))
                    saved = JSON.parse(localStorage.getItem("bookmarkedCourses"));
                return saved.length
            }

            function showComparison(callback) {
                console.log("this is it here I stand");
                let request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        callback(this.responseText);
                    } else {
                        console.log("logging me");
                    }
                };

                if (document.documentElement.lang === "cy") {
                    request.open("GET", "/cy/ajax/course-comparison/?courses=" + generateURLParams() + '&hasStorage=' + numberOfStored(), true);
                } else {
                    request.open("GET", "/ajax/course-comparison/?courses=" + generateURLParams() + '&hasStorage=' + numberOfStored(), true);
                }
                request.send();
            }

            showComparison(function (response) {
                console.log("help ");
                document.getElementById("comparison-body").innerHTML = response;
                moveIndexToDisplayBy(0);
                document.dispatchEvent(event);
                setEventListeners();
                console.log("i;m happening")
            });
        });

    </script>

    <script type="text/javascript" src="{% static 'js/responsive_comparison.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/ratings.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/subject_selector.js' %}?{% code_version %}"></script>
{% endblock %}
