{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load discover_uni_tags %}
{% block title %}
    {% if page.seo_title %}{{ course.seo_title | safe }} |
        {% get_translation key='discover_uni' language=page.get_language %}{% else %}{{ course.seo_title | safe }} |
        {% get_translation key='discover_uni' language=page.get_language %}{% endif %}
{% endblock %}

{% block search_description %}
    <meta name="description"
          content="Discover what students studying {{ course.display_title }} at {{ course.institution.pub_ukprn_name }} went onto do and earn after the course."/>
{% endblock %}

{% block extra_css %}
    <link href="{% sass_src 'scss/course_detail.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
    <link href="{% sass_src 'scss/partials/popup.scss' %}?{% code_version %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/course_detail_accordions.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static 'js/doughnut_chart.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/bar_chart.js' %}?{% code_version %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/ucas_points_chart.js' %}?{% code_version %}"></script> -->
    <script type="text/javascript" src="{% static 'js/label_explanation_popups.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/overview_blocks.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/compare-selector.js' %}?{% code_version %}"></script>
    <script type="text/javascript" src="{% static 'js/back-button.js' %}?{% code_version %}"></script>
{#    <script type="text/javascript" src="{% get_static_prefix %}js/popup.js?{% code_version %}"></script>#}
{% endblock %}

{% block content %}
{#    {% include 'partials/pop-up-course-details.html' %}#}
    <div class="course_detail__header-bar px-3 pb-0 mb-0">
        <div class="course_detail__header-bar-div col-12 p-0 text-right mx-0">
            <img class="home-page__header-bg-icon" src="{% static 'images/bg-arrows.svg' %}" alt="Background Graphics"/>
        </div>
    </div>
    {% include 'courses/course_detail_content.html' %}
{% endblock %}

