{% include 'courses/partials/sticky_header.html' %}
{% load staticfiles discover_uni_tags %}

<div class="course-detail comparison-course-area mx-lg-4 mx-sm-2 px-2"
     data-coursename="{{ course.display_title }}" data-courseid="{{ course.kis_course_id }}"
     data-uniname="{{ course.institution.pub_ukprn_name }}" data-uniid="{{ course.institution.pub_ukprn }}"
     data-length="{{ course.length.label | slice:1}}" data-locations="{{ course.locations_list }}"
     data-mode-en="{% get_translation key=course.mode.label language='en' %}"
     data-mode-cy="{% get_translation key=course.mode.label language='cy' %}"
     data-distance-en="{% map_distance_learning_values course.distance_learning.code 'en' %}"
     data-distance-cy="{% map_distance_learning_values course.distance_learning.code 'cy' %}"
     data-sandwich-en="{% get_translation key=course.sandwich_year.label language='en' %}"
     data-sandwich-cy="{% get_translation key=course.sandwich_year.label language='cy' %}"
     data-abroad-en="{% get_translation key=course.year_abroad.label language='en' %}"
     data-abroad-cy="{% get_translation key=course.year_abroad.label language='cy' %}">

    {% include 'courses/partials/base_gradient.html' %}
    {% include 'courses/partials/course_overview.html' %}

    <div id="course-detail__body" class="course-detail__body">
        <div class="course-detail__accordion-block">
            {% for accordion in page.accordions %}
                {% should_show_accordion course accordion.value.data_set as show_accordion %}
                {% if show_accordion %}
                    <div id="{{ accordion.value.data_set }}" class="course-detail__accordion">
                        <div class="">
                            <button class="course-detail__accordion-heading" onclick="toggle_icon('accordion_icon_{{ forloop.counter }}')">
                                <h2 id="course-detail__accordion-heading-{{ forloop.counter }}"
                                    aria-controls="course-detail__accordion-body-{{ forloop.counter }}"
                                    aria-label="Show {{ accordion.value.heading }} content"
                                    aria-expanded="false">
                                    <i id="accordion_icon_{{ forloop.counter }}" class="fas fa-plus pr-3 text-white"></i>
                                    {{ accordion.value.heading }}
                                </h2>
                            </button>
                        </div>

                        <div id="course-detail__accordion-body-{{ forloop.counter }}"
                             class="course-detail__accordion-body"
                             aria-labelledby="course-detail__accordion-heading-{{ forloop.counter }}">
                            {% include 'courses/partials/'|add:accordion.value.data_set|add:'_body.html' with course_details=course block=accordion %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    <div hidden class="">
        <div class="course-detail__further-info-block">
            <a href="/dummy-link" class="course-detail__other-courses-link">
                <img class="course-detail__other-courses-link-icon" src="{% static 'images/location_paddle.svg' %}"
                     alt="">
                <span>{% autoescape off %}{% get_translation key='similar_courses_here' language=page.get_language %}{% endautoescape %}</span>
            </a>

            <a href="/dummy-link" class="course-detail__other-courses-link">
                <img class="course-detail__other-courses-link-icon" src="{% static 'images/curved_arrow_right.svg' %}"
                     alt="">
                <span>{% autoescape off %}{% get_translation key='similar_courses_elsewhere' language=page.get_language %}{% endautoescape %}</span>
            </a>
        </div>
    </div>

    {% include 'courses/partials/compare-popup-bar.html' %}
</div>
<script>
function toggle_icon(icon_id){
    var icon_name = "#" + icon_id;
    $(icon_name).toggleClass("fa-plus");
    $(icon_name).toggleClass("fa-minus");
}

    $( document ).ready(function() {
        $('#sticky_nav_course_detail').hide();
        $('body').scrollspy({ 
            target: '#sticky_nav_course_detail',
            offset: 90
        });

        $('#myScrollspy').on('activate.bs.scrollspy', function () {
            // do something…
        });
        var $items = $('.nav-item');

        $items.on('click', function() {
            var selectedIndex = $items.index(this);
            $items.eq(selectedIndex).find('a').trigger('click');
        });

        $('.scrollto').click(function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({ scrollTop: $($anchor.attr('href')).offset().top - 80}, 1500);
            event.preventDefault();
        });

        $('.dropdown-menu a').click(function(){
            $('#selected').text($(this).text());
        });

    });


    $(window).scroll(function() { // when the page is scrolled run this
        if($(this).scrollTop() >= ($('.course-detail__lead').outerHeight() + $('.discover-uni-nav').outerHeight() + 10 - $('#sticky_nav_course_detail').outerHeight())) {
            $('#sticky_nav_course_detail').fadeIn("fast"); // fade in
        } else { // else
            $('#sticky_nav_course_detail').fadeOut("fast"); // fade out
        }
    });

    

</script>
