{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}
{% with dataset=accordion.dataset sub_accordions=accordion.sub_accordions change_point=accordion.change_point %}
    <div class="mb-3">
        {% if accordion.guidance_information %}
            <div class="guidance_box">
                <p class="title">{% get_translation key='guidance_title' language=page.get_language %}</p>
                {% autoescape off %}
                    <div>
                        <ul class="mt-3">
                            {% for entry in accordion.guidance_information %}
                                <li class="item">{{entry}}</li>
                            {% endfor %}
                        </ul>
                    <a class="link blue-text" href="{{accordion.source.0}}">{{accordion.source.1}}</a>
                    </div>
                {% endautoescape %}
            </div>
        {% endif %}
        {% if accordion.subjects %}
            {% include 'courses/partials/subject_selector.html' with subjects=accordion.subjects %}
        {% endif %}
        {% for item, value in dataset.items %}
            {% if forloop.counter < change_point %}
                <div class="comparison_row-yellow_background">
                    {% if forloop.counter == 1 %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values item_font="item_font" header_font="header_font" mt="mt-3" %}
                    {% else %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values mt="mt-2" %}
                    {% endif %}
                </div>
            {% else %}
                <div class="comparison_row-grey_background">
                    {% include 'courses/partials/comparison_courses_row.html' with title=value.title subtitle=value.subtitle values=value.values item_font="item_font" header_font="header_font" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% for sub_accordion in sub_accordions %}
        <div onclick="console.log(this.children)" class="accordion-block">
            <div id="{{sub_accordion.title}}-header" class="comparison_row-header"
                 onclick="toggleAccordion('{{sub_accordion.title}}');">
                {{sub_accordion.title}}
                <div class="ml-auto">
                    <div id="{{sub_accordion.title}}-expand" class="hidden">
                        <img class="invert-image" src="{% static 'images/plus_icon_white.svg' %}" alt="expand">
                    </div>

                    <div id="{{sub_accordion.title}}-collapse" class="">
                        <img class="invert-image" src="{% static 'images/minus_icon.svg' %}" alt="collapse">
                    </div>
                </div>
            </div>
        {% for item, value in sub_accordion.dataset.items %}
                {% if accordion.title == "Earnings after the course" %}
                    <div id="{{sub_accordion.title}}{{forloop.counter0}}"
                        class="comparison_row-earnings accordion-body">
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title subtitle=value.subtitle values=value.values item_font="item_font" header_font="header_font" %}                    </div>
                {% else %}
                    <div id="{{sub_accordion.title}}{{forloop.counter0}}"
                        class="comparison_row-grey_background accordion-body">
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title subtitle=value.subtitle values=value.values item_font="item_font" header_font="header_font" %}
                    </div>
                {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% endwith %}
