{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}
{% with dataset=accordion.dataset sub_accordions=accordion.sub_accordions change_point=accordion.change_point %}
    <div class="mb-3">
        <div class="guidance_box">
            <p class="guidance_box-title">{% get_translation key='guidance_title' language=page.get_language %}</p>
            {% autoescape off %}
                <div>
                    <ul class="mt-3">
                        {% for entry in accordion.guidance_information %}
                            <li class="guidance_box-item">{{entry}}</li>
                        {% endfor %}
                    </ul>
                    {% if accordion.source.0 >= accordion.dataset|length %}
                        <a class="guidance_box-link" href="{{accordion.source.1}}">{{accordion.source.2}}</a>
                    {% endif %}
                </div>
            {% endautoescape %}
        </div>
        {% for item, value in dataset.items %}
            {% if forloop.counter == accordion.source.0 %}
                <div class="course_comparison-table__row-grey_background source">
                    <div class="course_comparison-table source">
                        {% get_translation key='source' language=page.get_language %}: &nbsp;
                        <a class="course_comparison-table source-link" href="{{accordion.source.1}}">
                            {{accordion.source.2}}
                        </a>
                        <!--            TODO: revise wagtail content so it just contains the source link then get link from wagtail-->
                        <!--                {{ page.accordions.0.value.intro_body }} OR make a dictionary of accordions: links on the view-->
                    </div>
                </div>
            {% endif %}

            {% if forloop.counter < change_point %}
                <div class="course_comparison-table__row-yellow_background">
                    {% if forloop.counter == 1 %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values item_font="item_font" header_font="header_font" mt="mt-3" %}
                    {% else %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values mt="mt-3" %}
                    {% endif %}
                </div>
            {% else %}
                <div class="course_comparison-table__row-grey_background">
                    {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values item_font="item_font" header_font="header_font" %}
                </div>
            {% endif %}

<!--            {% if forloop.last and forloop.counter < accordion.source.0 %}-->
<!--                <div class="course_comparison-table__row-grey_background source">-->
<!--                    <div class="course_comparison-table source">-->
<!--                        {% get_translation key='source' language=page.get_language %}: &nbsp;-->
<!--                        <a class="course_comparison-table source-link" href="{{accordion.source.1}}">-->
<!--                            {{accordion.source.2}}-->
<!--                        </a>-->
<!--                        &lt;!&ndash;            TODO: revise wagtail content so it just contains the source link then get link from wagtail&ndash;&gt;-->
<!--                        &lt;!&ndash;                {{ page.accordions.0.value.intro_body }} OR make a dictionary of accordions: links on the view&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endif %}-->
        {% endfor %}
    </div>

    {% for sub_accordion in sub_accordions %}
        <div class="accordion-block">
            <div id="{{sub_accordion.title}}-header" class="accordion-header course_comparison-table__row-header"
                 onclick="toggleAccordion('{{sub_accordion.title}}');">
                {{sub_accordion.title}}
                <div class="ml-auto">
                    <div id="{{sub_accordion.title}}-expand" class="hidden">
                        <img class="invert-image" src="{% static 'images/plus_icon_white.svg' %}" alt="expand">
                    </div>

                    <div id="{{sub_accordion.title}}-collapse" class="">
                        <img class="invert-image" src="{% static 'images/minus_icon.svg' %}" alt="collapse">
                    </div>
                </div>
            </div>
        {% for item, value in sub_accordion.dataset.items %}
            <div id="{{sub_accordion.title}}{{forloop.counter}}"
                 class="course_comparison-table__row-grey_background accordion-body">
                {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values item_font="item_font" header_font="header_font" %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endwith %}
