{% load staticfiles sass_tags wagtailcore_tags discover_uni_tags %}
{% with dataset=accordion.dataset sub_accordions=accordion.sub_accordions change_point=accordion.change_point %}
    <div class="course_comparison-table__row-grey_background source">
        <div class="course_comparison-table source">
            Source: &nbsp;<a class="course_comparison-table source-link"
                              href="{% get_translation key='about_our_data_link' language=page.get_language %}">
            NSS (National Student Survey)</a>
            <!--            TODO: revise wagtail content so it just contains the source link then get link from wagtail-->
            <!--                {{ page.accordions.0.value.intro_body }} OR make a dictionary of accordions: links on the view-->
        </div>
    </div>
    <div class="mb-3">
        {% for item, value in dataset.items %}
            {% if forloop.counter < change_point %}
                <div class="course_comparison-table__row-yellow_background">
                    {% if forloop.counter == 1 %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values sub_item="sub_accordion_item" sub_header="sub_accordion_header" suffix="%" mt="mt-3" %}
                    {% else %}
                        {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values mt="mt-3" %}
                    {% endif %}
                </div>
            {% else %}
                <div class="course_comparison-table__row-grey_background">
                    {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values %}
                </div>
            {% endif %}
        {% endfor %}
    </div>


    {% for sub_accordion in sub_accordions %}
        <div class="accordion-block">
            <div id="{{sub_accordion.title}}-header" class="accordion-header course_comparison-table__row-header"
                 onclick="toggleAccordion('{{sub_accordion.title}}');">
                {{sub_accordion.title}}
                <div class="ml-auto">
                    <div id="{{sub_accordion.title}}-expand" class="hidden">
                        <img class="invert-image" src="{% static 'images/plus_icon_white.svg' %}" alt="expand">
                    </div>

                    <div id="{{sub_accordion.title}}-collapse" class="">
                        <img class="invert-image" src="{% static 'images/minus_icon.svg' %}" alt="collapse">
                    </div>
                </div>
            </div>
        {% for item, value in sub_accordion.dataset.items %}
            <div id="{{sub_accordion.title}}{{forloop.counter}}"
                 class="course_comparison-table__row-grey_background accordion-body">
                {% include 'courses/partials/comparison_courses_row.html' with title=value.title values=value.values suffix="%" sub_item="sub_accordion_item" sub_header="sub_accordion_header" %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endwith %}
