{% load staticfiles %}

<div class="discover-uni-container">
    <div class="one-year__lead-block">
        <h3 class="one-year__heading">After 1 year of study</h3>

        <p class="one-year__lead">
            This is what students are doing one year after starting the course:
        </p>
    </div>
</div>

<div class="one-year__overview">
    <div class="discover-uni-container">
        <p class="one-year__overview-lead">
            {{ course_details.continuation_stats.continuing_or_complete }}%
        </p>

        <p>
            of students are still on the course or have completed it
        </p>
    </div>
</div>

<div class="discover-uni-container">
    <div class="one-year__block">
        <div class="one-year__qualification-charts">
            <div class="one-year__chart discover-uni-chart bar" data-value="{{course_details.continuation_stats.continuing}}">
                {% include 'courses/partials/bar_chart.html' %}
                <label class="one-year-block__chart-label">Are still on the course</label>
            </div>

            <div class="one-year__chart discover-uni-chart bar" data-value="{{course_details.continuation_stats.gained}}">
                {% include 'courses/partials/bar_chart.html' %}
                <label class="one-year-block__chart-label">Have completed the course (started in the final year due to prior study)</label>
            </div>

            <div class="one-year__chart discover-uni-chart bar" data-value="{{course_details.continuation_stats.dormant}}">
                {% include 'courses/partials/bar_chart.html' %}
                <label class="one-year-block__chart-label">Are taking a break from their studies</label>
            </div>

            <div class="one-year__chart discover-uni-chart bar" data-value="{{course_details.continuation_stats.lower}}">
                {% include 'courses/partials/bar_chart.html' %}
                <label class="one-year-block__chart-label">Have left with a lower qualification</label>
            </div>

            <div class="one-year__chart discover-uni-chart bar" data-value="{{course_details.continuation_stats.left}}">
                {% include 'courses/partials/bar_chart.html' %}
                <label class="one-year-block__chart-label">Have left without a qualification</label>
            </div>

            <div class="explanation">
                <div class="explanation__link">
                    <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                    <p class="information-link">Chart labels explained</p>
                </div>

                <div class="chart-label-explanation">
                    <h4 class="chart-label-explanation__heading">
                        Chart labels explained
                        <span class="chart-label-explanation__close">X</span>
                    </h4>

                    <div class="chart-label-explanation__body">
                        <h5 class="chart-label-explanation__sub-heading">
                            Continue at the university or college
                        </h5>

                        <p>
                            Students who continue to study after the first year of their course, either on the same course or changing to another course at the same university or college.
                        </p>

                        <h5 class="chart-label-explanation__sub-heading">
                            Complete the course they enrolled on
                        </h5>

                        <p>
                            Students awarded the qualification they signed up for after one year of study such as those who entered the third year of the degree.
                        </p>

                        <h5 class="chart-label-explanation__sub-heading">
                            Complete a different award from the one they enrolled on
                        </h5>

                        <p>
                            Students awarded a qualification other than that which they orignally signed up for (such as a University Certificate having enrolled for an honours degree) after the first year of their course.
                        </p>

                        <h5 class="chart-label-explanation__sub-heading">
                            Are taking a break from their studies
                        </h5>

                        <p>
                            Students who are not actively studying but have not left the course (such as students taking a year out due to ill health).
                        </p>
                    </div>
                </div>
            </div>

            {% include 'courses/partials/explanation_text.html' with number_of_students=course_details.continuation_stats.number_of_students %}
        </div>
    </div>

    {% include 'courses/partials/unavailable_disclaimer.html' with reason=course_details.continuation_stats.unavailable_reason %}
</div>
