{% load staticfiles discover_uni_tags %}
{% load humanize %}

<div class="course-detail__lead">
    <div class="">
        <ul class="course-detail__nav">
            <li class="course-detail__nav-control">
                <form method="post" id="back_to_search" {% if page.is_english %} action="/course-finder/results/" {% else %} action="/cy/course-finder/results/" {% endif %}>
                    <span id='course-detail__nav-control-back' style="visibility: hidden;">
                        <i class="fas fa-angle-left"></i>
                        {% get_translation key='back_to_results' language=page.get_language %}
                    </span>
                </form>
            </li>
        </ul>

        <h1 class="course-detail__course-name">
            {{course.display_title}}
        </h1>

            {% if page.is_english %}
                <a class="course-detail__institution-name" href="/institution-details/{{course.institution.pub_ukprn}}/">
                    {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
                </a>
            {% else %}
                <a class="course-detail__institution-name" href="/cy/institution-details/{{course.institution.pub_ukprn}}/">
                    {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
                </a>
            {% endif %}

            <div class="d-flex flex-wrap row mt-2">
                <div class="col-md-8 col-sm-12">
                    <p class="course-detail__institution-locations">
                        {% if course.number_of_locations == 1 %}
                            {{ course.number_of_locations }} {% get_translation key='location' language=page.get_language %}: {{ course.locations_list }}
                        {% else %}
                            {{ course.number_of_locations }} {% get_translation key='locations' language=page.get_language %}: {{ course.locations_list }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 float-md-right mb-2">
                    <button class="course-detail__compare-btn">
                        <img class="add" src="{% static 'images/white-bookmark.svg' %}" alt="">
                        <img class="remove" src="{% static 'images/white-bookmark.svg' %}" alt="">
                         {% get_translation key='bookmark_course' language=page.get_language %}
                    </button>
                </div>
            </div>
    </div>

    <div class="">
        <div class="course-detail__overview-lead mt-1 pb-0">
            <h4>Course details</h4>
            <hr/>
        </div>
        <div class="course-detail__course-overview my-4">
            <div class="d-flex justify-content-between flex-wrap col-12 px-0">
                <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                    <p class="course-detail__overview-item-heading">{% get_translation key='study_mode' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">
                        {% if course.mode.label == 'Both' %}
                            {% get_translation key='full_time' language=page.get_language %}
                            {% get_translation key='part_time' language=page.get_language %}
                        {% else %}
                            {% get_translation key=course.mode.label language=page.get_language %}
                        {% endif %}
                    </p>
                </div>
            
                {% if course.mode.label != 'Part-time' %}
                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='length' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">{{ course.length.label | slice:1 }} {% get_translation key='year_course' language=page.get_language %}</p>
                    </div>
                {% endif %}

                <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                    <p class="course-detail__overview-item-heading">{% get_translation key='distance_learning' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">{{ course.distance_learning.display_label }}</p>
                </div>

                <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                    <p class="course-detail__overview-item-heading">{% get_translation key='placement_year' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">{% get_translation key=course.sandwich_year.label language=page.get_language %}</p>
                </div>

                <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                    <p class="course-detail__overview-item-heading">{% get_translation key='year_abroad' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">{% get_translation key=course.year_abroad.label language=page.get_language %}</p>
                </div>

                <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                    <p class="course-detail__overview-item-heading">{% get_translation key='foundation_year' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">{% get_translation key=course.foundation_year.label language=page.get_language %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function kFormatter(num) {
        return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num)
    }
    function reformatField(){   
        var earnings = $('#average_earnings_sm').text();
            earnings = earnings.replace('£','');
            earnings = parseFloat(earnings.replace(/,/g, ''));
            var reformatted = kFormatter(earnings);
            $('#average_earnings_sm').text("£" + reformatted);
    }
    
    $( document ).ready(function() {
        reformatField();
    });
</script>