{% load static discover_uni_tags %}


<div class="compare-popup">
    <div class="compare-popup__wrapper">
        <button class="compare-popup__close">Close x</button>
        <div class="compare-popup__add">
            <div class="compare-popup__left_container">
                <p class="course_added">
                    <i class="fas fa-check-circle checkmark"></i>
                    Course saved</p>
                <p class="compare-popup__count">
                    You have saved <strong><span class="count"></span> course(s)</strong>
                    <a class="compare-popup-saved_courses_link" href="{{manage_link}}">View saved courses</a>
                </p>
            </div>

            <div class="compare-popup__not-enough">

                <a class="green_button compare_courses_btn disable"
                   href="/{% get_translation key='course_comparison_link' language=page.get_language %}"
                   onclick="document.getElementById('compareForm').submit();">
                    <span class="compare_courses_btn-text">{% get_translation key='can_compare_courses' language=page.get_language %}</span>
                </a>
                <p class="not_enough">{% get_translation key='not_enough' language=page.get_language %}</p>
            </div>

            <div>
                <p class="compare-popup__enough">

                    <a id="compare-courses-button" class="green_button compare_courses_btn"
                       href="/{% get_translation key='course_comparison_link' language=page.get_language %}"
                       onclick="document.getElementById('compareForm').submit();">
                        <span class="compare_courses_btn-text">{% get_translation key='can_compare_courses' language=page.get_language %}</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="compare-popup__remove">
            <p>{% get_translation key='course_removed' language=page.get_language %}
            <a href="{{manage_link}}">{% get_translation key='bookmarked_courses' language=page.get_language %}</a></p>
        </div>

        <div class="compare-popup__too-many">
            <p>
                <span class="compare-popup__max">25</span> {% get_translation key='course_too_many' language=page.get_language %}
            </p>
            <p>
                {% get_translation key='remove_others' language=page.get_language %}
                <a href="{{manage_link}}">{% get_translation key='bookmarked_courses' language=page.get_language %}</a>
            </p>
        </div>
    </div>
</div>