{% load staticfiles wagtailcore_tags discover_uni_tags %}

{% get_max_length course1.entry_stats course2.entry_stats as max_entry_stats_length %}

{% for i in max_entry_stats_length|times %}
    {% get_index i course1.entry_stats as course1_entry_stats %}
    {% get_index i course2.entry_stats as course2_entry_stats %}

    <div class="entry-information__block">
        <h2 class="entry-information__heading">
            {{block.value.qualification_heading}}
        </h2>

        <p class="entry-information__lead">
            {{block.value.qualification_intro}}
        </p>

        <div class="comparison__course-columns">
            <div class="comparison__course-column">
                <div class="comparison__course">
                    <div class="entry-information__qualification-charts">
                        {% if course1.has_multiple_entry_stats %}
                            <h3 class="comparison__subject-heading">
                                {{course1_entry_stats.display_subject_name}}
                            </h3>
                        {% endif %}

                        {% if course1_entry_stats %}
                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.degree}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='degree' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.another_higher_education_qualifications}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='other_higher_qualifications' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.a_level}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='a_level_similar' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.baccalaureate}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='baccalaureate' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.access}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='access_course' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.foundation}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='foundation_course' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.none}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='no_qualifications' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course1_entry_stats.other_qualifications}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='other' language=page.get_language %}</label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="comparison__course-column">
                <div class="comparison__course">
                    <div class="entry-information__qualification-charts">
                        {% if course2.has_multiple_entry_stats %}
                            <h3 class="comparison__subject-heading">
                                {{course2_entry_stats.display_subject_name}}
                            </h3>
                        {% endif %}

                        {% if course2_entry_stats %}
                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.degree}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='degree' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.another_higher_education_qualifications}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='other_higher_qualifications' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.a_level}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='a_level_similar' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.baccalaureate}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='baccalaureate' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.access}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='access_course' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.foundation}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='foundation_course' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.none}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='no_qualifications' language=page.get_language %}</label>
                            </div>

                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{course2_entry_stats.other_qualifications}}">
                                {% include 'courses/partials/bar_chart.html' %}
                                <label class="entry-information__chart-label">{% get_translation key='other' language=page.get_language %}</label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if course1_entry_stats.display_stats or course2_entry_stats.display_stats %}
            <div class="explanation">
                <div class="explanation__link">
                    <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                    <button class="information-link">{% get_translation key='chart_label_explained' language=page.get_language %}</button>
                </div>

                <div class="chart-label-explanation">
                    <h3 class="chart-label-explanation__heading">
                        {{block.value.qualification_label_explanation_heading}}

                        <span class="chart-label-explanation__close"><img src="{% static 'images/close-grey.svg' %}" alt=""></span>
                    </h3>

                    <div class="chart-label-explanation__body">
                        {{block.value.qualification_label_explanation_body}}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="comparison__course-columns">
            <div class="comparison__course-column">
                <div class="comparison__course">
                    {% if course1_entry_stats %}
                        <div class="explanation-text">
                            {% create_list course1_entry_stats.number_of_students as substitutions %}
                            {% insert_values_to_rich_text content=block.value.qualification_data_source substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </div>
                    {% endif %}

                    {% include 'courses/partials/unavailable_disclaimer.html' with reason=course1_entry_stats.display_unavailable_reason %}
                </div>
            </div>

            <div class="comparison__course-column">
                <div class="comparison__course">
                    {% if course1_entry_stats %}
                        <div class="explanation-text">
                            {% create_list course2_entry_stats.number_of_students as substitutions %}
                            {% insert_values_to_rich_text content=block.value.qualification_data_source substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </div>
                    {% endif %}

                    {% include 'courses/partials/unavailable_disclaimer.html' with reason=course2_entry_stats.display_unavailable_reason %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% get_max_length course1.entry_stats course2.entry_stats as max_tariff_stats_length %}

{% for i in max_tariff_stats_length|times %}
    {% get_index i course1.tariff_stats as course1_tariff_stats %}
    {% get_index i course2.tariff_stats as course2_tariff_stats %}

    <div class="entry-information__block">
        <h2 class="entry-information__heading">{{block.value.tariffs_heading}}</h2>

        <p class="entry-information__lead">
            {{block.value.tariffs_intro}}
        </p>

        <div class="comparison__course-columns">
            <div class="comparison__course-column">
                <div class="comparison__course">
                    <div class="entry-information__tariff-charts">
                        {% if course1_tariff_stats %}
                            {% if course1.has_multiple_tariff_stats %}
                                <h3 class="comparison__subject-heading">
                                    {{course1_tariff_stats.display_subject_name}}
                                </h3>
                            {% endif %}

                            {% for tariff in course1_tariff_stats.tariffs %}
                                <div class="entry-information__chart discover-uni-chart bar" data-value="{{tariff.entrants}}">
                                    {% include 'courses/partials/bar_chart.html' %}

                                    <label class="entry-information__chart-label"><span>{{tariff.label}}</span></label>
                                </div>
                            {% endfor %}

                            <div class="explanation-text">
                                {% create_list course1_tariff_stats.number_of_students as substitutions %}
                                {% insert_values_to_rich_text content=block.value.tariffs_data_source substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                            </div>
                        {% endif %}

                        {% include 'courses/partials/unavailable_disclaimer.html' with reason=course1_tariff_stats.display_unavailable_reason %}
                    </div>
                </div>
            </div>

            <div class="comparison__course-column">
                <div class="comparison__course">
                    <div class="entry-information__tariff-charts">
                        {% if course2_tariff_stats %}
                            {% if course2.has_multiple_tariff_stats %}
                                <h3 class="comparison__subject-heading">
                                    {{course2_tariff_stats.display_subject_name}}
                                </h3>
                            {% endif %}

                            {% for tariff in course2_tariff_stats.tariffs %}
                                <div class="entry-information__chart discover-uni-chart bar" data-value="{{tariff.entrants}}">
                                    {% include 'courses/partials/bar_chart.html' %}

                                    <label class="entry-information__chart-label"><span>{{tariff.label}}</span></label>
                                </div>
                            {% endfor %}

                            <div class="explanation-text">
                                {% create_list course2_tariff_stats.number_of_students as substitutions %}
                                {% insert_values_to_rich_text content=block.value.tariffs_data_source substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                            </div>
                        {% endif %}

                        {% include 'courses/partials/unavailable_disclaimer.html' with reason=course2_tariff_stats.display_unavailable_reason %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
