{% load static wagtailcore_tags discover_uni_tags %}

{% get_max_length course1.continuation_stats course2.continuation_stats as max_continuation_stats_length %}

{% for i in max_continuation_stats_length|times %}
    {% get_index i course1.continuation_stats as course1_continuation_stats %}
    {% get_index i course2.continuation_stats as course2_continuation_stats %}

    <div class="one-year__block">
        <div class="comparison__course-columns">
        {% for course_index in '12'|make_list %}
            {% if course_index == "1" %}
                {% define course1 as course %}
                {% define course1_continuation_stats as continuation_stats %}
            {% else %}
                {% define course2 as course %}
                {% define course2_continuation_stats as continuation_stats %}
            {% endif %}

            <div class="comparison__course-column">
                <div class="comparison__course">
                    {% if course.has_multiple_continuation_stats %}
                    <div class="comparison__subject-header px-3 py-2 mx-1 my-2">
                        <h1 class="pb-0 my-auto">{% get_translation key='subject' language=page.get_language %}: {{ continuation_stats.display_subject_name }}</h1>
                    </div>
                    {% endif %}

                    <!-- ********************************************** -->
                    {% if continuation_stats.display_stats %}
                        <div class="one-year__overview my-3 mx-1 p-3 d-flex flex-wrap row">
                            <div class="col-lg-3 col-sm-12 align-self-stretch my-auto">
                                <p class="one-year__overview-lead">
                                    {{ continuation_stats.continuing_or_complete }}%
                                </p>
                            </div>
                            <div class="col-lg-9 col-sm-12 align-self-stretch pt-2">
                                <p class="one-year__overview-sublead mb-3 text-center text-lg-left"> 
                                    {{block.value.lead}}

                                    {% create_list course_details.data_from_html continuation_stats.number_of_students as substitutions %}
                                    {% insert_values_to_rich_text content=block.value.data_source substitutions=substitutions as subbed_text %}
                                    {{ subbed_text | richtext }}
                                </p>
                            </div>
                        </div>
                        {% include 'courses/partials/unavailable_disclaimer.html' with unavailable=continuation_stats.display_unavailable_info %}
                
                        <div class="one-year__block">
                            <div class="one-year__qualification-charts mt-2 mb-4 p-3 d-flex flex-wrap row mx-1">
                                <div class="col-12 align-self-stretch my-auto">
                
                                    <div class="one-year__lead-block my-3 mb-4">
                                        <h2 class="one-year__heading py-2">
                                            {{block.value.section_heading}}
                                        </h2>
                                        {% create_list course.data_from_html continuation_stats.number_of_students as substitutions %}
                                        {% insert_values_to_rich_text content=block.value.data_source substitutions=substitutions as subbed_text %}
                                        {{ subbed_text | richtext }}
                                    </div>
                                </div>
                                <div class=" col-12 align-self-stretch my-auto pt-2">
                
                                    <div class="one-year__chart discover-uni-chart bar" data-value="{{continuation_stats.continuing}}"
                                        data-label="after-one-year-still_on_course"
                                        data-title="{% get_translation key='after_one_year_graph_title' language=page.get_language %} {% get_translation key='still_on_course' language=page.get_language %}"
                                        data-desc="{% get_translation key='after_one_year_graph_desc' language=page.get_language %} {% get_translation key='still_on_course' language=page.get_language %}">
                                        <div class="row d-flex">
                                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                                {% include 'courses/partials/bar_chart.html' %}
                                            </div>
                                            <div class="col-lg-6 order-md-2 order-lg-1">
                                                <label class="one-year-block__chart-label float-lg-right" aria-hidden="true">{% get_translation key='still_on_course' language=page.get_language %}</label>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="one-year__chart discover-uni-chart bar" data-value="{{continuation_stats.gained}}"
                                        data-label="after-one-year-completed_course"
                                        data-title="{% get_translation key='after_one_year_graph_title' language=page.get_language %} {% get_translation key='completed_course' language=page.get_language %}"
                                        data-desc="{% get_translation key='after_one_year_graph_desc' language=page.get_language %} {% get_translation key='completed_course' language=page.get_language %}">
                                        <div class="row d-flex">
                                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                                {% include 'courses/partials/bar_chart.html' %}
                                            </div>
                                            <div class="col-lg-6 order-md-2 order-lg-1">
                                                <label class="one-year-block__chart-label float-lg-right" aria-hidden="true">{% get_translation key='completed_course' language=page.get_language %}</label>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="one-year__chart discover-uni-chart bar" data-value="{{continuation_stats.dormant}}"
                                        data-label="after-one-year-break_from_studies"
                                        data-title="{% get_translation key='after_one_year_graph_title' language=page.get_language %} {% get_translation key='break_from_studies' language=page.get_language %}"
                                        data-desc="{% get_translation key='after_one_year_graph_desc' language=page.get_language %} {% get_translation key='break_from_studies' language=page.get_language %}">
                                        <div class="row d-flex">
                                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                                {% include 'courses/partials/bar_chart.html' %}
                                            </div>
                                            <div class="col-lg-6 order-md-2 order-lg-1">
                                                <label class="one-year-block__chart-label float-lg-right" aria-hidden="true">{% get_translation key='break_from_studies' language=page.get_language %}</label>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="one-year__chart discover-uni-chart bar" data-value="{{continuation_stats.lower}}"
                                        data-label="after-one-year-left_lower_qualification"
                                        data-title="{% get_translation key='after_one_year_graph_title' language=page.get_language %} {% get_translation key='left_lower_qualification' language=page.get_language %}"
                                        data-desc="{% get_translation key='after_one_year_graph_desc' language=page.get_language %} {% get_translation key='left_lower_qualification' language=page.get_language %}">
                                        <div class="row d-flex">
                                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                                {% include 'courses/partials/bar_chart.html' %}
                                            </div>
                                            <div class="col-lg-6 order-md-2 order-lg-1">
                                                <label class="one-year-block__chart-label float-lg-right" aria-hidden="true">{% get_translation key='left_lower_qualification' language=page.get_language %}</label>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="one-year__chart discover-uni-chart bar" data-value="{{continuation_stats.left}}"
                                        data-label="after-one-year-left_no_qualification"
                                        data-title="{% get_translation key='after_one_year_graph_title' language=page.get_language %} {% get_translation key='left_no_qualification' language=page.get_language %}"
                                        data-desc="{% get_translation key='after_one_year_graph_desc' language=page.get_language %} {% get_translation key='left_no_qualification' language=page.get_language %}">
                                        <div class="row d-flex">
                                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                            {% include 'courses/partials/bar_chart.html' %}
                                            </div>
                                            <div class="col-lg-6 order-md-2 order-lg-1">
                                                <label class="one-year-block__chart-label float-lg-right" aria-hidden="true">{% get_translation key='left_no_qualification' language=page.get_language %}</label>
                                            </div>
                                        </div>
                                    </div>
                
                            </div>
                            </div>
                        </div>
                    {% elif i == 0 and course.continuation_stats and course.continuation_stats.0.display_unavailable_info %}
                        {% include 'courses/partials/unavailable_disclaimer.html' with unavailable=course.continuation_stats.0.display_unavailable_info %}
                    {% elif i == 0 %}
                        {% include 'courses/partials/unavailable_disclaimer.html' with unavailable=course.display_no_data %}
                    {% endif %}                    <!-- ********************************************** -->
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}