{% load staticfiles discover_uni_tags %}
use {% load humanize %}

<div class="course-detail__lead">
    <div class="discover-uni-container">
        <ul class="course-detail__nav">
            <li class="course-detail__nav-control">
                <form method="post" id="back_to_search" {% if page.is_english %} action="/course-finder/results/" {% else %} action="/cy/course-finder/results/" {% endif %}>
                    <span id='course-detail__nav-control-back' style="visibility: hidden;">
                        <img class="course-detail__nav-control-icon" src="{% static 'assets/left-arrow.svg' %}" alt="">
                        {% get_translation key='back_to_results' language=page.get_language %}
                    </span>
                </form>
            </li>
        </ul>

        <h1 class="course-detail__course-name">
            {{course.display_title}}
        </h1>

<!--        <div>-->
            {% if page.is_english %}
                <a class="course-detail__institution-name" href="/institution-details/{{course.institution.pub_ukprn}}/">
                    {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
                </a>
            {% else %}
                <a class="course-detail__institution-name" href="/cy/institution-details/{{course.institution.pub_ukprn}}/">
                    {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
                </a>
            {% endif %}

            <p class="course-detail__institution-locations">
                {% if course.number_of_locations == 1 %}
                    {{ course.number_of_locations }} {% get_translation key='location' language=page.get_language %}: {{ course.locations_list }}
                {% else %}
                    {{ course.number_of_locations }} {% get_translation key='locations' language=page.get_language %}: {{ course.locations_list }}
                {% endif %}
            </p>
<!--        </div>-->

        <button class="course-detail__compare-btn">
            <img class="add" src="{% static 'images/white-bookmark.svg' %}" alt="">
            <img class="remove" src="{% static 'images/white-bookmark.svg' %}" alt="">
             {% get_translation key='bookmark_course' language=page.get_language %}
        </button>
    </div>

    <div class="discover-uni-container">
        <div class="course-detail__overview-lead">
            <p>Course details</p>
            <hr>
        </div>
        <div class="course-detail__course-overview">
            <div class="course-detail__overview-item overview-block">
                <p class="course-detail__overview-item-heading">{% get_translation key='study_mode' language=page.get_language %}</p>
                <p class="course-detail__overview-item-value">
                    {% if course.mode.label == 'Both' %}
                        {% get_translation key='full_time' language=page.get_language %}
                        {% get_translation key='part_time' language=page.get_language %}
                    {% else %}
                        {% get_translation key=course.mode.label language=page.get_language %}
                    {% endif %}
                </p>
            </div>

            {% if course.mode.label != 'Part-time' %}
                <div class="course-detail__overview-item overview-block">
                    <p class="course-detail__overview-item-heading">{% get_translation key='length' language=page.get_language %}</p>
                    <p class="course-detail__overview-item-value">{{ course.length.label | slice:1 }} {% get_translation key='year_course' language=page.get_language %}</p>
                </div>
            {% endif %}

            <div class="course-detail__overview-item overview-block">
                <p class="course-detail__overview-item-heading">{% get_translation key='distance_learning' language=page.get_language %}</p>
                <p class="course-detail__overview-item-value">{{ course.distance_learning.display_label }}</p>
            </div>

            <div class="course-detail__overview-item overview-block">
                <p class="course-detail__overview-item-heading">{% get_translation key='placement_year' language=page.get_language %}</p>
                <p class="course-detail__overview-item-value">{% get_translation key=course.sandwich_year.label language=page.get_language %}</p>
            </div>

            <div class="course-detail__overview-item overview-block">
                <p class="course-detail__overview-item-heading">{% get_translation key='year_abroad' language=page.get_language %}</p>
                <p class="course-detail__overview-item-value">{% get_translation key=course.year_abroad.label language=page.get_language %}</p>
            </div>

            <div class="course-detail__overview-item overview-block">
                <p class="course-detail__overview-item-heading">{% get_translation key='foundation_year' language=page.get_language %}</p>
                <p class="course-detail__overview-item-value">{% get_translation key=course.foundation_year.label language=page.get_language %}</p>
            </div>
        </div>
    </div>

    <div class="discover-uni-container">
        <div class="course-detail__headline_statistics">
            <div class="course-detail__headline_stat">
                <h3>Student Satisfaction</h3>
                <h2>{{ course.satisfaction_stats.0.question_27.agree_or_strongly_agree }}%</h2>
                <p>were satisfied with the quality of the course</p>
                <a>More on student satisfaction</a>
            </div>
            <div class="course-detail__headline_stat">
                <h3>Average Earnings</h3>
                <h2>£{{ course.leo_stats.0.median|intcomma }}</h2>
                <p>average salary 3 years after the course</p>
                <a>More on earnings</a>
            </div>
            <div class="course-detail__headline_stat">
                <h3>Employment</h3>
                <h2>{{ course.in_employment_15_mths }}%</h2>
                <p>work adn / or study within 15 months after the course</p>
                <a>More on employment</a>
            </div>
        </div>
    </div>
</div>