{% load staticfiles discover_uni_tags %}

<div id="courseContainer-{{forloop.counter0}}" class="course-detail__courses-container cc-row-{{forloop.counter0}}" data-index="{{forloop.counter0}}">
    <div>
        <li class="rating"
                onmouseover="hoverStars(value, {{forloop.counter0}})"
                onmouseleave="mouseExitStars({{forloop.counter0}})"
                onclick="addStarRating(id, value, {{forloop.counter0}})" id="course-{{forloop.counter0}}-star1"
                value="1">☆
        </li>
        <li class="rating"
                onmouseover="hoverStars(value, {{forloop.counter0}})"
                onmouseleave="mouseExitStars({{forloop.counter0}})"
                onclick="addStarRating(id, value, {{forloop.counter0}})" id="course-{{forloop.counter0}}-star2"
                value="2">☆
        </li>
        <li class="rating"
                onmouseover="hoverStars(value, {{forloop.counter0}})"
                onmouseleave="mouseExitStars({{forloop.counter0}})"
                onclick="addStarRating(id, value, {{forloop.counter0}})" id="course-{{forloop.counter0}}-star3"
                value="3">☆
        </li>
        <img class="course-detail__courses-container-exit-course" onclick="removeCourseCompare({{ forloop.counter0 }})"
             src="{% static 'images/icon-close.svg'%}">
    </div>

    <div class="course-detail__courses-name">
        {{course.display_title}}
    </div>

    {% if page.is_english %}
    <a class="course-detail__courses-institution-name" href="/institution-details/{{course.institution.pub_ukprn}}/">
        {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
    </a>
    {% else %}
    <a class="course-detail__courses-institution-name" href="/cy/institution-details/{{course.institution.pub_ukprn}}/">
        {% autoescape off %}{{course.institution.pub_ukprn_name | safe}}{% endautoescape %}
    </a>
    {% endif %}
</div>
