{% load staticfiles discover_uni_tags %}
{% load humanize %}

<div class="course-detail__lead">
    <div class="mx-3">
        <ul class="course-detail__nav">
            <li class="course-detail__nav-control">
              <span id='course-detail__nav-control-back'>
                 <i class="fas fa-angle-left"></i>
                  {% get_translation key='back_to_results' language=page.get_language %}
              </span>
            </li>
        </ul>

        <h1 class="course-detail__course-name">
            {{ course.display_title }}
        </h1>

        {% if page.is_english %}
            <a class="course-detail__institution-name" href="/institution-details/{{ course.institution.pub_ukprn }}/"
               target="_blank">
                {% autoescape off %}{{ course.institution_name | safe }}{% endautoescape %}
            </a>
        {% else %}
            <a class="course-detail__institution-name"
               href="/cy/institution-details/{{ course.institution.pub_ukprn }}/" target="_blank">
                {% autoescape off %}{{ course.institution_name | safe }}{% endautoescape %}
            </a>
        {% endif %}

        <div class="d-flex flex-wrap row mt-2">
            <div class="col-md-8 col-sm-12">
                <p class="course-detail__institution-locations">
                    {% if course.number_of_locations == 1 %}
                        {{ course.number_of_locations }} {% get_translation key='location' language=page.get_language %}
                        : {{ course.locations_list }}
                    {% elif course.number_of_locations > 1 %}
                        {{ course.number_of_locations }}
                        {% get_translation key='locations' language=page.get_language %}: {{ course.locations_list }}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4 col-sm-12 float-md-right mb-2">
                <button class="course-detail__compare-btn">
                    <img class="add" src="{% static 'images/grey-bookmark.svg' %}" alt="">
                    <img class="remove" src="{% static 'images/white-bookmark.svg' %}" alt="">
                    {% get_translation key='bookmark_course' language=page.get_language %}
                </button>
            </div>
        </div>
    </div>

    <div class="">
        <div class="course-detail__overview-lead mt-1 pb-0 mx-3">
            <h4>{% get_translation key='course_details' language=page.get_language %}</h4>
            <hr/>
        </div>
        <div class="course-detail__course-overview my-2">
            <div class="d-block d-md-none w-100">
                <div class="d-flex justify-content-between col-12 px-0 row">
                    <div class="col-6">
                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='study_mode' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">
                                {% if course.mode.label == 'Both' %}
                                    {% get_translation key='full_time' language=page.get_language %}
                                    {% get_translation key='part_time' language=page.get_language %}
                                {% else %}
                                    {% get_translation key=course.mode.label language=page.get_language %}
                                {% endif %}
                            </p>
                        </div>

                        {% if course.mode.label != 'Part-time' %}
                            <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                                <p class="course-detail__overview-item-heading">{% get_translation key='length' language=page.get_language %}</p>
                                <p class="course-detail__overview-item-value">
                                    {{ course.length.label | slice:1 }} {% get_translation key='year_course' language=page.get_language %}</p>
                            </div>
                        {% endif %}

                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='distance_learning' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">{{ course.distance_learning.display_label }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='placement_year' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">{% get_translation key=course.sandwich_year.label language=page.get_language %}</p>
                        </div>

                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='year_abroad' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">{% get_translation key=course.year_abroad.label language=page.get_language %}</p>
                        </div>

                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='foundation_year' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">{% get_translation key=course.foundation_year.label language=page.get_language %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block w-100 mx-0">
                <div class="d-flex justify-content-between col-12 px-0 row mx-0">
                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='study_mode' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">
                            {% if course.mode.label == 'Both' %}
                                {% get_translation key='full_time' language=page.get_language %}
                                {% get_translation key='part_time' language=page.get_language %}
                            {% else %}
                                {% get_translation key=course.mode.label language=page.get_language %}
                            {% endif %}
                        </p>
                    </div>

                    {% if course.mode.label != 'Part-time' %}
                        <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                            <p class="course-detail__overview-item-heading">{% get_translation key='length' language=page.get_language %}</p>
                            <p class="course-detail__overview-item-value">
                                {{ course.length.label | slice:1 }} {% get_translation key='year_course' language=page.get_language %}</p>
                        </div>
                    {% endif %}

                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='distance_learning' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">{{ course.distance_learning.display_label }}</p>
                    </div>
                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='placement_year' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">{% get_translation key=course.sandwich_year.label language=page.get_language %}</p>
                    </div>

                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='year_abroad' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">{% get_translation key=course.year_abroad.label language=page.get_language %}</p>
                    </div>

                    <div class="course-detail__overview-item overview-block my-2 mx-3 align-self-stretch">
                        <p class="course-detail__overview-item-heading">{% get_translation key='foundation_year' language=page.get_language %}</p>
                        <p class="course-detail__overview-item-value">{% get_translation key=course.foundation_year.label language=page.get_language %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not course.has_multiple_subject_names %}
        <div class="course-detail__headline_statistics container-fluid row my-4 text-center text-md-left mx-auto px-0">
            {% if course.satisfaction_stats and course.satisfaction_stats.0.question_27 and course.satisfaction_stats.0.question_27.agree_or_strongly_agree %}
                <div class="col p-0 m-1">
                    <div class="course-detail__headline_stat px-3 px-xs-2 py-4 mr-sm-2 mr-xs-1 h-100">
                        <h3 class="d-none d-lg-block">{% get_translation key='student_satisfaction_course_overview_1' language=page.get_language %}</h3>
                        <h2>{{ course.satisfaction_stats.0.question_27.agree_or_strongly_agree }}%</h2>
                        <p>{% get_translation key='student_satisfaction_course_overview_2' language=page.get_language %}</p>
                        <!--
                        <p>
                            <a class="text-dark"
                            href="#student_satisfaction">{% get_translation key='student_satisfaction_course_overview_3' language=page.get_language %}</a>
                        </p>
                        -->
                    </div>
                </div>
            {% endif %}

            {% if course.summary_med_sal_value != "no_data" %}
                <div class="col p-0 m-1">
                    <div class="course-detail__headline_stat px-3 px-xs-2 py-4 ml-xs-1 mr-xs-1 ml-sm-2 mr-sm-2 h-100">
                        <h3 class="d-none d-lg-block">{% get_translation key='average_earnings_course_overview_1' language=page.get_language %}</h3>
                        <h2 id="average_earnings_sm" class="d-lg-none">{{ course.summary_med_sal_value|intcomma }}</h2>
                        <h2 id="average_earnings_lg" class="d-none  d-lg-block">
                            £{{ course.summary_med_sal_value|intcomma }}</h2>
                        <p>{{ course.summary_med_sal_time }} {% get_translation key='summary_med_sal_text_1' language=page.get_language %}
                            {{ course.summary_med_sal_sbj }} {% get_translation key='summary_med_sal_text_2' language=page.get_language %}
                            {{ course.institution_name }}
                        </p>
                        <!--
                        <p>
                            <a class="text-dark"
                            href="#earnings_after_the_course">{% get_translation key='average_earnings_course_overview_3' language=page.get_language %}</a>
                        </p>
                        -->
                    </div>
                </div>
            {% endif %}

            {% if course.employment_stats and course.employment_stats.0.work_and_or_study %}
                <div class="col p-0 m-1">
                    <div class="course-detail__headline_stat px-3 px-xs-2 py-4 ml-xs-1 ml-sm-2 h-100">
                        <h3 class="d-none d-lg-block">{% get_translation key='employment_course_overview_1' language=page.get_language %}</h3>
                        <h2>{{ course.employment_stats.0.work_and_or_study }}%</h2>
                        <p>{% get_translation key='employment_course_overview_2' language=page.get_language %}</p>
                        <!--
                        <p>
                        <a class="text-dark"
                            href="#employment_after_the_course">{% get_translation key='employment_course_overview_3' language=page.get_language %}</a>
                        </p>
                        -->
                    </div>
                </div>
            {% endif %}
        </div>

    {% else %}
        <div class="course-detail__joint-overview mb-3 py-3 px-2 mt-3">
            <div class="row mx-0">
                <div class="col-md-4 col-sm-12 mx-auto">
                    <div class="course-detail__joint-overview-heading mt-2">
                        <h3>{% get_translation key='course_details_joint_overview_1' language=page.get_language %}</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 mx-auto">
                    <div class="course-detail__joint-overview-body">
                        <p class="text-lg-left">
                            {% get_translation key='course_details_joint_overview_2' language=page.get_language %}
                        </p>
                        <p class="text-lg-left">
                            <a class=""
                               href="{% get_translation key='course_details_joint_overview_4' language=page.get_language %}"
                               target="_blank">
                                {% get_translation key='course_details_joint_overview_3' language=page.get_language %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>

<script>
    function kFormatter(num) {
        return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'k' : Math.sign(num) * Math.abs(num)
    }

    function reformatField() {
        var earnings = $('#average_earnings_sm').text();
        earnings = earnings.replace('£', '');
        earnings = parseFloat(earnings.replace(/,/g, ''));
        var reformatted = kFormatter(earnings);
        earnings.text("£" + reformatted);
    }

    $(document).ready(function () {
        reformatField();
    });
</script>