{% load staticfiles wagtailcore_tags discover_uni_tags humanize %}


{% if course_details.show_salary_lead %}
        <div class="earnings-after-course__lead my-3 p-3 mx-1 pt-4 d-flex flex-wrap row">
            <div class="earnings-after-course__lead-title col-lg-6 col-md-12 align-self-stretch my-auto">
                <p class="earnings-after-course__overview-lead text-center text-lg-left">
                    {{block.value.section_heading}}
                </p>
            </div>
            <div class=" col-lg-6 col-md-12 align-self-stretch my-auto pt-2 text-left mx-md-3">
                <p>
                    <div class="earnings-after-course__lead-intro  text-left">
                        {{block.value.intro | richtext}}
                    </div>
                </p>
            </div>
        </div>
{% endif %}

<div class="earnings-after-course_block mx-1 my-2 p-4">
    <div>
        <h2 class="earnings-after-course__stats-heading text-left pt-3 pb-2">
            {% create_list course.english_title as substitutions %}
            {% insert_values_to_rich_text content=block.value.average_earnings_inst_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </h2>
        <div class="earnings-after-course_explanation-text pb-2">
            {% create_list course.institution.pub_ukprn_name as substitutions %}
            {% insert_values_to_rich_text content=block.value.institution_graduates_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </div>
        <div class="discover-uni-container">
            <div class="earnings-after-course-statistics d-flex row align-items-stretch">
            {% for salary in course_details.salaries_inst %}
                {% get_index_of_item salary course_details.salaries_inst as salary_index %}
                <div class="earnings-after-course_section-block col-md-12 col-lg-4 align-self-stretch my-3">
                    <h3 class="mt-3 mb-2 text-center text-lg-left">
                    {% if salary_index == 0 %}
                        {{ block.value.after_fifteen_months_earnings_heading }}
                    {% elif salary_index == 1 %}
                        {{ block.value.after_three_years_earnings_heading }}
                    {% elif salary_index == 2 %}
                        {{ block.value.after_five_years_earnings_heading }}
                    {% endif %}
                    </h3>
                    <div class="earnings-after-course-stat col-lg-12 p-3 h-100">
                        <h2 class="earnings-after-course-stat-salary mb-3 text-center text-lg-left">£{{ salary.med|intcomma }}</h2>
                        <h4 class="earnings-after-course-stat-salary-range pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.lq|intcomma salary.uq|intcomma as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_range_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="earnings-after-course-stat-small pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.pop salary.resp_rate as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_respondents_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="earnings-after-course-stat-small pt-1 text-center text-lg-left  mb-3">
                             {% if salary_index == 0 %}
                                {% create_list 2018 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_fifteen_months_data_source }}
                            {% else %}
                                {% create_list 2014 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_three_five_years_data_source }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <h2 class="earnings-after-course__stats-heading text-left pt-3 mt-5">
            {% create_list course.english_title as substitutions %}
            {% insert_values_to_rich_text content=block.value.average_earnings_sector_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </h2>

        <!-- apw added -->
        <form method='post' id='test'>
<!--            <p id="dummy_field">HTML Element for Ajax Refresh: [not yet refreshed]</p>-->
            <br/><br/>

            <p>
                <label for="regions">Choose a region:</label>
                <select name="regions" id="regions">
                {% get_region_list as region_list %}
                {% for region in region_list %}
                    <option value="{{region.id}}">{{region.name}}</option>
                {% endfor %}
                </select>
            </p>
            <br/><br/>
         <!-- apw added -->

        <div class="discover-uni-container">
            <div class="earnings-after-course-statistics d-flex row align-items-stretch">
            {% for salary in course_details.salaries_sector %}
                {% get_index_of_item salary course_details.salaries_sector as salary_index %}
                <div class="earnings-after-course_section-block col-md-12 col-lg-4 align-self-stretch my-2">
                    <h3 class="mb-0 text-center text-lg-left">
                    {% if salary_index == 0 %}
                        {{ block.value.after_fifteen_months_earnings_heading }}
                    {% elif salary_index == 1 %}
                        {{ block.value.after_three_years_earnings_heading }}
                    {% elif salary_index == 2 %}
                        {{ block.value.after_five_years_earnings_heading }}
                    {% endif %}
                    </h3>
                    <div class="earnings-after-course-stat col-lg-12 p-3 h-100">
                        <h2 class="mb-0 text-center text-lg-left" id="{% concat 'sector_salary_med_' salary_index %}">£{{ salary.med_uk|intcomma }}</h2>
<!--                        <p id="dummy_field2">HTML Element for Ajax Refresh: [not yet refreshed]</p>-->
                        <h4 class="pt-1 text-center text-lg-left mb-3" id="{% concat 'sector_salary_lq_' salary_index %}">
                            {% create_list salary.lq_uk|intcomma salary.uq_uk|intcomma as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_range_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left mb-3" id="{% concat 'sector_salary_pop_' salary_index %}">
                            {% create_list salary.pop_uk salary.resp_uk as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_respondents_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left mb-3" id="{% concat 'sector_salary_graduates_' salary_index %}">
                            {% create_list course_details.salaries_inst.0.prov_pc_uk course.english_title course.institution.pub_ukprn_name as substitutions %}
                            {% insert_values_to_rich_text content=block.value.respondents_live_in_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left mb-3">
                             {% if salary_index == 0 %}
                                {% create_list 2018 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_fifteen_months_data_source }}
                            {% else %}
                                {% create_list 2014 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_three_five_years_data_source }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- apw added -->
        <script>
            window.onload = onLoadAction;

            function onLoadAction(){
                if (typeof jQuery != 'undefined') {
                    // jQuery is loaded => print the version
                    var ver = jQuery.fn.jquery;
                    $("#jqversion").text("JQuery Version: " + ver);
                }

                $("#regions").change(function () {
                    var selected_region = $(this).val();
                    var course_details = $("#language_select").prop('href');
                    var course_params = course_details.split('/').slice(5);

                    $.ajax({
                        url: '/regional_earnings',
                        type: "POST",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" }, // Without this, Django will throw a 403 Forbidden response.
                        data: {
                            'region': selected_region,
                            'institution_id': course_params[0],
                            'course_id': course_params[1],
                            'kis_mode': course_params[2]
                        },
                        dataType: 'json',
                        success: function (data) {
                                $("#sector_salary_med_0").text("£" + data['salary_sector_15_med']);
                                $("#sector_salary_lq_0 div p").text(data['typical_range_text'] + ": £" + data['salary_sector_15_lq'] + " - £" + data['salary_sector_15_uq']);
                                $("#sector_salary_pop_0 div").replaceWith("<div class='rich-text'><p></p></div>");
                                $("#sector_salary_pop_0 div p").text(data['data_from_text'] + " " + data['salary_sector_15_pop'] + " " + data['respondents_text']);
                                $("#sector_salary_pop_0 div").append("<p>(" + data['salary_sector_15_resp'] + "% " + data['of_those_asked_text'] + ")</p>");

                                $("#sector_salary_med_1").text("£" + data['salary_sector_3_med']);
                                $("#sector_salary_lq_1 div p").text(data['typical_range_text'] + ": £" + data['salary_sector_3_lq'] + " - £" + data['salary_sector_3_uq']);
                                $("#sector_salary_pop_1 div").replaceWith("<div class='rich-text'><p></p></div>");
                                $("#sector_salary_pop_1 div p").text(data['data_from_text'] + " " + data['salary_sector_3_pop'] + " " + data['students_text']);


                                $("#sector_salary_med_2").text("£" + data['salary_sector_5_med']);
                                $("#sector_salary_lq_2 div p").text(data['typical_range_text'] + ": £" + data['salary_sector_5_lq'] + " - £" + data['salary_sector_5_uq']);
                                $("#sector_salary_pop_2 div").replaceWith("<div class='rich-text'><p></p></div>");
                                $("#sector_salary_pop_2 div p").text(data['data_from_text'] + " " + data['salary_sector_5_pop'] + " " + data['students_text']);

                                var graduates_text = sector_salary_graduates_0.innerText
                                graduates_text = graduates_text.substring(graduates_text.indexOf('%'), graduates_text.length);
                                $("#sector_salary_graduates_0 div p").text(data['go_inst_prov_pc'] + graduates_text);
                                $("#sector_salary_graduates_1 div p").text(data['go_inst_prov_pc'] + graduates_text);
                                $("#sector_salary_graduates_2 div p").text(data['go_inst_prov_pc'] + graduates_text);
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                });
            }
        </script>
        <!-- apw added -->

        </form>
    </div>
</div>
