{% load staticfiles wagtailcore_tags discover_uni_tags humanize %}


{% if course_details.show_salary_lead %}
        <div class="after-course__lead my-3 p-3 mx-1 pt-4 d-flex flex-wrap row">
            <div class="col-lg-6 col-md-12 align-self-stretch my-auto">
                <p class="after-course__overview-lead text-center text-lg-left">
                    {{block.value.section_heading}}
                </p>
            </div>
            <div class=" col-lg-6 col-md-12 align-self-stretch my-auto pt-2">
                <p>
                    <div class="after-course__intro text-center text-lg-left">
                        {{block.value.intro | richtext}}
                    </div>
                </p>
            </div>
        </div>
{% endif %}

<div class="employment-after-course_occupation-block mx-1 my-2 p-4">
    <div>
        <h2 class="employment-after-course__stats-heading text-left pt-3">
            {% create_list course.english_title as substitutions %}
            {% insert_values_to_rich_text content=block.value.average_earnings_inst_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </h2>
        <div class="employment-after-course_explanation-text">
            {% create_list course.institution.pub_ukprn_name as substitutions %}
            {% insert_values_to_rich_text content=block.value.institution_graduates_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </div>
        <div class="discover-uni-container">
            <div class="employment-after-course_occupation-statistics d-flex row align-items-stretch">
            {% for salary in course_details.salaries_inst %}
                {% get_index_of_item salary course_details.salaries_inst as salary_index %}
                <div class="col-md-12 col-lg-4 align-self-stretch my-2">
                    <h3 class="mb-0 text-center text-lg-left">
                    {% if salary_index == 0 %}
                        {{ block.value.after_fifteen_months_earnings_heading }}
                    {% elif salary_index == 1 %}
                        {{ block.value.after_three_years_earnings_heading }}
                    {% elif salary_index == 2 %}
                        {{ block.value.after_five_years_earnings_heading }}
                    {% endif %}
                    </h3>
                    <div class="employment-after-course_occupation-stat col-lg-12 p-3 h-100">
                        <h2 class="mb-0 text-center text-lg-left">£{{ salary.med }}</h2>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.lq salary.uq as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_range_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.pop salary.resp_rate as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_respondents_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                             {% if salary_index == 0 %}
                                {% create_list 2018 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_fifteen_months_data_source }}
                            {% else %}
                                {% create_list 2014 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_three_five_years_data_source }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <h2 class="employment-after-course__stats-heading text-left pt-3">
            {% create_list course.english_title as substitutions %}
            {% insert_values_to_rich_text content=block.value.average_earnings_sector_heading substitutions=substitutions as subbed_text %}
            {{ subbed_text | richtext }}
        </h2>

        <!-- apw added -->
        <form method='post' id='test'>
            <p id="dummy_field">HTML Element for Ajax Refresh: [not yet refreshed]</p>
            <br/><br/>

            <p>
                <label for="regions">Choose a region:</label>
                <select name="regions" id="regions">
                {% get_region_list as region_list %}
                {% for region in region_list %}
                    <option value="{{region.id}}">{{region.name}}</option>
                {% endfor %}
                </select>
            </p>
            <br/><br/>
         <!-- apw added -->

        <div class="discover-uni-container">
            <div class="employment-after-course_occupation-statistics d-flex row align-items-stretch">
            {% for salary in course_details.salaries_sector %}
                {% get_index_of_item salary course_details.salaries_sector as salary_index %}
                <div class="col-md-12 col-lg-4 align-self-stretch my-2">
                    <h3 class="mb-0 text-center text-lg-left">
                    {% if salary_index == 0 %}
                        {{ block.value.after_fifteen_months_earnings_heading }}
                    {% elif salary_index == 1 %}
                        {{ block.value.after_three_years_earnings_heading }}
                    {% elif salary_index == 2 %}
                        {{ block.value.after_five_years_earnings_heading }}
                    {% endif %}
                    </h3>
                    <div class="employment-after-course_occupation-stat col-lg-12 p-3 h-100">
                        <h2 class="mb-0 text-center text-lg-left" id="{% concat 'sector_salary_' salary_index %}">£{{ salary.med }}</h2>
<!--                        <p id="dummy_field2">HTML Element for Ajax Refresh: [not yet refreshed]</p>-->
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.lq salary.uq as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_range_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                            {% create_list salary.pop salary.resp_rate as substitutions %}
                            {% insert_values_to_rich_text content=block.value.after_fifteen_months_respondents_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                            {% create_list 30 course.english_title course.institution.pub_ukprn_name as substitutions %}
                            {% insert_values_to_rich_text content=block.value.respondents_live_in_explanation substitutions=substitutions as subbed_text %}
                            {{ subbed_text | richtext }}
                        </h4>
                        <h4 class="pt-1 text-center text-lg-left  mb-3">
                             {% if salary_index == 0 %}
                                {% create_list 2018 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_fifteen_months_data_source }}
                            {% else %}
                                {% create_list 2014 as substitutions %}
                                {% insert_values_to_rich_text content=block.value.after_fifteen_months_no_of_graduates_explanation substitutions=substitutions as subbed_text %}
                                {{ subbed_text | richtext }}
                                {{ block.value.after_three_five_years_data_source }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- apw added -->
        <script>
            window.onload = onLoadAction;

            function onLoadAction(){
                if (typeof jQuery != 'undefined') {
                    // jQuery is loaded => print the version
                    var ver = jQuery.fn.jquery;
                    $("#jqversion").text("JQuery Version: " + ver);
                }

                $("#regions").change(function () {
                    var selected_region = $(this).val();

                    $.ajax({
                        url: '/refresh_dummy_field',
                        type: "POST",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" }, // Without this, Django will throw a 403 Forbidden response.
                        data: {
                            'region': selected_region
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data['updated_dummy_field_val']) {
                                $("#dummy_field").text(data['updated_dummy_field_val']);
                                $("#sector_salary_0").text("£100000");
                                $("#sector_salary_1").text("£200000");
                                $("#sector_salary_2").text("£300000");
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                });
            }
        </script>
        <!-- apw added -->

        </form>
    </div>
</div>
