{% load staticfiles %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}

{% for entry_stats in course_details.entry_stats %}
    <div class="entry-information__block">
        <h2 class="entry-information__heading">{{block.value.qualification_heading}}{% if course_details.has_multiple_entry_stats %}:
            {{entry_stats.display_subject_name}}{% endif %}
        </h2>

        <p class="entry-information__lead">
            {{block.value.qualification_intro}}
        </p>

        {% if entry_stats.display_stats %}
            <div class="entry-information__qualification-charts">
                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.degree}}"
                        data-label="entry-degree"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='degree' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='degree' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='degree' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.another_higher_education_qualifications}}"
                        data-label="entry-other_higher_qualifications"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='other_higher_qualifications' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='other_higher_qualifications' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='other_higher_qualifications' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.a_level}}"
                        data-label="entry-a_level"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='a_level' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='a_level' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='a_level_similar' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.baccalaureate}}"
                        data-label="entry-baccalaureate"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='baccalaureate' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='baccalaureate' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='baccalaureate' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.access}}"
                        data-label="entry-access_course"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='access_course' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='access_course' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='access_course' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.foundation}}"
                        data-label="entry-foundation_course"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='foundation_course' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='foundation_course' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='foundation_course' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.none}}"
                        data-label="entry-no_qualifications"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='no_qualifications' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='no_qualifications' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='no_qualifications' language=page.get_language %}</label>
                </div>

                <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.other_qualifications}}"
                        data-label="entry-other"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='other' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='other' language=page.get_language %}">
                    {% include 'courses/partials/bar_chart.html' %}
                    <label class="entry-information__chart-label" aria-hidden="true">{% get_translation key='other' language=page.get_language %}</label>
                </div>

                <div class="explanation">
                    <div class="explanation__link">
                        <img class="information-icon" src="{% static 'images/information.svg' %}" alt="">
                        <button class="information-link">{% get_translation key='chart_label_explained' language=page.get_language %}</button>
                    </div>

                    <div tabindex="-1" class="chart-label-explanation" role="dialog">
                        <h3 class="chart-label-explanation__heading">
                            {{block.value.qualification_label_explanation_heading}}
                        </h3>

                        <button class="chart-label-explanation__close"><img src="{% static 'images/close-grey.svg' %}" alt="Close  pop up"></button>

                        <div class="chart-label-explanation__body">
                            {{block.value.qualification_label_explanation_body}}
                        </div>
                    </div>
                </div>

                <div class="explanation-text">
                    {% create_list entry_stats.number_of_students as substitutions %}
                    {% insert_values_to_rich_text content=block.value.qualification_data_source substitutions=substitutions as subbed_text %}
                    {{ subbed_text | richtext }}
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'courses/partials/unavailable_disclaimer.html' with reason=entry_stats.display_unavailable_reason %}
{% endfor %}

{% for tariff_stats in  course_details.tariff_stats %}
    <div class="entry-information__block">
        <h2 class="entry-information__heading">{{block.value.tariffs_heading}}{% if course_details.has_multiple_tariff_stats %}:
            {{tariff_stats.display_subject_name}}{% endif %}</h2>

        <p class="entry-information__lead">
            {{block.value.tariffs_intro}}
        </p>

        {% if tariff_stats.show_stats %}
            <div class="entry-information__tariff-charts">
                {% for tariff in tariff_stats.tariffs %}
                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{tariff.entrants}}"
                        data-label="entry-tariff-{{forloop.counter}}"
                        data-title="{% get_translation key='tariff_graph_title' language=page.get_language %} {{tariff.label}}"
                        data-desc="{% get_translation key='tariff_graph_desc' language=page.get_language %} {{tariff.label}}">
                        {% include 'courses/partials/bar_chart.html' %}

                        <label class="entry-information__chart-label" aria-hidden="true"><span>{{tariff.label}}</span></label>
                    </div>
                {% endfor %}

                <div class="explanation-text">
                    {% create_list tariff_stats.number_of_students as substitutions %}
                    {% insert_values_to_rich_text content=block.value.tariffs_data_source substitutions=substitutions as subbed_text %}
                    {{ subbed_text | richtext }}
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'courses/partials/unavailable_disclaimer.html' with reason=tariff_stats.display_unavailable_reason %}
{% endfor %}
