{% load staticfiles %}
{% load wagtailcore_tags %}
{% load discover_uni_tags %}



    <div class="entry-information__block">
        <div class="entry-information__overview my-3 p-3 mx-1 pt-4 d-flex flex-wrap row">
            <div class="col-lg-6 col-md-12 align-self-stretch my-auto">
                <p class="entry-information__overview-lead text-center text-lg-left">
                    {% get_translation key='entrance_data_need_to_know' language=page.get_language %}
                </p>
            </div>
            <div class=" col-lg-6 col-md-12 align-self-stretch my-auto pt-2">
                <p>
                    <div class="entry-information__intro text-center text-lg-left">
                        {% get_translation key='entrance_data_quals_students_had' language=page.get_language %}
                    </div>
                </p>
                <p><a href="https://discoveruni.gov.uk/how-do-i-choose-course/entry-requirements/" class="text-center text-lg-left">{% get_translation key='entrance_data_read_more' language=page.get_language %}</a></p>
            </div>
        </div>

        <!-- <p class="entry-information__lead">
            {{block.value.qualification_intro}}
        </p> -->

{% if course_details.has_multiple_entry_stats %}
<ul class="nav nav-tabs" id="qualification-types-tab" role="tablist">
    {% for entry_stats in course_details.entry_stats %}
        <li class="nav-item">
            <a class="nav-link {% if not forloop.counter0 %} active {% endif %}" id="qualification-types-{{ forloop.counter }}-tab" data-toggle="tab" href="#qualification-types-{{ forloop.counter }}" role="tab"
               aria-controls="qualification-types-{{ forloop.counter }}" aria-selected="true">
                {{entry_stats.display_subject_name}}
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="tab-content">
{% for entry_stats in course_details.entry_stats %}
    {% if entry_stats.display_stats %}
        <div class="tab-pane {% if not forloop.counter0 %} show active  {% endif %}" id="qualification-types-{{ forloop.counter }}" role="tabpanel" aria-labelledby="qualification-types-{{ forloop.counter }}-tab">

            <div class="entry-information__qualification-charts p-3 d-flex flex-wrap row mx-1">
                <div class="col-lg-4 col-md-12 align-self-stretch my-auto">
                    <h2 class="entry-information__heading py-3">{{block.value.qualification_heading}}{% if course_details.has_multiple_entry_stats %}:
                        {{entry_stats.display_subject_name}}{% endif %}
                    </h2>
                    <div class="entry-information__qualification_intro mt-2">
                        <p>Source: <a href="#">Data for individual students collected directly from universities and colleges</a></p>
                        <p>40 students (90% of those who were asked)</p>
                        <p><a href="#">Additional information</a></p>
                        
                    </div>
                </div>

                <div class=" col-lg-8 col-md-12 align-self-stretch my-auto pt-2">

                        <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.degree}}"
                            data-label="entry-degree"
                            data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='degree' language=page.get_language %}"
                            data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='degree' language=page.get_language %}">
                            
                            <div class="row d-flex">
                                <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                    {% include 'courses/partials/bar_chart.html' %}
                                </div>
                                <div class="col-lg-6 order-md-2 order-lg-1">
                                    <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='degree' language=page.get_language %}</label>
                                </div>
                            </div>
                        </div>
                  
                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.another_higher_education_qualifications}}"
                        data-label="entry-other_higher_qualifications"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='other_higher_qualifications' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='other_higher_qualifications' language=page.get_language %}">
                    
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                            {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='other_higher_qualifications' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.a_level}}"
                        data-label="entry-a_level"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='a_level' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='a_level' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='a_level_similar' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.baccalaureate}}"
                        data-label="entry-baccalaureate"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='baccalaureate' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='baccalaureate' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='baccalaureate' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.access}}"
                        data-label="entry-access_course"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='access_course' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='access_course' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='access_course' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.foundation}}"
                        data-label="entry-foundation_course"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='foundation_course' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='foundation_course' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='foundation_course' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.none}}"
                        data-label="entry-no_qualifications"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='no_qualifications' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='no_qualifications' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='no_qualifications' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>

                    <div class="entry-information__chart discover-uni-chart bar" data-value="{{entry_stats.other_qualifications}}"
                        data-label="entry-other"
                        data-title="{% get_translation key='entry_graph_title' language=page.get_language %} {% get_translation key='other' language=page.get_language %}"
                        data-desc="{% get_translation key='entry_graph_desc' language=page.get_language %} {% get_translation key='other' language=page.get_language %}">
                        <div class="row d-flex">
                            <div class="col-lg-6 order-md-1 order-lg-2 text-lg-right">
                                {% include 'courses/partials/bar_chart.html' %}
                            </div>
                            <div class="col-lg-6 order-md-2 order-lg-1">
                                <label class="entry-information__chart-label float-lg-right" aria-hidden="true">{% get_translation key='other' language=page.get_language %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% include 'courses/partials/unavailable_disclaimer.html' with unavailable=entry_stats.display_unavailable_info %}
    </div>

{% endfor %}
</div>

{% if course_details.has_multiple_tariff_stats %}
<ul class="nav nav-tabs" id="ucas-points-tab" role="tablist">
    {% for tariff_stats in  course_details.tariff_stats %}
        <li class="nav-item">
            <a class="nav-link {% if not forloop.counter0 %} active {% endif %}" id="ucas-points-{{ forloop.counter }}-tab" data-toggle="tab" href="#ucas-points-{{ forloop.counter }}" role="tab"
               aria-controls="ucas-points-{{ forloop.counter }}" aria-selected="true">
                {{ tariff_stats.display_subject_name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="tab-content">
{% for tariff_stats in  course_details.tariff_stats %}
   <div class="tab-pane {% if not forloop.counter0 %} show active  {% endif %}" id="ucas-points-{{ forloop.counter }}" role="tabpanel" aria-labelledby="ucas-points-{{ forloop.counter }}-tab">

    <div class="entry-information__block my-2">
        <div class="entry-information__ucas-points p-3 d-flex flex-wrap row mx-1">
            <div class="col-lg-4 col-md-12 align-self-stretch my-auto">
                <h2 class="entry-information__heading py-3">{{block.value.tariffs_heading}}{% if course_details.has_multiple_tariff_stats %}:
                    {{tariff_stats.display_subject_name}}{% endif %}</h2>

                <!-- <p class="entry-information__lead">
                    {{block.value.tariffs_intro}}
                </p> -->
                <p>Source: <a href="#">Data for individual students collected directly from universities and colleges</a></p>
                <p>40 students (90% of those who were asked)</p>
                <p><a href="#">Additional information</a></p>

            </div>
            <div class=" col-lg-8 col-md-12 align-self-stretch my-auto pt-2">
                {% if tariff_stats.show_stats %}
                    <div class="entry-information__tariff-charts">
                        {% for tariff in tariff_stats.tariffs %}
                            <div class="entry-information__chart discover-uni-chart bar" data-value="{{tariff.entrants}}"
                                data-label="entry-tariff-{{forloop.counter}}"
                                data-title="{% get_translation key='tariff_graph_title' language=page.get_language %} {{tariff.label}}"
                                data-desc="{% get_translation key='tariff_graph_desc' language=page.get_language %} {{tariff.label}}">
                                <div class="row d-flex">
                                    <div class="col-lg-8 order-md-1 order-lg-2 text-lg-right">
                                        {% include 'courses/partials/bar_chart.html' %}
                                    </div>
                                    <div class="col-lg-4 order-md-2 order-lg-1">
                                        <label class="entry-information__chart-label" aria-hidden="true"><span class="float-lg-right">{{tariff.label}}</span></label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
             </div>
        </div>
    </div>
    {% include 'courses/partials/unavailable_disclaimer.html' with unavailable=tariff_stats.display_unavailable_info %}
   </div>
{% endfor %}
</div></div>

