<nav class="navbar sticky-top navbar-expand-md fixed-top navbar-dark bg-dark" id="sticky_nav_course_detail">
    <div class="navbar-nav flex-md-row">
        {% for accordion in page.accordions %}
            <a class="nav-item nav-link scrollto d-none d-lg-inline" href="#{{accordion.value.data_set}}" id="a_{{accordion.value.data_set}}">{{ accordion.value.heading }}</a>
        {%endfor%}
        <div class="dropdown d-xs-inline d-lg-none">
            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" 
            class="nav-link dropdown-toggle text-white" href="#">
                <span id="selected">Student Satisfaction</span><span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-center">
            {% for accordion in page.accordions %}
                    <li>
                        <a class="nav-item nav-link scrollto" href="#{{accordion.value.data_set}}" id="a_{{accordion.value.data_set}}">{{ accordion.value.heading }}</a>
                    </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</nav>