<div class="comparison_row">
    <div class="column-title_container header">
        <div class="column-first {{ header_font }}">
            {{ title }}
        </div>
    </div>

    <div class="small-flex-div">
        {% for course in data %}
            <div class="column {{ mt }} cc-column-{{ forloop.counter0 }}">
                {% with column_id=forloop.counter0 %}
                    <div class="column-{{ index }}{{ accordion.title }}">
                        {% for header in course.header %}
                            <div class="column-{{ column_id }}{{ accordion.title }} item-{{ forloop.counter0 }}"
                                 {% if not forloop.first %}hidden{% endif %}>{{ header }}</div>
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>


