{% load static %}
{% load discover_uni_tags %}
<div class="comparison_row" style="background-color: #F7F7F7;">
    {% with item.overall_satisfaction.0.satisfaction_stats.question_1.agree_or_strongly_agree as percent %}
        <div class="column-title_container header">
            <div class="column-first {{ header_font }}">
                {% if title %}{{ title }}{% endif %}
            </div>
            <div class="column-first subtitle {{ header_font }}">
                {{ subtitle|slice:"2:" }}
            </div>
        </div>

        <div class="small-flex-div">
            {% for item in values %}
                <div class="column {{ item_font }} cc-column-{{ forloop.counter0 }}">
                    {% with index=forloop.counter0 last=forloop.last %}
                        {% if item %}
                            <!--TODO: MEG change this to t1 when we have it-->
                            {% with item.overall_satisfaction.0.satisfaction_stats.question_1.agree_or_strongly_agree as percent %}
                                {% if percent %}
                                {% include 'courses/new_course_details/partials/custom_donut.html' with percent=percent %}
                                {% else %}
                                    {% get_translation key="no_data_available" language=page.get_language %} <i class="fas fa-info-circle information-icon"></i>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endwith %}
</div>