/* Content */

.content-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px 90px 1fr;
  grid-template-rows: 240px 90px 1fr;
}

.content-header {
  padding: 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  height: 100%;
  background-color: #4C4D6C;
  color: #fff;
}

.content-header h1 {
  font-size: 54px;
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.breadcrumb-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 84%;
  grid-template-columns: 84%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breadcrumb {
  display: inline-block;
  padding-left: 0;
  align-self: center;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li a, .breadcrumb .active  {
  text-decoration: none;
  font-size: 19px;
  color: #8F8F8F;
}

@media only screen and (max-width: 769px) {

  .content-page {
    -ms-grid-rows: 240px 45px 1fr;
    grid-template-rows: 240px 45px 1fr;
  }

  .breadcrumb-container li {
    display: none;
  }
}

/* Content Landing Page */

.content-landing-page .options-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-row-gap: 30px;
  -ms-grid-columns: 42% 30px 42%;
  grid-template-columns: 42% 42%;
  -ms-grid-rows: 255px 30px 255px;
  grid-template-rows: 255px 255px;
  padding-bottom: 90px;
}

.content-landing-page .options-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.content-landing-page .options-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.content-landing-page .options-container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.content-landing-page .options-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.content-landing-page .options-container div {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: #F0F7FF;
  border: 1px solid #4C4D6C;
  border-radius: 6px;
}

.content-landing-page .options-container div:hover {
  cursor: pointer;
}

.content-landing-page .options-container h2 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  margin: 0 41px;
}

.content-landing-page .options-container h2 a {
  text-decoration: none;
  color: #4C4D6C;
  font-size: 33px;
}

@media only screen and (max-width: 769px) {

  .content-header h1 {
    font-size: 33px;
    margin: 0 30px;
  }

  .content-landing-page .options-container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-row-gap: 30px;
    -ms-grid-columns: 84%;
    grid-template-columns: 84%;
    -ms-grid-rows: 105px 30px 105px 30px 105px 30px 105px;
    grid-template-rows: 105px 105px 105px 105px;
  }

  .content-landing-page .options-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .content-landing-page .options-container > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .content-landing-page .options-container > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .content-landing-page .options-container > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .back {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 84%;
    grid-template-columns: 84%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .back button a {
    font-size: 16px;
  }

  .content-landing-page .options-container h2 a {
    font-size: 24px;
  }
}

/* Section Page */

.subsections-container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-row-gap: 30px;
  -ms-grid-columns: 84%;
  grid-template-columns: 84%;
}

.subsection {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px;
  grid-template-rows: 90px;
  background: #F0F7FF;
  border: 1px solid #4C4D6C;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.subsection:hover {
  cursor: pointer;
}

.subsection .rich-text .subsection-content {
  display: none;
}

.open-subsection {
  -ms-grid-rows: 1fr !important;
  grid-template-rows: 1fr !important;
}

.open-subsection .rich-text .subsection-content {
  display: block;
}

.subsection h4 {
  padding-top: 30.5px;
  padding-bottom: 30.5px;
  font-size: 24px;
  line-height: 29px;
  color: #4C4D6C;
  padding-left: 46px;
  margin: 0;
}

.subsection .rich-text .subsection-content {
  padding: 45px 45px 30px 45px;
}

.subsection-text {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  column-gap: 60px;
}

.subsection .rich-text p:first-of-type {
  margin-top: 0;
}

.subsection .rich-text p {
  font-size: 19px;
  line-height: 22px;
  color: #626377;
}


.subsection .down-arrow {
  position: absolute;
  right: 0;
  display: -ms-grid;
  display: grid;
  width: 90px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90px;
  border-left: 1px solid #4C4D6C;
}

.subsection .down-arrow svg {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.open-subsection .down-arrow svg {
  transform: rotate(180deg);
}

.subsection-content .full-width {
  width: 100%;
}

.subsection iframe {
  width: 100%;
  height: 480px;
}

.responsive-object {
  padding-bottom: 0 !important;
}

.related-links {
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 84%;
  grid-template-columns: 84%;
  grid-row-gap: 30px;
  text-align: center;
  background-color: #F3F9FF;
  color: #4C4D6C;
  margin-top: 90px;
  padding-bottom: 105px;
}

.related-links h2 {
  margin: 0;
  padding: 60px 0 30px 0;
  font-size: 33px;
  line-height: 40px;
}

.related-links .link {
  display: grid;
  display: -ms-grid;
  height: 150px;
  background-color: #fff;
  border: 1px solid #4C4D6C;
  box-sizing: border-box;
  border-radius: 6px;
}

.related-links .link h3 {
  align-self: center;
}

.related-links .link h3 a {
  color: #4C4D6C;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.lateral-links {
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 84%;
  grid-template-columns: 84%;
  grid-row-gap: 30px;
  text-align: center;
  color: #4C4D6C;
  padding-bottom: 90px;
}

.lateral-links h2 {
  margin: 0;
  padding: 75px 0 17px 0;
  font-size: 33px;
  line-height: 40px;
}

.lateral-links .link {
  display: grid;
  display: -ms-grid;
  height: 150px;
  margin: 0 0 15px 0;
  background-color: #F3F9FF;
  border: 1px solid #4C4D6C;
  box-sizing: border-box;
  border-radius: 6px;
}

.lateral-links .link h3 {
  align-self: center;
}

.lateral-links .link h3 a {
  color: #4C4D6C;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

@media only screen and (max-width: 769px) {
  .subsection {
    -ms-grid-rows: 75px;
    grid-template-rows: 75px;
  }

  .subsection h4 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 27.5px;
    padding-bottom: 27.5px;
  }

  .subsection .down-arrow {
    height: 75px;
    width: 75px;
  }

  .subsection .down-arrow svg {
    width: 23.6px;
    height: 13.04px;
  }

  .subsection .rich-text .subsection-content {
    padding: 30px;
  }

  .subsection-text {
    column-count: 1;
  }

  .related-links {
    margin-top: 45px;
    padding-bottom: 45px;
  }

  .lateral-links {
    padding-bottom: 45px;
  }

  .related-links .link, .lateral-links .link {
    height: 105px;
  }

  .related-links h2, .lateral-links h2 {
    padding-top: 45px;
    font-size: 24px;
    line-height: 29px;
  }

  .related-links .link h3 a, .lateral-links .link h3 a {
    font-size: 19px;
    line-height: 110%;
  }
}
