@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';
@import 'content_landing_page';
@import 'section';
@import 'flat-content';

.content-page {
    padding: 35px 20px 65px;
    
    background-image: url('/static/images/user-nav-background.png');
    background-position: right top;

    &__header {
        @include m-heading--bold-mixin();


        margin-left: 0;
        margin-bottom: 28px;
        color: $ux-grey-3;
        margin-top:1rem;
    }

    &__intro {
        @include mobile-body-font-mixin();

        margin-bottom: 30px;

        p {
            margin: 0px;
            margin-bottom: 1em;

            &:last-child {
               margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .content-page {
        padding: 45px 40px 132px;

        &__header {
            @include l-heading--bold-mixin();

            margin-left: 0;
            margin-bottom: 28px;
            line-height: 65px;
            color: $ux-grey-3;
            margin-top:2rem!important;
        }

        &__intro {
            @include desktop-body-font-mixin();

            margin-bottom: 30px;
            line-height: 26px;
        }
    }
}

@media only screen and (max-width: 575px){
    div.content-landing-page__content{
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 766px){
    div.content-landing-page__content{
        width: 540px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    div.content-landing-page__content{
        width: 720px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    div.content-landing-page__content{
        width: 960px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
@media only screen and (min-width: 1200px){
    div.content-landing-page__content{
        width: 1140px!important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}