@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.section-page {
    &__accordions {

    }

    &__accordion {
        margin-bottom: 10px;

        &-header {
            background-color: $ux-grey-1;
            padding: 30px  22px 30px 25px;
            display: flex;
            justify-content: space-between;

            .minus {
                display: none;
            }

            .plus {
                display: none;
            }

            &.open {
                @include green-gradient-background-mixin();

                .section-page__accordion-title {
                    color: white;
                }
            }
        }

        &-title {
            @include small-font--bold-mixin();

            margin: 0px;

            color: $ux-grey-3;
            line-height: 19px;
        }

        &-body {
            background-color: $ux-grey-1;

            &-content {
                @include small-font-mixin();

                padding: 30px;

                p {
                    margin-top: 0px;

                    line-height: 19px;
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .subsection {
        -ms-grid-rows: 75px;
        grid-template-rows: 75px;

        h4 {
            font-size: 16px;
            line-height: 20px;
            padding-top: 27.5px;
            padding-bottom: 27.5px;
        }

        .down-arrow {
            height: 75px;
            width: 75px;

            svg {
                width: 23.6px;
                height: 13.04px;
            }
        }
    }

    .subsection-content {
        padding: 30px;
    }

    .related-links {
        margin-top: 45px;
    }

    .related-links, .lateral-links {
        padding-bottom: 45px;

        .link {
            height: 105px;
        }

        h2 {
            padding-top: 45px;
            font-size: 24px;
            line-height: 29px;
        }

        h3 a {
            font-size: 19px;
            line-height: 110%;
        }
    }
}
