@import '../../../CMS/static/scss/fonts';
@import '../../../CMS/static/scss/variables';

.section-page {
    &__accordion {
        margin-bottom: 10px;

        &-header {
            padding: 30px  22px 30px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            border: 3px solid transparent;
            background-color: $ux-grey-1;
            cursor: pointer;

            &:hover {
                border: 3px solid $gradient-light-green;
            }

            .collapse {
                display: none;
            }

            .expand {
                display: none;
            }

            &.open {
                @include green-gradient-background-mixin();

                .section-page__accordion-title {
                    color: white;
                }
            }
        }

        &-title {
            @include small-font--bold-mixin();

            margin: 0px;

            color: $ux-grey-3;
            line-height: 19px;
        }

        &-body {
            background-color: $ux-grey-1;

            &-content {
                @include small-font-mixin();
                padding: 30px;

                h3 {
                    @include xs-heading--bold-mixin();
                }

                h4 {
                    @include desktop-body-font--bold-mixin();
                }

                p {
                    margin-top: 0px;

                    line-height: 19px;
                }

                ul {
                    li {
                        margin-bottom: 8px;
                    }
                }

                blockquote {
                    @include mobile-body-font-mixin();

                    padding: 40px;
                    margin: 0px;

                    color: $ux-grey-3;
                    background-color: $white;
                    border: 1px solid $ux-grey-3;
                    border-radius: 10px;

                    b {
                        @include xs-heading--bold-mixin();

                        display: block;
                        margin-bottom: 10px;

                        color: $gradient-light-green;
                    }
                }
            }
        }
    }

    .additional-links {
        margin-top:2.5rem;
        margin-bottom: 40px;

        &__header {
            @include s-heading--bold-mixin();
            text-align: left;
            color:#6E6E6E;
        }

        &__link {
            &-wrapper {
                margin: 5px;
                padding: 10px;
                display: grid;
                -ms-flex-preferred-size: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                min-width: 0;
                max-width: 100%;
                flex-wrap: wrap;
               
                a {
                    text-align: center;
                    @include xs-heading--bold-mixin();

                    padding: 37px;
                    display: block;

                    background: #FFFFFF;
                    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    text-decoration: none;
                    color: $gradient-light-green;
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                margin-top:1rem;
                margin-bottom:1rem;
            }
        }

        @media only screen and (min-width: 770px) {
            .additional-links {

                margin-top:2.5rem;

                &__link {
                    text-align: center;
                    flex-wrap: nowrap;

                    &-wrapper {
                        margin: 0 5px;
                        padding: 5px;
                    }

                    &-list {
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .section-page {
        &__accordion {
            margin-bottom: 7px;

            &-header {
                padding: 30px  30px 30px 32px;
            }

            &-title {
                @include xs-heading--bold-mixin();

                color: $ux-grey-3;
                line-height: 29px;
            }

            &-body {
                &-content {
                    @include xs-heading-mixin();
                    padding: 60px 80px 70px;

                    h3 {
                        @include s-heading--bold-mixin();

                        margin-bottom: 5px;
                        margin-top: 2em;

                        &:first-child {
                            margin-top: 0px;
                        }
                    }

                    h4 {
                        @include xs-heading--bold-mixin();

                        margin-bottom: 5px;
                        margin-top: 2em;

                        &:first-child {
                            margin-top: 0px;
                        }
                    }

                    p {
                        margin-top: 0px;

                        line-height: 29px;
                    }

                    ul {
                        li {
                            margin-bottom: 10px;
                        }
                    }

                    blockquote {
                        @include desktop-body-font-mixin();

                        color: $ux-grey-3;

                        b {
                            @include s-heading--bold-mixin();

                            color: $gradient-light-green;
                        }
                    }
                }
            }
        }
    }
}
