{% load static discover_uni_tags wagtailcore_tags %}

    <script>
        const total_courses = "{{search.total_courses}}"
        const sort_by_subject_limit = "{{sort_by_subject_limit}}"

        function closeFilter(filter) {  
            document.getElementById(filter).checked = false;
            if(total_courses > sort_by_subject_limit){
                document.getElementById("sort_by_subject").value = false
            }
            document.getElementById("filterForm").submit();
        }

        function closePostcode(){
            document.getElementById('postcode_field').value = ""
            document.getElementById('postcode-distance').value = ""
            if(total_courses > sort_by_subject_limit){
                document.getElementById("sort_by_subject").value = false
            }
            document.getElementById("filterForm").submit();
        }

        function closeCourseQuery(){
            document.getElementById('course_query').value = '';
            var institutions = '{{filter_form.institutions}}'.replace(/&#39;/g, "'")
            var institutions_format = institutions.replace(/&amp;/g, "&")
            var institutions_list = institutions_format.split("@")
            if(total_courses > sort_by_subject_limit){
                document.getElementById("sort_by_subject").value = false
            }

            if(institutions_list[0].length > 1){
                for (i = 0; i < institutions_list.length; i++ ){
                    document.getElementById(institutions_list[i]).checked = true;    
                }
            }
            document.getElementById("filterForm").submit();
        }           

        function closeInstitutionQuery(id){
            document.getElementById(id + '-check').checked = false;
            let course = '{{filter_form.course_query}}';
            let institutions = '{{filter_form.institutions}}'
            document.getElementById('course').value = course;
            if(total_courses > sort_by_subject_limit){
                document.getElementById("sort_by_subject").value = false
            }
            document.getElementById("filterForm").submit();
        }

        function closeAllInstitutions(){
            let course = '{{filter_form.course_query}}';
            document.getElementById('course').value = course;
            $('.inst-chk').prop('checked', false);
            if(total_courses > sort_by_subject_limit){
                document.getElementById("sort_by_subject").value = false
            }
            document.getElementById("filterForm").submit();
        }
    </script>

    <script>
        var postcode_query = '{{postcode_query}}'.split(',')
        var postcode_pill_text = "{% get_translation key='within_miles' language=page.get_language %}"
    </script>

{% if filter_form.mode_query or filter_form.countries_query or filter_form.course_query or filter_form.institutions or postcode_query %}
    <div id="institution_pill" class="filters-block__filter-active-filter">
        {% if filter_form.course_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">"{{filter_form.course_query|title}}"</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeCourseQuery() class="filters-block__filter-iconclose">
                </div>

        {% endif %}
        {% if institution_array|length >= 6 %}
            <div class="filters-block__filter-pill">
                <p id="multipleInstitutions" class="filters-block__filter-text"></p>
                <img src="{% static 'images/icon-close.svg'%}" onclick='closeAllInstitutions()' class="filters-block__filter-iconclose">
            </div>
            <script>
                var translation = "{% get_translation key='number_selected_institutions' language=page.get_language %}"
                var institutions = document.getElementById("multipleInstitutions")
                var institutions_list = "{{filter_form.institutions}}".split("@")
                institutions.innerHTML = translation.replace("{}", institutions_list.length)
            </script>
        {% elif institution_array|length >= 1 %}
            {% for institution in institution_array %}
                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{{institution}}</p>
                    <img src="{% static 'images/icon-close.svg'%}" id="{{institution}}" onclick=closeInstitutionQuery(id) class="filters-block__filter-iconclose">
                </div>
            {% endfor %}
        {% endif %}

        {% if 'Full-time' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='full_time' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-full-time') class="filters-block__filter-iconclose">
                </div>

        {% endif %}

        {% if 'Part-time' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='part_time' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-part-time') class="filters-block__filter-iconclose">
                </div>
         

        {% endif %}

        {% if 'Distance' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='distance_learning' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-distance') class="filters-block__filter-iconclose">
                </div>


        {% endif %}

        {% if 'campus' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='on_campus' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-campus') class="filters-block__filter-iconclose">
                </div>
            

        {% endif %}

        {% if 'Distance' in filter_form.mode_query and 'campus' not in filter_form.mode_query %}

        {% else %}

            {% if 'England' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='england' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-england') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Scotland' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='scotland' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-scotland') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Wales' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='wales' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-wales') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Ireland' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='northern_ireland' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-ireland') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}
        {% endif %}
        {% if postcode_query|length > 0 %}

                <div class="filters-block__filter-pill">
                    <p id="postcode-pill" class="filters-block__filter-text"></p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closePostcode() class="filters-block__filter-iconclose">
                </div>

                <script>
                    var postcode_pill = document.getElementById('postcode-pill')
                    postcode_pill.innerHTML = postcode_query[0].toUpperCase() + " " + postcode_pill_text.replace('{}', postcode_query[1])
                </script>
        {% endif %}

            <div id="clear-filters" class="filters-block__filter-remove-pill">
                <p class="filters-block__filter-text">
                    {% get_translation key='remove_filters' language=page.get_language %}
                </p>
                <img src="{% static 'images/icon-close.svg'%}" class="filters-block__filter-iconclose">
            </div>
            

    </div>
{% endif %}
