{% load static discover_uni_tags wagtailcore_tags %}

    <script>
        // a function to select the value the passed in value for study_mode and set it to null
        // if distance learning is the only filter applied, or if you are closing the oncampus filter, and the distance learning is active, all regional filters will be removed also.
        function closeFilter(filter) {  
          document.getElementById(filter).checked = false;
          document.getElementById("filterForm").submit();
        }
    </script>

    <script>
        function closeCourseQuery(){
            document.getElementById('course_query').value = '';
            let institution = '"{{filter_form.institutions}}"';
            document.getElementById('institutions_query').value = institution;
            document.getElementById("filterForm").submit();
        }           

        function closeInstitutionQuery(){
            document.getElementById('institutions_query').value = '';
            let course = '{{filter_form.course_query}}';
            document.getElementById('course').value = course;
            document.getElementById("filterForm").submit();
        }
    </script>

{% if filter_form.mode_query or filter_form.countries_query or filter_form.course_query or filter_form.institutions %}
    <div class="filters-block__filter-active-filter">
        {% if filter_form.course_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{{filter_form.course_query}}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeCourseQuery() class="filters-block__filter-iconclose">
                </div>

        {% endif %}

        {% if filter_form.institutions %}
                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{{filter_form.institutions}}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeInstitutionQuery('institution_query') class="filters-block__filter-iconclose">
                </div>

        {% endif %}

        {% if 'Full-time' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='full_time' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-full-time') class="filters-block__filter-iconclose">
                </div>

        {% endif %}

        {% if 'Part-time' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='part_time' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-part-time') class="filters-block__filter-iconclose">
                </div>
         

        {% endif %}

        {% if 'Distance' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='distance_learning' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-distance') class="filters-block__filter-iconclose">
                </div>


        {% endif %}

        {% if 'campus' in filter_form.mode_query %}

                <div class="filters-block__filter-pill">
                    <p class="filters-block__filter-text">{% get_translation key='on_campus' language=page.get_language %}</p>
                    <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('mode-campus') class="filters-block__filter-iconclose">
                </div>
            

        {% endif %}

        {% if 'Distance' in filter_form.mode_query and 'campus' not in filter_form.mode_query %}

        {% else %}

            {% if 'England' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='england' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-england') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Scotland' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='scotland' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-scotland') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Wales' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='wales' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-wales') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}

            {% if 'Ireland' in filter_form.countries_query %}

                    <div class="filters-block__filter-pill">
                        <p class="filters-block__filter-text">{% get_translation key='northern_ireland' language=page.get_language %}</p>
                        <img src="{% static 'images/icon-close.svg'%}" onclick=closeFilter('countries-ireland') class="filters-block__filter-iconclose">
                    </div>

            {% endif %}
        {% endif %}

            <div id="clear-filters" class="filters-block__filter-remove-pill">
                <p class="filters-block__filter-text">
                    {% get_translation key='remove_filters' language=page.get_language %}
                </p>
                <img src="{% static 'images/icon-close.svg'%}" class="filters-block__filter-iconclose">
            </div>
            

    </div>
{% endif %}
