{% load discover_uni_tags wagtailcore_tags %}

<div class="filters-wrapper">
    <div class="discover-uni-container">
        <div class="filters-block">
            <p class="filters-block__cancel-button"><span class="filters-block__cancel-button-icon">X</span> Cancel</p>

            <form method="post" {% if page.is_english %} action="/course-finder/results/" {% else %} action="/cy/course-finder/results/" {% endif %} class="filters-block__form">
                {% csrf_token %}

                <input id="page_input" name="page" type="text" value="{{search.page}}" hidden />
                <input id="count_input" name="count" type="text" value="{{search.count}}" hidden />

                <input name="course_query" id="course_query" type="text" value="{{filter_form.course_query}}" hidden />

                <div class="filters-block__filter">
                    <fieldset>
                        <legend>
                            <h2 class="filters-block__filter-heading">
                                {% get_translation key='study_mode' language=page.get_language %}
                            </h2>
                        </legend>

                        <div class="filters-block__filter-options">
                            <div class="filters-block__filter-option--three-col">
                                <input id="mode-full-time" class="" type="checkbox" name="mode_query" value="Full-time"
                                    {% if 'Full-time' in filter_form.mode_query %}checked{% endif %}/>

                                <label class="" for="mode-full-time">
                                        {% get_translation key='full_time' language=page.get_language %}
                                </label>
                            </div>

                            <div class="filters-block__filter-option--three-col">
                                <input id="mode-part-time" class="" type="checkbox" name="mode_query" value="Part-time"
                                    {% if 'Part-time' in filter_form.mode_query %}checked{% endif %}/>

                                <label class="" for="mode-part-time">
                                    {% get_translation key='part_time' language=page.get_language %}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="filters-block__submit-block">
                    <button class="filters-block__submit-btn disabled">
                        {% get_translation key='apply_filters' language=page.get_language %}
                    </button>
                    <div class="filters-apply-button">Apply filters</div>
                    <div class="filters-show-button">Show filters</div>            
                </div>
            </form>
        </div>
    </div>
</div>
