{% load staticfiles discover_uni_tags wagtailcore_tags %}

<div class="filters-wrapper">
    <div class="discover-uni-container">
        <div class="filters-block">
            <form method="post" {% if page.is_english %} action="/course-finder/results/" {% else %} action="/cy/course-finder/results/" {% endif %} class="filters-block__form">
                {% csrf_token %}
                
                <input id="page_input" name="page" type="text" value="{{search.page}}" hidden />
                <input id="count_input" name="count" type="text" value="{{search.count}}" hidden />
                
                <input name="course_query" id="course_query" type="text" value="{{filter_form.course_query}}" hidden />
                
                <!-- MY STUFF -->
                <div class="filters-filter">
                    <div class="filters-filter-header">Study mode</div>                   
                    <div class="course-finder-results__result-accordion">
                        <fieldset>
                            <div tabindex="0" role="button" aria-label="Show content" class="course-finder-results__result-accordion-header">
                                <div class="course-finder-results__result-accordion-heading">
                                    <h2 class="course-finder-results__result-accordion-title">
                                        {% get_translation key='study_mode' language=page.get_language %}
                                    </h2>
                                </div>
                                
                                <div class="expand">
                                    <img src="{% static 'images/plus_icon_white.svg' %}" alt="expand">
                                </div>
                                
                                <div class="collapse">
                                    <img src="{% static 'images/minus_icon.svg' %}" alt="collapse">
                                </div>
                            </div>
                            <div class="course-finder-results__result-accordion-body">
                                <div>
                                    <input id="mode-full-time" class="" type="checkbox" name="mode_query" value="Full-time"
                                    {% if 'Full-time' in filter_form.mode_query %}checked{% endif %}/>
                                    
                                    <label class="" for="mode-full-time">
                                        {% get_translation key='full_time' language=page.get_language %}
                                    </label>
                                </div>
                                <div>
                                    <input id="mode-part-time" class="" type="checkbox" name="mode_query" value="Part-time"
                                    {% if 'Part-time' in filter_form.mode_query %}checked{% endif %}/>
                                    
                                    <label class="" for="mode-part-time">
                                        {% get_translation key='part_time' language=page.get_language %}
                                    </label>
                                </div>
                            </div>                            
                        <fieldset>                        
                    </div>
                </div>
                <!-- <div class="filters-apply-button">Apply filters</div> -->
                <!-- <div class="filters-show-button">Show filters</div> -->
                <!-- /MY STUFF END -->
                
                    <button class="filters-block__submit-btn">
                        {% get_translation key='apply_filters' language=page.get_language %}
                </div>
            </form>
        </div>
    </div>
</div>
