{% load discover_uni_tags wagtailcore_tags %}

<div class="filters-block__filter-accordion">
    <div tabindex="0" role="button" aria-label="Show content" class="filters-block__filter-accordion-header">
        <div class="filters-block__filter-accordion-heading">
            <div class="filters-block__filter-accordion-title">
                {% get_translation key='institution' language=page.get_language %}
            </div>
        </div>
        <div class="expand">
            <img src="/static/images/plus_icon_black.svg" alt="expand">
        </div>

        <div class="collapse">
            <img src="/static/images/minus_icon_black.svg" alt="collapse">
        </div>
    </div>
    <div class="filters-block__filter-accordion-body-institution">
		{% for institution in institutions_list %}
			<div class="filters-block__filter-option">
				<input id="{{institution}}" class="filters-block__filter-checkbox-input" type="checkbox" name="institutions_query" value="{{institution}}">
				<label class="filters-block__filter-checkbox-label-bold" for="countries-scotland">
			        {{institution.name}}
			    </label>
			</div>
		{% endfor %}
	</div>
</div>