{% load discover_uni_tags %}

<h2 class="filters-block__filter-heading">
    {% get_translation key='work_placement_year' language=page.get_language %}
</h2>

<div class="filters-block__filter-options">
    <div class="filters-block__filter-option">
        <input id="placement-yes" class="filters-block__filter-radio-input" type="radio" name="placement" value="yes" />

        <label class="filters-block__filter-radio-label" for="placement-yes">
            {% get_translation key='with_placement' language=page.get_language %}
        </label>
    </div>

    <div class="filters-block__filter-option">
        <input id="placement-no" class="filters-block__filter-radio-input" type="radio" name="placement" value="no" />

        <label class="filters-block__filter-radio-label" for="placement-no">
            {% get_translation key='without_placement' language=page.get_language %}
        </label>
    </div>

    <div class="filters-block__filter-option">
        <input id="placement-either" class="filters-block__filter-radio-input" type="radio" name="placement" value="na" />

        <label class="filters-block__filter-radio-label" for="placement-either">
            {% get_translation key='dont_mind' language=page.get_language %}
        </label>
    </div>
</div>