{% load discover_uni_tags wagtailcore_tags %}

<div class="filters-block__filter-accordion">
    <div tabindex="0" role="button" aria-label="Show content" class="filters-block__filter-accordion-header">
        <div class="filters-block__filter-accordion-heading">
            <div class="filters-block__filter-accordion-title">
                {% get_translation key='study_mode' language=page.get_language %}
            </div>
        </div>

        <div class="expand">
            <img src="/static/images/plus_icon_black.svg" alt="expand">
        </div>

        <div class="collapse">
            <img src="/static/images/minus_icon_black.svg" alt="collapse">
        </div>
    </div>
    <div class="filters-block__filter-accordion-body">
        <div class="filters-block__filter-options">
            <div class="filters-block__filter-option">
                <input id="mode-full-time" class="filters-block__filter-checkbox-input" type="checkbox" name="mode_query" value="Full-time" 
                    {% if 'Full-time' in filter_form.mode_query %}checked{% endif %} />
                
                <label class="filters-block__filter-checkbox-label" for="mode-full-time">
                    {% get_translation key='full_time' language=page.get_language %}
                </label>
            </div>
            <div class="filters-block__filter-option">
                <input id="mode-part-time" class="filters-block__filter-checkbox-input" type="checkbox" name="mode_query" value="Part-time" 
                    {% if 'Part-time' in filter_form.mode_query %}checked{% endif %} />

                <label class="filters-block__filter-checkbox-label" for="mode-part-time">
                    {% get_translation key='part_time' language=page.get_language %}
                </label>
            </div>
            <hr>
            <div class="filters-block__filter-options-title">
                {% get_translation key='learning' language=page.get_language %}
            </div>
            <div class="filters-block__filter-option">
                <input id="mode-distance" class="filters-block__filter-checkbox-input" type="checkbox" name="mode_query" value="Distance learning" 
                    {% if 'Distance learning' in filter_form.mode_query %}checked{% endif %}/>

                <label class="filters-block__filter-checkbox-label" for="mode-distance">
                    {% get_translation key='distance_learning' language=page.get_language %}
                </label>
            </div>
            <div class="filters-block__filter-option">
                <input id="mode-campus" disabled="disabled" class="filters-block__filter-checkbox-input" type="checkbox" name="mode_query" value="On campus" 
                {% if 'On campus' in filter_form.mode_query %}checked{% endif %} />
                
                <label class="filters-block__filter-checkbox-label" for="mode-campus">
                    {% get_translation key='on_campus' language=page.get_language %}
                </label>
            </div>
        </div>
    </div>
</div>
