/*#########################
######## Homepage ########
#########################*/

.home {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 270px;
  grid-template-rows: 270px;
}

.header {
  display: -ms-grid;
  display: grid;
  text-align: left;
  background-color: #5F607C;
  color: #fff;
  height: 100%;
  position: relative;
}

.header-content {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 0 0 8%;
}

.blue-block {
  height: 150px;
  width: 100vw;
  position: absolute;
  bottom: -150px;
  background-color: #5F607C;
  z-index: -1;
}

.slope {
  position: absolute;
  bottom: -150px;
  border-right: 100vw solid #fff;
  border-top: 60px solid #5e607c;
  z-index: -1;
}

.header-content h1 {
  margin: 0;
}

.links-container {
  padding-top: 60px;
  -ms-grid-rows: 150px 45px 150px 45px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-row-gap: 45px;
}

.links-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.links-container > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.links-container > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

a {
  text-decoration: none;
  text-align: left;
  color: #4C4D6C;
  display: -ms-grid;
  display: grid;
  background-color: #F0F7FF;
  border: 1px solid #4C4D6C;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
}

.link {
  padding-left: 45px;
  padding-right: 45px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.link h2 {
  margin: 0;
}

.link p {
  margin: 0;
}

.search-form {
  background-color: #5F607C;
  color: #fff;
  margin-top: 45px;
  padding-bottom: 60px;
}

.search-form h1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.search-form form {
  text-align: left;
}

.search-form form input {
  margin-top: 15px;
}

.search-form form input:first-of-type {
  margin-bottom: 22.5px;
}

.search-form form select {
  margin-bottom: 0;
  margin-top: 15px;
  border: none;
}

.search-form div span {
  top: 15px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: 50px;
}

.search-form form input[type="submit"] {
  margin-top: 30px;
  height: 50px;
}

@media only screen and (max-width: 770px) {

  .home {
    -ms-grid-rows: 240px;
    grid-template-rows: 240px;
  }

  .header-content {
    margin: 0 0 0 30px;
  }

  .blue-block {
    height: 96px;
    width: 100vw;
    position: absolute;
    bottom: -95px;
    background-color: #5F607C;
    z-index: -1;
  }

  .slope {
    position: absolute;
    bottom: -95px;
    border-right: 100vw solid #fff;
    border-top: 60px solid #5e607c;
    z-index: -1;
  }

  .links-container {
    width: 100%;
    -ms-grid-rows: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    padding-top: 0;
  }

  .link {
    padding-left: 30px;
    padding-right: 30px;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    padding-top: 30px;
  }

  .link h2 {
    margin-bottom: 15px;
  }
}
