<svg class="base_gradient course-detail course-details-thin">
	<defs>
        <linearGradient id="gradient-bar" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop id="stop-0" offset="0%" />
            <stop id="stop-1" offset="100%" />
        </linearGradient>
        <radialGradient id="gradient-doughnut" cx="100%" cy="50%" r="100%">
            <stop offset="0" style="stop-color:#002162;stop-opacity:1" />
            <stop offset="1" style="stop-color:#0B3588;stop-opacity:1" />
          </radialGradient>
    </defs>
</svg>