{% load discover_uni_tags %}
<div>
    <p class="leo-banner px-4" role="banner">
        {% get_translation key='tariff_data_notice' language=page.get_language %}
        <a
                href="{% if page.is_english %}/about-our-data/#the_national_student_survey{% else %}/cy/ynglŷn-ân-data-about-our-data-cy/#arolwg_cenedlaethol_o_fyfyrwyr{% endif %}"
                title="Read more"
                target="_blank"
        >{% get_translation key='read_more' language=page.get_language %}</a>
    </p>
</div>