{% load static discover_uni_tags %}
<div class="explanation__link">
    <p style="font-size: 1rem; font-weight: bold" id="gcuButton" class="information-link">
        {% get_translation key="gcu_data_year" language=page.get_language %}
        <img class="information-icon" id="gcuButtonImg" src="{% static 'images/info-icon.png' %}" alt="Chart labels explained">
    </p>
    <div id="gcuMessage" tabindex="-1" class="chart-label-explanation" role="dialog" style="display: none;">
        {% get_translation key="gcu_message" language=page.get_language %}
    </div>
</div>

<style>
    #gcuMessage {
        position: absolute;
        z-index: 100;
        margin-top: 10px;
        width: 35%;
        padding: 20px;
        background-color: #FFFFFF;
        border: 1px solid #D7D7D7;
        border-radius: 10px;
        box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.28);
    }
</style>
<script>
    document.getElementById("gcuButtonImg").addEventListener("mouseenter", () => {
        document.getElementById("gcuMessage").style.display = "block"
    })
    document.getElementById("gcuButtonImg").addEventListener("mouseout", () => {
        document.getElementById("gcuMessage").style.display = "none"
    })
</script>
