{% load wagtailcore_tags discover_uni_tags %}

<div class="data-source">
    {% create_list question_stats.number_of_students question_stats.response_rate as data %}
    {% get_translation key='data_from_students' language=page.get_language as source %}
    {% insert_values_to_plain_text content=source substitutions=data as source_text %}
    <p>{{ source_text }}</p>

    <div class="d-flex flex-column">
        <p>{% get_translation key='data_for_students_graduating' language=page.get_language %} {{ question_stats.aggregation_year }}</p>
        <p><a target="_blank" href=\"http://www.discoveruni.gov.uk/about-our-data/#the_national_student_survey\">Source: NSS (National
            Student Survey)</a></p>
    </div>
</div>
