{% load static discover_uni_tags %}
{% load i18n %}
{% load humanize %}

<div class="inside-box"> <!--inside-box-->
{% if theme %}
    <h2 style="padding: 10px 0 0 20px; margin-bottom: 0;">{{ title }}</h2>
{% endif %}
    <div class="charts d-flex">
        <div class=" mt-3 additional-class d-flex flex-fill five-box-outer"><!--left side-->
            <!--the box-->
             <div class="student-satisfaction__title-box" {% if not theme %}style="background-color: #0a1d42; color: white"{% endif %}>
                {% if theme %}
                   {% include 'courses/new_course_details/partials/custom_donut.html' with percent=theme %}
                <p>{{ description }}</p>
                {% else %}
                    <h2 style="padding: 30px;">{{ title }}</h2>
                {% endif %}
            </div>
            <!-- end of box-->
        </div>
        <div class="student-satisfaction__charts mt-3 mb-auto justify-content-start">
            <!--right-side-->
            <div class="top-row top-row-5 d-flex">
                <!-- question 1 -->
                {% if q1.show_data_point %}

                    <div class="student-satisfaction__chart-wrapper box-wrapper">
                        <div class="student-satisfaction__chart discover-uni-chart doughnut lg-chart mx-1"
                             data-value="{{ q1.agree_or_strongly_agree }}"
                             data-question="satisfaction-1"
                             data-language="{{ page.get_language }}"
                             data-field="{% get_translation key=q1.description language=page.get_language %}">
                            <p class="student-satisfaction__chart-percentage">{{ q1.agree_or_strongly_agree }}%</p>
                            <p class="student-satisfaction__chart-title"
                               aria-hidden="true"
                               aria-hidden="true">{% get_translation key=q1.description language=page.get_language %}</p>
                        </div>
                    </div>
                {% endif %}

                <!-- question 2 -->
                {% if q2.show_data_point %}
                    <div class="student-satisfaction__chart-wrapper box-wrapper">
                        <div class="student-satisfaction__chart discover-uni-chart doughnut lg-chart mx-1"
                             data-value="{{ q2.agree_or_strongly_agree }}"
                             data-question="satisfaction-2"
                             data-language="{{ page.get_language }}"
                             data-field="{% get_translation key=q2.description language=page.get_language %}">
                            <p class="student-satisfaction__chart-percentage">{{ q2.agree_or_strongly_agree }}%</p>
                            <p class="student-satisfaction__chart-title"
                               aria-hidden="true"
                               aria-hidden="true">{% get_translation key=q2.description language=page.get_language %}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="bottom-row bottom-row-5 d-flex">

            <!-- question 3 -->
                {% if q3.show_data_point %}
                    <div class="student-satisfaction__chart-wrapper box-wrapper">
                        <div class="student-satisfaction__chart discover-uni-chart doughnut lg-chart mx-1"
                             data-value="{{ q3.agree_or_strongly_agree }}"
                             data-question="satisfaction-3"
                             data-language="{{ page.get_language }}"
                             data-field="{% get_translation key=q3.description language=page.get_language %}">
                            <p class="student-satisfaction__chart-percentage">{{ q3.agree_or_strongly_agree }}%</p>
                            <p class="student-satisfaction__chart-title"
                               aria-hidden="true"
                               aria-hidden="true">{% get_translation key=q3.description language=page.get_language %}</p>
                        </div>
                    </div>
                {% endif %}

            <!-- question 4 -->
                {% if q4.show_data_point %}
                    <div class="student-satisfaction__chart-wrapper box-wrapper">
                        <div class="student-satisfaction__chart discover-uni-chart doughnut lg-chart mx-1"
                             data-value="{{ q4.agree_or_strongly_agree }}"
                             data-question="satisfaction-4"
                             data-language="{{ page.get_language }}"
                             data-field="{% get_translation key=q4.description language=page.get_language %}">
                            <p class="student-satisfaction__chart-percentage">{{ q4.agree_or_strongly_agree }}%</p>
                            <p class="student-satisfaction__chart-title"
                               aria-hidden="true"
                               aria-hidden="true">{% get_translation key=q4.description language=page.get_language %}</p>
                        </div>
                    </div>
                {% endif %}

            <!-- question 5-->
            {% if q5.show_data_point %}
                    <div class="student-satisfaction__chart-wrapper box-wrapper">
                        <div class="student-satisfaction__chart discover-uni-chart doughnut lg-chart mx-1"
                             data-value="{{ q5.agree_or_strongly_agree }}"
                             data-question="satisfaction-5"
                             data-language="{{ page.get_language }}"
                             data-field="{% get_translation key=q5.description language=page.get_language %}">
                            <p class="student-satisfaction__chart-percentage">{{ q5.agree_or_strongly_agree }}%</p>
                            <p class="student-satisfaction__chart-title"
                               aria-hidden="true"
                               aria-hidden="true">{% get_translation key=q5.description language=page.get_language %}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "courses/new_course_details/partials/source.html" %}
</div>